<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICarDAO">
	<resultMap id="car_DB_Result" type="car">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="series_node" property="seriesCode" />
		<result column="series_name" property="seriesName" />
		<result column="brand_code" property="brandCode" />
		<result column="brand_name" property="brandName" />
		<result column="original_price" property="originalPrice" />
		<result column="sale_price" property="salePrice" />
		<result column="sf_amount" property="sfAmount" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="slogan" property="slogan" />
		<result column="adv_pic" property="advPic" />
		<result column="pic" property="pic" />
		<result column="description" property="description" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="seriesCode != null and seriesCode != '' ">
				AND t.series_code = #{seriesCode}
			</if>
			<if test="seriesName != null and seriesName != '' ">
				AND t.series_name like "%"#{seriesName}"%"
			</if>
			<if test="brandCode != null and brandCode != '' ">
				AND t.brand_code = #{brandCode}
			</if>
			<if test="brandName != null and brandName != '' ">
				AND t.brand_name like "%"#{brandName}"%"
			</if>
			<if test="originalPrice != null and originalPrice != '' ">
				AND t.original_price = #{originalPrice}
			</if>
			<if test="salePrice != null and salePrice != '' ">
				AND t.sale_price = #{salePrice}
			</if>
			<if test="sfAmount != null and sfAmount != '' ">
				AND t.sf_amount = #{sfAmount}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				AND t.order_no = #{orderNo}
			</if>
			<if test="slogan != null and slogan != '' ">
				AND t.slogan = #{slogan}
			</if>
			<if test="advPic != null and advPic != '' ">
				AND t.adv_pic = #{advPic}
			</if>
			<if test="pic != null and pic != '' ">
				AND t.pic = #{pic}
			</if>
			<if test="description != null and description != '' ">
				AND t.description = #{description}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="updateDatetime != null and updateDatetime != '' ">
				AND t.update_datetime = #{updateDatetime}
			</if>
			<if test="remark != null and remark != '' ">
				AND t.remark = #{remark}
			</if>
		</trim>
	</sql>
	
	<select id="select_car" parameterType="car" resultMap="car_DB_Result">
		SELECT
		code
		,name
		,series_code
		,series_name
		,brand_code
		,brand_name
		,original_price
		,sale_price
		,sf_amount
		,location
		,order_no
		,slogan
		,adv_pic
		,pic
		,description
		,status
		,updater
		,update_datetime
		,remark
		FROM
		tht_car t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_car_count" parameterType="car" resultType="java.lang.Long">
		SELECT count(1) FROM tht_car t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_car" parameterType="car">
		INSERT INTO tht_car(
		code
		,name
		,series_code
		,series_name
		,brand_code
		,brand_name
		,original_price
		,sale_price
		,sf_amount
		,location
		,order_no
		,slogan
		,adv_pic
		,pic
		,description
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{seriesCode}
		,#{seriesName}
		,#{brandCode}
		,#{brandName}
		,#{originalPrice}
		,#{salePrice}
		,#{sfAmount}
		,#{location}
		,#{orderNo}
		,#{slogan}
		,#{advPic}
		,#{pic}
		,#{description}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_car" parameterType="car">
		UPDATE tht_car SET
		name = #{name}
		,series_code = #{seriesCode}   
		,series_name = #{seriesName}   
		,brand_code = #{brandCode}    
		,brand_name = #{brandName}    
		,original_price = #{originalPrice}
		,sale_price = #{salePrice}
		,sf_amount = #{sfAmount}    
		,location = #{location}     
		,order_no = #{orderNo}      
		,slogan = #{slogan}       
		,adv_pic = #{advPic}       
		,pic = #{pic}          
		,description = #{description}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_car_up" parameterType="car">
		UPDATE tht_car SET
		location = #{location}
		,order_no = #{orderNo}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_car_down" parameterType="car">
		UPDATE tht_car SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
</mapper>