<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IDisplayTimeDAO">
    <resultMap id="BaseResultMap" type="com.cdkj.coin.domain.AdsDisplayTime">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ads_code" jdbcType="VARCHAR" property="adsCode"/>
        <result column="week" jdbcType="CHAR" property="week"/>
        <result column="start_time" jdbcType="INTEGER" property="startTime"/>
        <result column="end_time" jdbcType="INTEGER" property="endTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `ads_code`, `week`, `start_time`, `end_time`
    </sql>

    <sql id="whereCondition">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="adsCode != null and adsCode != ''">
                And ads_code = #{adsCode}
            </if>
        </trim>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tcoin_ads_display_time
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tcoin_ads_display_time
        <include refid="whereCondition"/>
    </select>

    <delete id="deleteByAdsCode" parameterType="java.lang.Integer">
        DELETE FROM tcoin_ads_display_time
        WHERE ads_code = #{adsCode}
    </delete>

    <insert id="insert" parameterType="com.cdkj.coin.domain.AdsDisplayTime">
        INSERT INTO tcoin_ads_display_time (id, ads_code, week,
                                            start_time, end_time)
        VALUES (#{id,jdbcType=INTEGER}, #{adsCode,jdbcType=VARCHAR}, #{week,jdbcType=CHAR},
                #{startTime,jdbcType=INTEGER}, #{endTime,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.cdkj.coin.domain.AdsDisplayTime">
        insert into tcoin_ads_display_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="adsCode != null">
                ads_code,
            </if>
            <if test="week != null">
                week,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="adsCode != null">
                #{adsCode,jdbcType=VARCHAR},
            </if>
            <if test="week != null">
                #{week,jdbcType=CHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=INTEGER},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cdkj.coin.domain.AdsDisplayTime">
        update tcoin_ads_display_time
        <set>
            <if test="adsCode != null">
                ads_code = #{adsCode,jdbcType=VARCHAR},
            </if>
            <if test="week != null">
                week = #{week,jdbcType=CHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=INTEGER},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.cdkj.coin.domain.AdsDisplayTime">
        UPDATE tcoin_ads_display_time
        SET ads_code   = #{adsCode,jdbcType=VARCHAR},
            week       = #{week,jdbcType=CHAR},
            start_time = #{startTime,jdbcType=INTEGER},
            end_time   = #{endTime,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>