<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IAdsSellDAO">
    <resultMap id="BaseResultMap" type="com.cdkj.coin.domain.AdsSell">
        <id column="code" jdbcType="VARCHAR" property="code"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="trade_currency" jdbcType="VARCHAR" property="tradeCurrency"/>
        <result column="trade_coin" jdbcType="VARCHAR" property="tradeCoin"/>
        <result column="only_trust" jdbcType="VARCHAR" property="onlyTrust"/>
        <result column="premium_rate" jdbcType="DECIMAL" property="premiumRate"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="left_amount" jdbcType="DECIMAL" property="leftAmount"/>
        <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
        <result column="protect_price" jdbcType="DECIMAL" property="protectPrice"/>
        <result column="min_trade" jdbcType="DECIMAL" property="minTrade"/>
        <result column="max_trade" jdbcType="DECIMAL" property="maxTrade"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="pay_limit" jdbcType="INTEGER" property="payLimit"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime"/>
        <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
        <result column="leave_message" jdbcType="LONGVARCHAR" property="leaveMessage"/>

    </resultMap>

    <sql id="Base_Column_List">
        code, user_id, trade_currency, trade_coin, only_trust, premium_rate, total_amount,
        left_amount, market_price, protect_price, min_trade, max_trade, pay_type, pay_limit,
        status, create_datetime, update_datetime,  leave_message

    </sql>


    <insert id="insert" parameterType="com.cdkj.coin.domain.AdsSell">
        INSERT INTO tcoin_ads (code, user_id, trade_currency,
                                    trade_coin, only_trust, premium_rate,
                                    total_amount, left_amount, market_price,
                                    protect_price, min_trade, max_trade,
                                    pay_type, pay_limit, status,
                                    create_datetime, update_datetime, leave_message
        )
        VALUES (#{code,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{tradeCurrency,jdbcType=VARCHAR},
                                          #{tradeCoin,jdbcType=VARCHAR}, #{onlyTrust,jdbcType=VARCHAR},
                                          #{premiumRate,jdbcType=DECIMAL},
                                          #{totalAmount,jdbcType=DECIMAL}, #{leftAmount,jdbcType=DECIMAL},
                                          #{marketPrice,jdbcType=DECIMAL},
                                          #{protectPrice,jdbcType=DECIMAL}, #{minTrade,jdbcType=DECIMAL},
                #{maxTrade,jdbcType=DECIMAL},
                #{payType,jdbcType=VARCHAR}, #{payLimit,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR},
                #{createDatetime,jdbcType=TIMESTAMP}, #{updateDatetime,jdbcType=TIMESTAMP},
                #{leaveMessage,jdbcType=LONGVARCHAR}
        )
    </insert>

    <sql id="whereCondition">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="currentTime != null and currentTime != '' and currentWeek != null and currentWeek != ''">
                AND   (
                tcoin_ads_display_time.adsCode IS NULL OR (
                #{currentTime} >= tcoin_ads_display_time.start_time
                <![CDATA[ and #{currentTime} < tcoin_ads_display_time.end_time ]]>
                )
                )
            </if>
            <if test="code != null and code != '' ">
                AND `code` = #{code}
            </if>
            <if test="userId != null and userId != '' ">
                AND `user_id` = #{code}
            </if>
            <if test="tradeCoin != null and tradeCoin != ''">
                And `trade_coin` = #{tradeCoin}
            </if>
            <if test="status != null and status != ''">
                And `status` = #{status}
            </if>
        </trim>
    </sql>

    <!--          前端            -->
    <sql id="frontFromWhereCondition">
        <!--WHERE-->
        <!--(-->
        <!--tcoin_ads_display_time.adsCode IS NULL OR (-->
        <!--#{currentTime} >= tcoin_ads_display_time.start_time-->
        <!--<![CDATA[ and #{currentTime} < tcoin_ads_display_time.end_time ]]>-->
        <!--)-->
        <!--)-->
        <!--<if test="tradeCoin != null and tradeCoin != ''">-->
            <!--And `trade_coin` = #{tradeCoin}-->
        <!--</if>-->

        <!--<if test="status != null and status != ''">-->
            <!--And `status` = #{status}-->
        <!--</if>-->

    </sql>


    <select id="selectFrontTotalCount" parameterType="sysDict" resultType="java.lang.Long">
        SELECT count(1)
        FROM tcoin_ads
        LEFT JOIN tcoin_ads_display_time ON tcoin_ads.code = tcoin_ads_display_time.adsCode
        AND tcoin_ads_display_time.week = #{currentWeek}
        <include refid="whereCondition"/>
    </select>

    <select id="selectFront" resultMap="BaseResultMap" parameterType="com.cdkj.coin.domain.AdsSell">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tcoin_ads
        LEFT JOIN tcoin_ads_display_time ON tcoin_ads.code = tcoin_ads_display_time.adsCode
        AND tcoin_ads_display_time.week = #{currentWeek}
        <include refid="whereCondition"/>

    </select>

    <!-- #########################  管理端  ################################-->


    <select id="selectTotalCount" parameterType="sysDict" resultType="java.lang.Long">
        SELECT count(1)
        <include refid="whereCondition"/>
    </select>

    <select id="select" resultMap="BaseResultMap" parameterType="com.cdkj.coin.domain.AdsSell">
        SELECT
            <include refid="Base_Column_List"/>
        FROM tcoin_ads
             <include refid="whereCondition"/>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.cdkj.coin.domain.AdsSell">
        update tcoin_ads
        <set>
            <if test="tradeCurrency != null">
                trade_currency = #{tradeCurrency,jdbcType=VARCHAR},
            </if>
            <if test="tradeCoin != null">
                trade_coin = #{tradeCoin,jdbcType=VARCHAR},
            </if>
            <if test="onlyTrust != null">
                only_trust = #{onlyTrust,jdbcType=VARCHAR},
            </if>
            <if test="premiumRate != null">
                premium_rate = #{premiumRate,jdbcType=DECIMAL},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="leftAmount != null">
                left_amount = #{leftAmount,jdbcType=DECIMAL},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice,jdbcType=DECIMAL},
            </if>
            <if test="protectPrice != null">
                protect_price = #{protectPrice,jdbcType=DECIMAL},
            </if>
            <if test="minTrade != null">
                min_trade = #{minTrade,jdbcType=DECIMAL},
            </if>
            <if test="maxTrade != null">
                max_trade = #{maxTrade,jdbcType=DECIMAL},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payLimit != null">
                pay_limit = #{payLimit,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDatetime != null">
                update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveMessage != null">
                leave_message = #{leaveMessage,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where code = #{code,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.cdkj.coin.domain.AdsSell">
        UPDATE tcoin_ads
        SET user_id         = #{userId,jdbcType=VARCHAR},
            trade_currency  = #{tradeCurrency,jdbcType=VARCHAR},
            trade_coin      = #{tradeCoin,jdbcType=VARCHAR},
            only_trust      = #{onlyTrust,jdbcType=VARCHAR},
            premium_rate    = #{premiumRate,jdbcType=DECIMAL},
            total_amount    = #{totalAmount,jdbcType=DECIMAL},
            left_amount     = #{leftAmount,jdbcType=DECIMAL},
            market_price    = #{marketPrice,jdbcType=DECIMAL},
            protect_price   = #{protectPrice,jdbcType=DECIMAL},
            min_trade       = #{minTrade,jdbcType=DECIMAL},
            max_trade       = #{maxTrade,jdbcType=DECIMAL},
            pay_type        = #{payType,jdbcType=VARCHAR},
            pay_limit       = #{payLimit,jdbcType=INTEGER},
            status          = #{status,jdbcType=VARCHAR},
            create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
            update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
            leave_message   = #{leaveMessage,jdbcType=LONGVARCHAR}
        WHERE code = #{code,jdbcType=VARCHAR}
    </update>

</mapper>