<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAdvanceFundDAO">
	<resultMap id="advanceFund_DB_Result" type="advanceFund">
		<result column="code" property="code" />
		<result column="budget_code" property="budgetCode" />
		<result column="total_advance_fund_code" property="totalAdvanceFundCode" />
		<result column="type" property="type" />
		<result column="customer_name" property="customerName" />
		<result column="company_code" property="companyCode" />
		<result column="car_dealer_code" property="carDealerCode" />
		<result column="use_amount" property="useAmount" />

        <result column="loan_amount" property="loanAmount" />    
        <result column="service_charge" property="serviceCharge" />  
        <result column="service_charge_way" property="serviceChargeWay" />  
        <result column="gps_fee" property="gpsFee" />  
        <result column="gps_fee_way" property="gpsFeeWay" />  
                           
		<result column="loan_bank_code" property="loanBankCode" />
		<result column="is_advance_fund" property="isAdvanceFund" />
		<result column="collect_bankcard_code" property="collectBankcardCode" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="make_bill_note" property="makeBillNote" />
		<result column="advance_fund_amount" property="advanceFundAmount" />
		<result column="advance_fund_datetime" property="advanceFundDatetime" />
		<result column="pay_bankcard_code" property="payBankcardCode" />
		<result column="bill_pdf" property="billPdf" />
		<result column="note" property="note" />
		<result column="cancel_reason" property="cancelReason" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="budgetCode != null and budgetCode != '' ">
				AND t.budget_code = #{budgetCode}
			</if>
			<if test="customerName != null and customerName != '' ">
				AND t.customer_name = "%"#{customerName}"%"
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="loanBankCode != null and loanBankCode != '' ">
				AND t.loan_bank_code = #{loanBankCode}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				AND t.apply_datetime &gt;= #{applyDatetimeStart}
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				AND t.apply_datetime &lt;= #{applyDatetimeEnd}
			</if>
			<if test="updateDatetimeStart != null and updateDatetimeStart != '' ">
				AND t.update_datetime &gt;= #{updateDatetimeStart}
			</if>
			<if test="updateDatetimeEnd != null and updateDatetimeEnd != '' ">
				AND t.update_datetime &lt;= #{updateDatetimeEnd}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND trn.role_code = #{roleCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="curNodeCodeList != null and curNodeCodeList.size() != 0 ">
				AND t.cur_node_code in 
                <foreach item="item" index="index" collection="curNodeCodeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_advanceFund" parameterType="advanceFund" resultMap="advanceFund_DB_Result">
		SELECT
		t.code
		,t.budget_code
		,t.total_advance_fund_code
		,t.type
		,t.customer_name
		,t.company_code
		,t.car_dealer_code
		,t.use_amount
		
		,t.loan_amount
		,t.service_charge
		,t.service_charge_way
		,t.gps_fee
		,t.gps_fee_way
		
		,t.loan_bank_code
		,t.is_advance_fund
		,t.collect_bankcard_code
		,t.cur_node_code
		,t.make_bill_note
		,t.advance_fund_amount
		,t.advance_fund_datetime
		,t.pay_bankcard_code
		,t.bill_pdf
		,t.note
		,t.cancel_reason
		,t.updater
		,t.update_datetime
		,t.apply_user
		,t.apply_datetime
		FROM
		tdq_advance_fund t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_advanceFund_count" parameterType="advanceFund"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_advance_fund t
		<include refid="where_condition" />
	</select>
	
	<select id="select_advanceFund_byRoleCode" parameterType="advanceFund" resultMap="advanceFund_DB_Result">
		SELECT
		distinct
		t.code
		,t.budget_code
		,t.total_advance_fund_code
		,t.type
		,t.customer_name
		,t.company_code
		,t.car_dealer_code
		,t.use_amount
		,t.loan_amount
		,t.service_charge
		,t.service_charge_way
		,t.gps_fee
		,t.gps_fee_way
		,t.loan_bank_code
		,t.is_advance_fund
		,t.collect_bankcard_code
		,t.cur_node_code
		,t.make_bill_note
		,t.advance_fund_amount
		,t.advance_fund_datetime
		,t.pay_bankcard_code
		,t.bill_pdf
		,t.note
		,t.cancel_reason
		,t.updater
		,t.update_datetime
		,t.apply_user
		,t.apply_datetime
		FROM
		tdq_advance_fund t left join tsys_role_node trn on t.cur_node_code = trn.node_code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_advanceFund_count_byRoleCode" parameterType="advanceFund"
		resultType="java.lang.Long">
		SELECT count(1) FROM (SELECT distinct code FROM tdq_advance_fund t left join tsys_role_node trn on t.cur_node_code = trn.node_code
		<include refid="where_condition" />) tb
	</select>

	<insert id="insert_advanceFund" parameterType="advanceFund">
		INSERT INTO
		tdq_advance_fund(
		code
		,budget_code
		,total_advance_fund_code
		,type
		,customer_name
		,company_code
		,car_dealer_code
		,use_amount
		,loan_amount
		,service_charge
		,service_charge_way
		,gps_fee
		,gps_fee_way
		,loan_bank_code
		,is_advance_fund
		,collect_bankcard_code
		,cur_node_code
		,make_bill_note
		,advance_fund_amount
		,advance_fund_datetime
		,pay_bankcard_code
		,bill_pdf
		,note
		,cancel_reason
		,updater
		,update_datetime
		,apply_user
		,apply_datetime
		)
		VALUES(
		#{code}
		,#{budgetCode}
		,#{totalAdvanceFundCode}
		,#{type}
		,#{customerName}
		,#{companyCode}
		,#{carDealerCode}
		,#{useAmount}
		,#{loanAmount}
		,#{serviceCharge}
		,#{serviceChargeWay}
		,#{gpsFee}
		,#{gpsFeeWay}
		,#{loanBankCode}
		,#{isAdvanceFund}
		,#{collectBankcardCode}
		,#{curNodeCode}
		,#{makeBillNote}
		,#{advanceFundAmount}
		,#{advanceFundDatetime}
		,#{payBankcardCode}
		,#{billPdf}
		,#{note}
		,#{cancelReason}
		,#{updater}
		,#{updateDatetime}
		,#{applyUser}
		,#{applyDatetime}
		)
	</insert>

	<update id="update_advanceFund" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		budget_code = #{budgetCode}
		,total_advance_fund_code = #{totalAdvanceFundCode}
		,type = #{type}
		,customer_name = #{customerName}
		,company_code = #{companyCode}
		,car_dealer_code = #{carDealerCode}
		,use_amount = #{useAmount}
		
		,loan_amount = #{loanAmount}
		,service_charge = #{serviceCharge}
		,service_charge_way = #{serviceChargeWay}
		,gps_fee = #{gpsFee}
		,gps_fee_way = #{gpsFeeWay}
		
		,loan_bank_code = #{loanBankCode}
		,is_advance_fund = #{isAdvanceFund}
		,collect_bankcard_code = #{collectBankcardCode}
		,cur_node_code = #{curNodeCode}
		,make_bill_note = #{makeBillNote}
		,advance_fund_amount = #{advanceFundAmount}
		,advance_fund_datetime = #{advanceFundDatetime}
		,pay_bankcard_code = #{payBankcardCode}
		,bill_pdf = #{billPdf}
		,note = #{note}
		,cancel_reason = #{cancelReason}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_confirm_advance_fund" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		updater = #{updater}
		,update_datetime = #{updateDatetime}
		,apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		,is_advance_fund = #{isAdvanceFund}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_area_audit" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_province_audit" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_parent_make_bill" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_branch_make_bill" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		cur_node_code = #{curNodeCode}
		,total_advance_fund_code = #{totalAdvanceFundCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_confirm_pay_car_dealer" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		advance_fund_amount = #{advanceFundAmount}
		,advance_fund_datetime = #{advanceFundDatetime}
		,pay_bankcard_code = #{payBankcardCode}
		,bill_pdf = #{billPdf}
		,note = #{note}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>

	<update id="update_confirm_pay_branch_company" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		cur_node_code = #{curNodeCode}
		,total_advance_fund_code = #{totalAdvanceFundCode}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_apply_cancel_advance_fund" parameterType="advanceFund">
		UPDATE tdq_advance_fund
		SET
		cur_node_code = #{curNodeCode}
		,cancel_reason = #{cancelReason}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	
	</update>
	

</mapper>