<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IArchiveDAO">
	<resultMap id="Archive_DB_Result" type="archive">
		<result column="code" property="code" />
		<result column="real_name" property="realName" />
		<result column="id_no" property="idNo" />
		<result column="mobile" property="mobile" />
		<result column="job_no" property="jobNo" />
		<result column="entry_datetime" property="entryDatetime" />
		<result column="department_code" property="departmentCode" />
		<result column="post_code" property="postCode" />
		<result column="job_classes" property="jobClasses" />
		<result column="birthday" property="birthday" />
		<result column="gender" property="gender" />
		<result column="nation" property="nation" />
		<result column="native_place" property="nativePlace" />
		<result column="marry_status" property="marryStatus" />
		<result column="politics" property="politics" />
		<result column="major" property="major" />
		<result column="education" property="education" />
		<result column="work_status" property="workStatus" />
		<result column="health" property="health" />
		<result column="salary_card" property="salaryCard" />
		<result column="bank_name" property="bankName" />
		<result column="subbranch" property="subbranch" />
		<result column="five_insurance_info" property="fiveInsuranceInfo" />
		<result column="residence_address" property="residenceAddress" />
		<result column="residence_property" property="residenceProperty" />
		<result column="social_securityReg_datetime" property="socialSecurityRegDatetime" />
		<result column="current_address" property="currentAddress" />
		<result column="emergency_contact" property="emergencyContact" />
		<result column="emergency_contact_mobile" property="emergencyContactMobile" />
		<result column="contract_deadline" property="contractDeadline" />
		<result column="contract_type" property="contractType" />
		<result column="probation_time" property="probationTime" />
		<result column="convert_datetime" property="convertDatetime" />
		<result column="leave_datetime" property="leaveDatetime" />
		<result column="leave_reason" property="leaveReason" />
		<result column="heir_people" property="heirPeople" />
		<result column="entrance_no" property="entranceNo" />
		<result column="check_no" property="checkNo" />
		<result column="car_no" property="carNo" />
		<result column="id_no_pdf" property="idNoPdf" />
		<result column="photo" property="photo" />
		<result column="wechat" property="wechat" />
		<result column="qq" property="qq" />
		<result column="perform_salary_standard" property="performSalaryStandard" />
		<result column="quarterly_award_standard" property="quarterlyAwardStandard" />
		<result column="commumication_fee_standard" property="commumicationFeeStandard" />
		<result column="provincial_bed_standard" property="provincialBedStandard" />
		<result column="no_provincial_bed_standard" property="noProvincialBedStandard" />
		<result column="traffic_award" property="trafficAward" />
		<result column="mobile_award" property="mobileAward" />
		<result column="taxi_ward" property="taxiWard" />
		<result column="meal_award" property="mealAward" />
		<result column="working_years" property="workingYears" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="departmentCode != null and departmentCode != '' ">
				AND t.department_code = #{departmentCode}
			</if>
			<if test="postCode != null and postCode != '' ">
				AND t.post_code = #{postCode}
			</if>
			<if test="workStatus != null and workStatus != '' ">
				AND t.work_status = #{workStatus}
			</if>
			<if test="entryDatetimeStart != null and entryDatetimeStart != '' ">
				AND t.entry_datetime &gt;= #{entryDatetimeStart}
			</if>
			<if test="entryDatetimeEnd != null and entryDatetimeEnd != '' ">
				AND t.entry_datetime &lt;= #{entryDatetimeEnd}
			</if>
		</trim>
	</sql>
	<select id="select_archive" parameterType="archive" resultMap="Archive_DB_Result">
		SELECT
		t.code
		,t.real_name
		,t.id_no
		,t.mobile
		,t.job_no
		,t.entry_datetime
		,t.department_code
		,t.post_code
		,t.job_classes
		,t.birthday
		,t.gender
		,t.nation
		,t.native_place
		,t.marry_status
		,t.politics
		,t.major
		,t.education
		,t.work_status
		,t.health
		,t.salary_card
		,t.bank_name
		,t.subbranch
		,t.five_insurance_info
		,t.residence_address
		,t.residence_property
		,t.social_security_reg_datetime
		,t.current_address
		,t.emergency_contact
		,t.emergency_contact_mobile
		,t.contract_deadline
		,t.contract_type
		,t.probation_time
		,t.convert_datetime
		,t.leave_datetime
		,t.leave_reason
		,t.heir_people
		,t.entrance_no
		,t.check_no
		,t.car_no
		,t.id_no_pdf
		,t.photo
		,t.wechat
		,t.qq
		,t.perform_salary_standard
		,t.quarterly_award_standard
		,t.commumication_fee_standard
		,t.provincial_bed_standard
		,t.no_provincial_bed_standard
		,t.traffic_award
		,t.mobile_award
		,t.taxi_ward
		,t.meal_award
		,t.working_years
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_archive t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_archive_count" parameterType="archive"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_archive t
		<include refid="where_condition" />
	</select>

	<insert id="insert_archive" parameterType="archive">
		INSERT INTO
		tp_archive(
		code
		,real_name
		,id_no
		,mobile
		,job_no
		,entry_datetime
		,department_code
		,post_code
		,job_classes
		,birthday
		,gender
		,nation
		,native_place
		,marry_status
		,politics
		,major
		,education
		,work_status
		,health
		,salary_card
		,bank_name
		,subbranch
		,five_insurance_info
		,residence_address
		,residence_property
		,social_security_reg_datetime
		,current_address
		,emergency_contact
		,emergency_contact_mobile
		,contract_deadline
		,contract_type
		,probation_time
		,convert_datetime
		,leave_datetime
		,leave_reason
		,heir_people
		,entrance_no
		,check_no
		,car_no
		,id_no_pdf
		,photo
		,wechat
		,qq
		,perform_salary_standard
		,quarterly_award_standard
		,commumication_fee_standard
		,provincial_bed_standard
		,no_provincial_bed_standard
		,traffic_award
		,mobile_award
		,taxi_ward
		,meal_award
		,working_years
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{realName}
		,#{idNo}
		,#{mobile}
		,#{jobNo}
		,#{entryDatetime}
		,#{departmentCode}
		,#{postCode}
		,#{jobClasses}
		,#{birthday}
		,#{gender}
		,#{nation}
		,#{nativePlace}
		,#{marryStatus}
		,#{politics}
		,#{major}
		,#{education}
		,#{workStatus}
		,#{health}
		,#{salaryCard}
		,#{bankName}
		,#{subbranch}
		,#{fiveInsuranceInfo}
		,#{residenceAddress}
		,#{residenceProperty}
		,#{socialSecurityRegDatetime}
		,#{currentAddress}
		,#{emergencyContact}
		,#{emergencyContactMobile}
		,#{contractDeadline}
		,#{contractType}
		,#{probationTime}
		,#{convertDatetime}
		,#{leaveDatetime}
		,#{leaveReason}
		,#{heirPeople}
		,#{entranceNo}
		,#{checkNo}
		,#{carNo}
		,#{idNoPdf}
		,#{photo}
		,#{wechat}
		,#{qq}
		,#{performSalaryStandard}
		,#{quarterlyAwardStandard}
		,#{commumicationFeeStandard}
		,#{provincialBedStandard}
		,#{noProvincialBedStandard}
		,#{trafficAward}
		,#{mobileAward}
		,#{taxiWard}
		,#{mealAward}
		,#{workingYears}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_archive" parameterType="archive">
		UPDATE tp_archive
		SET
		real_name = #{realName}
		,id_no = #{idNo}
		,mobile = #{mobile}
		,job_no = #{jobNo}
		,entry_datetime = #{entryDatetime}
		,department_code = #{departmentCode}
		,post_code = #{postCode}
		,job_classes = #{jobClasses}
		,birthday = #{birthday}
		,gender = #{gender}
		,nation = #{nation}
		,native_place = #{nativePlace}
		,marry_status = #{marryStatus}
		,politics = #{politics}
		,major = #{major}
		,education = #{education}
		,work_status = #{workStatus}
		,health = #{health}
		,salary_card = #{salaryCard}
		,bank_name = #{bankName}
		,subbranch = #{subbranch}
		,five_insurance_info = #{fiveInsuranceInfo}
		,residence_address = #{residenceAddress}
		,residence_property = #{residenceProperty}
		,social_security_reg_datetime = #{socialSecurityRegDatetime}
		,current_address = #{currentAddress}
		,emergency_contact = #{emergencyContact}
		,emergency_contact_mobile = #{emergencyContactMobile}
		,contract_deadline = #{contractDeadline}
		,contract_type = #{contractType}
		,probation_time = #{probationTime}
		,convert_datetime = #{convertDatetime}
		,leave_datetime = #{leaveDatetime}
		,leave_reason = #{leaveReason}
		,heir_people = #{heirPeople}
		,entrance_no = #{entranceNo}
		,check_no = #{checkNo}
		,car_no = #{carNo}
		,id_no_pdf = #{idNoPdf}
		,photo = #{photo}
		,wechat = #{wechat}
		,qq = #{qq}
		,perform_salary_standard = #{performSalaryStandard}
		,quarterly_award_standard = #{quarterlyAwardStandard}
		,commumication_fee_standard = #{commumicationFeeStandard}
		,provincial_bed_standard = #{provincialBedStandard}
		,no_provincial_bed_standard = #{noProvincialBedStandard}
		,traffic_award = #{trafficAward}
		,mobileAward = #{mobileAward}
		,taxi_ward = #{taxiWard}
		,meal_award = #{mealAward}
		,working_years = #{workingYears}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	
	
	<update id="update_leave_archive" parameterType="archive">
		UPDATE tp_archive
		SET
		real_name = #{realName}
		,leave_datetime = #{leaveDatetime}
		,heir_people = #{heirPeople}
		,leave_reason = #{leaveReason}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="delete_archive">
		UPDATE tp_archive
		SET
		is_delete = '0' 
		WHERE code = #{code}
	</update>


</mapper>