<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAreaDAO">
	<resultMap id="area_DB_result" type="area">
		<result column="id" property="id" />
		<result column="area_no" property="areaNo" />
		<result column="area_name" property="areaName" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="areaNoForQuery != null and areaNoForQuery != '' ">
				AND t.area_no like "%"#{areaNo}%
			</if>
			<if test="areaNameForQuery != null and areaNameForQuery != '' ">
				AND t.area_name like "%"#{areaName}%
			</if>
		</trim>
	</sql>
	
	<select id="select_area" parameterType="area" resultMap="area_DB_result">
		SELECT
		t.id
		,t.area_no
		,t.area_name
		FROM
		tb_id_no_area t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_area_count" parameterType="area" resultType="java.lang.Long">
		SELECT count(1) FROM tb_id_no_area t 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_area" parameterType="area">
		INSERT INTO tb_id_no_area(
		area_no,
		area_name
		)
		VALUES(
		#{areaNo},
		#{areaName}
		)
	</insert>
	
	<update id="update_area" parameterType="area">
		UPDATE tb_id_no_area t
		SET
		t.area_no = #{areaNo}
		,t.area_name = #{areaName}
		WHERE id = #{id}
	</update>
	
	<delete id="delete_area" parameterType="area">
		DELETE FROM tb_id_no_area 
		WHERE id = #{id}
	</delete>
</mapper>
