<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAssertApplyDAO">
	<resultMap id="assertApply_DB_Result" type="assertApply">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_note" property="applyNote" />
		<result column="is_print" property="isPrint" />
		<result column="pdf" property="pdf" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="apply_datetime" property="applyDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="startApplyDatetime != null and startApplyDatetime != '' ">
				AND t.apply_datetime &gt;= #{startApplyDatetime}
			</if>
			<if test="endApplyDatetime != null and endApplyDatetime != '' ">
				AND t.apply_datetime &lt;= #{endApplyDatetime}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="departmentCode != null and departmentCode != '' ">
				AND tu.department_code = #{departmentCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
		</trim>
	</sql>
	<select id="select_assertApply" parameterType="assertApply" resultMap="assertApply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.apply_user
		,t.apply_datetime
		,t.apply_note
		,t.is_print
		,t.pdf
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_assert_apply t 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_assertApply_count" parameterType="assertApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_assert_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_assertApply" parameterType="assertApply">
		INSERT INTO
		tp_assert_apply(
		code
		,type
		,apply_user
		,apply_datetime
		,apply_note
		,is_print
		,pdf
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{applyUser}
		,#{applyDatetime}
		,#{applyNote}
		,#{isPrint}
		,#{pdf}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_assertApply" parameterType="assertApply">
		UPDATE tp_assert_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<select id="select_assertApply_byDepartmentCode" parameterType="assertApply" resultMap="assertApply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.apply_user
		,t.apply_datetime
		,t.apply_note
		,t.is_print
		,t.pdf
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_assert_apply t left join tsys_user tu on t.apply_user=tu.user_id 
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_assertApply_count_byDepartmentCode" parameterType="assertApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM (SELECT  code
		FROM tp_assert_apply t left join tsys_user tu on t.apply_user=tu.user_id 
		<include refid="where_condition" />) tb
	</select>


</mapper>