<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAssertUserDAO">
	<resultMap id="assertUser_DB_Result" type="assertUser">
		<result column="code" property="code" />
		<result column="assert_code" property="assertCode" />
		<result column="user_id" property="userId" />
		<result column="print_quantity" property="printQuantity" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_assertUser" parameterType="assertUser" resultMap="assertUser_DB_Result">
		SELECT
		t.code
		,t.assert_code
		,t.user_id
		,t.print_quantity
		FROM
		tp_assert_user t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_assertUser_count" parameterType="assertUser"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_assert_user t
		<include refid="where_condition" />
	</select>

	<insert id="insert_assertUser" parameterType="assertUser">
		INSERT INTO
		tp_assert_user(
		code
		,assert_code
		,user_id
		,print_quantity
		)
		VALUES(
		#{code}
		,#{assertCode}
		,#{userId}
		,#{printQuantity}
		)
	</insert>

	<update id="update_assertUser" parameterType="assertUser">
		UPDATE tp_assert_user
		SET
		assert_code = #{assertCode}
		,user_id = #{userId}
		,print_quantity = #{printQuantity}
		WHERE code = #{code}
	</update>


</mapper>