<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IAssertGoodsDAO">
	<resultMap id="assertGoods_DB_Result" type="assertGoods">
		<result column="code" property="code" />
		<result column="assert_code" property="assertCode" />
		<result column="product_code" property="productCode" />
		<result column="mode" property="mode" />
		<result column="quantity" property="quantity" />
		<result column="price" property="price" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="assertCode != null and assertCode != '' ">
				AND t.assert_code = #{assertCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
		</trim>
	</sql>
	<select id="select_assertGoods" parameterType="assertGoods" resultMap="assertGoods_DB_Result">
		SELECT
		t.code
		,t.assert_code
		,t.product_code
		,t.mode
		,t.quantity
		,t.price
		,t.remark
		FROM
		tp_assert_goods t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_assertGoods_count" parameterType="assertGoods"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_assert_goods t
		<include refid="where_condition" />
	</select>

	<insert id="insert_assertGoods" parameterType="assertGoods">
		INSERT INTO
		tp_assert_goods(
		code
		,assert_code
		,product_code
		,mode
		,quantity
		,price
		,remark
		)
		VALUES(
		#{code}
		,#{assertCode}
		,#{productCode}
		,#{mode}
		,#{quantity}
		,#{price}
		,#{remark}
		)
	</insert>

	<update id="update_assertGoods" parameterType="assertGoods">
		UPDATE tp_assert_goods
		SET
		assert_code = #{assertCode}
		,product_code = #{productCode}
		,mode = #{mode}
		,quantity = #{quantity}
		,price = #{price}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>