<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBankRepointDetailDAO">
	<resultMap id="bankRepointDetail_DB_Result" type="bankRepointDetail">
		<result column="code" property="code" />
		<result column="bank_repoint_code" property="bankRepointCode" />
		<result column="amount" property="amount" />
		<result column="settle_datetime" property="settleDatetime" />
		<result column="bill_pdf" property="billPdf" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_bankRepointDetail" parameterType="bankRepointDetail" resultMap="bankRepointDetail_DB_Result">
		SELECT
		t.code
		,t.bank_repoint_code
		,t.amount
		,t.settle_datetime
		,t.bill_pdf
		,t.updater
		,t.update_datetime
		FROM
		tb_bank_repoint_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bankRepointDetail_count" parameterType="bankRepointDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_bank_repoint_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bankRepointDetail" parameterType="bankRepointDetail">
		INSERT INTO
		tb_bank_repoint_detail(
		code
		,bank_repoint_code
		,amount
		,settle_datetime
		,bill_pdf
		,updater
		,update_datetime
		)
		VALUES(
		#{code}
		,#{bankRepointCode}
		,#{amount}
		,#{settleDatetime}
		,#{billPdf}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_bankRepointDetail" parameterType="bankRepointDetail">
		UPDATE tb_bank_repoint_detail
		SET
		bank_repoint_code = #{bankRepointCode}
		,amount = #{amount}
		,settle_datetime = #{settleDatetime}
		,bill_pdf = #{billPdf}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>


</mapper>