<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBankSubbranchDAO">
	<resultMap id="bankSubbranch_DB_result" type="bankSubbranch">
		<result column="id" property="id" />
		<result column="bank_code" property="bankCode" />
		<result column="abbr_name" property="abbrName" />
		<result column="full_name" property="fullName" />
		<result column="open_bank" property="openBank" />
		
		<result column="address" property="address" />
		<result column="phone_number" property="phoneNumber" />
		<result column="post_code" property="postCode" />
		<result column="bank_client" property="bankClient" />
		<result column="client_valid_date" property="clientValidDate" />

		<result column="auther_name" property="autherName" />
		<result column="auther_phone_number" property="autherPhoneNumber" />
		<result column="auther_id_no" property="autherIdNo" />
		<result column="auther_address" property="autherAddress" />
		<result column="credit_card_type" property="creditCardType" />
		
		<result column="credit_card_name" property="creditCardName" />
		<result column="belong_area" property="belongArea" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
				AND t.phone_number = #{phoneNumber}
			</if>
			<if test="abbrName != null and abbrName != '' ">
				AND t.abbr_name like "%"#{abbrName}"%"
			</if>
			<if test="fullName != null and fullName != '' ">
				AND t.full_name like "%"#{fullName}"%"
			</if>
			<if test="openBank != null and openBank != '' ">
				AND t.open_bank like "%"#{openBank}"%"
			</if>
			<if test="postCode != null and postCode != '' ">
				AND t.post_code like "%"#{postCode}"%"
			</if>
		</trim>
	</sql>
	
	<select id="select_bankSubbranch" parameterType="bankSubbranch" resultMap="bankSubbranch_DB_result">
		SELECT
		t.id
		,t.bank_code
		,t.abbr_name
		,t.full_name
		,t.open_bank
		
		,t.address
		,t.phone_number
		,t.post_code
		,t.bank_client
		,t.client_valid_date
		
		,t.auther_name
		,t.auther_phone_number
		,t.auther_id_no
		,t.auther_address
		,t.credit_card_type
		
		,t.credit_card_name
		,t.belong_area
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tb_bank_subbranch t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bankSubbranch_count" parameterType="bankSubbranch" resultType="java.lang.Long">
		SELECT count(1) FROM tb_bank_subbranch t 
		<include refid="where_condition"/>
	</select>
	
	<select id="select_bankSubbranch_maxId" parameterType="bankSubbranch" resultType="java.lang.Long">
		SELECT MAX(id) FROM tb_bank_subbranch t
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_bankSubbranch" parameterType="bankSubbranch">
		INSERT INTO tb_bank_subbranch(
		bank_code
		,abbr_name
		,full_name
		,open_bank
		
		,address
		,phone_number
		,post_code
		,bank_client
		,client_valid_date
		
		,auther_name
		,auther_phone_number
		,auther_id_no
		,auther_address
		,credit_card_type
		
		,credit_card_name
		,belong_area
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{bankCode}
		,#{abbrName}
		,#{fullName}
		,#{openBank}
		
		,#{address}
		,#{phoneNumber}
		,#{postCode}
		,#{bankClient}
		,#{clientValidDate}
		
		,#{autherName}
		,#{autherPhoneNumber}
		,#{autherIdNo}
		,#{autherAddress}
		,#{creditCardType}
		
		,#{creditCardName}
		,#{belongArea}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_bankSubbranch" parameterType="bankSubbranch">
		UPDATE tb_bank_subbranch t
		SET
		t.abbr_name = #{abbrName}
		,t.full_name = #{fullName}
		,t.open_bank = #{openBank}
		,t.address = #{address}
		
		,t.phone_number = #{phoneNumber}
		,t.post_code = #{postCode}
		,t.bank_client = #{bankClient}
		,t.client_valid_date = #{clientValidDate}
		,t.auther_name = #{autherName}
		
		,t.auther_phone_number = #{autherPhoneNumber}
		,t.auther_id_no = #{autherIdNo}
		,t.auther_address = #{autherAddress}
		,t.credit_card_type = #{creditCardType}
		,t.credit_card_name = #{creditCardName}
		
		,t.belong_area = #{belongArea}
		,t.updater = #{updater}
		,t.update_datetime = #{updateDatetime}
		,t.remark = #{remark}
		WHERE id = #{id}
	</update>
	
	<delete id="delete_bankSubbranch" parameterType="bankSubbranch">
		DELETE FROM tb_bank_subbranch 
		WHERE id = #{id} or bank_code = #{bankCode}
	</delete>
</mapper>
