<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBankCardDAO">
	<resultMap id="bankcard_DB_Result" type="bankcard">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		<result column="subbranch" property="subbranch" />
		<result column="bankcard_number" property="bankcardNumber" />
		<result column="bind_mobile" property="bindMobile" />
		<result column="create_datetime" property="createDatetime" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="bankcardNumber != null and bankcardNumber != '' ">
				AND t.bankcard_number = #{bankcardNumber}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="bankName != null and bankName != '' ">
				AND t.bank_name = #{bankName}
			</if>
		</trim>
	</sql>
	<select id="select_bankcard" parameterType="bankcard" resultMap="bankcard_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.real_name
		,t.bank_code
		,t.bank_name
		,t.subbranch
		,t.bankcard_number
		,t.bind_mobile
		,t.create_datetime
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tstd_bankcard t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bankcard_count" parameterType="bankcard"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_bankcard t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bankcard" parameterType="bankcard">
		INSERT INTO
		tstd_bankcard(
		code
		,user_id
		,real_name
		,bank_code
		,bank_name
		,subbranch
		,bankcard_number
		,bind_mobile
		,create_datetime
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{userId}
		,#{realName}
		,#{bankCode}
		,#{bankName}
		,#{subbranch}
		,#{bankcardNumber}
		,#{bindMobile}
		,#{createDatetime}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_bankcard" parameterType="bankcard">
		UPDATE tstd_bankcard
		SET
		bankcard_number = #{bankcardNumber}
		,real_name = #{realName}
		,bank_code = #{bankCode}
		,bank_name = #{bankName}
		,subbranch = #{subbranch}
		,bind_mobile = #{bindMobile}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_bankcardNumber" parameterType="bankcard">
		UPDATE tstd_bankcard
		SET
		bankcard_number = #{bankcardNumber}
		WHERE code = #{code}
	</update>

	<delete id="delete_bankcard" parameterType="bankcard">
		DELETE FROM
		tstd_bankcard
		WHERE code = #{code}
	</delete>

</mapper>