<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBankRepointDAO">
	<resultMap id="bankRepoint_DB_Result" type="bankRepoint">
		<result column="code" property="code" />
		<result column="biz_code" property="bizCode" />
		<result column="customer_name" property="customerName" />
		<result column="car_dealer_code" property="carDealerCode" />
		<result column="loan_bank_code" property="loanBankCode" />
		<result column="company_code" property="companyCode" />
		<result column="settle_rate" property="settleRate" />
		<result column="settle_amount" property="settleAmount" />
		<result column="recommend_fee" property="recommendFee" />
		<result column="risk_agent_fee" property="riskAgentFee" />
		<result column="tax" property="tax" />
		<result column="settle_datetime" property="settleDatetime" />
		<result column="company_save_rate" property="companySaveRate" />
		<result column="company_save_repoint" property="companySaveRepoint" />
		<result column="agent_repoint" property="agentRepoint" />
		<result column="send_back_amount" property="sendBackAmount" />
		<result column="bill_pdf" property="billPdf" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="cur_node_code" property="curNodeCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_bankRepoint" parameterType="bankRepoint" resultMap="bankRepoint_DB_Result">
		SELECT
		t.code
		,t.biz_code
		,t.customer_name
		,t.car_dealer_code
		,t.loan_bank_code
		,t.company_code
		,t.settle_rate
		,t.settle_amount
		,t.recommend_fee
		,t.risk_agent_fee
		,t.tax
		,t.settle_datetime
		,t.company_save_rate
		,t.company_save_repoint
		,t.agent_repoint
		,t.send_back_amount
		,t.bill_pdf
		,t.updater
		,t.update_datetime
		,t.cur_node_code
		FROM
		tb_bank_repoint t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bankRepoint_count" parameterType="bankRepoint"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_bank_repoint t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bankRepoint" parameterType="bankRepoint">
		INSERT INTO
		tb_bank_repoint(
		code
		,biz_code
		,customer_name
		,car_dealer_code
		,loan_bank_code
		,company_code
		,settle_rate
		,settle_amount
		,recommend_fee
		,risk_agent_fee
		,tax
		,settle_datetime
		,company_save_rate
		,company_save_repoint
		,agent_repoint
		,send_back_amount
		,bill_pdf
		,updater
		,update_datetime
		,cur_node_code
		)
		VALUES(
		#{code}
		,#{bizCode}
		,#{customerName}
		,#{carDealerCode}
		,#{loanBankCode}
		,#{companyCode}
		,#{settleRate}
		,#{settleAmount}
		,#{recommendFee}
		,#{riskAgentFee}
		,#{tax}
		,#{settleDatetime}
		,#{companySaveRate}
		,#{companySaveRepoint}
		,#{agentRepoint}
		,#{sendBackAmount}
		,#{billPdf}
		,#{updater}
		,#{updateDatetime}
		,#{curNodeCode}
		)
	</insert>

	<update id="update_bankRepoint" parameterType="bankRepoint">
		UPDATE tb_bank_repoint
		SET
		biz_code = #{bizCode}
		,customer_name = #{customerName}
		,car_dealer_code = #{carDealerCode}
		,loan_bank_code = #{loanBankCode}
		,company_code = #{companyCode}
		,settle_rate = #{settleRate}
		,settle_amount = #{settleAmount}
		,recommend_fee = #{recommendFee}
		,risk_agent_fee = #{riskAgentFee}
		,tax = #{tax}
		,settle_datetime = #{settleDatetime}
		,company_save_rate = #{companySaveRate}
		,company_save_repoint = #{companySaveRepoint}
		,agent_repoint = #{agentRepoint}
		,send_back_amount = #{sendBackAmount}
		,bill_pdf = #{billPdf}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>


</mapper>