<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBankDAO">
	<resultMap id="bank_DB_result" type="bank">
		<result column="code" property="code" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		<result column="rate12" property="rate12" />
		<result column="rate18" property="rate18" />
		
		<result column="rate24" property="rate24" />
		<result column="rate36" property="rate36" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />

		<result column="remark" property="remark" />
	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="bankName != null and bankName != '' ">
				AND t.bank_name = #{bankName}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_bank" parameterType="bank" resultMap="bank_DB_result">
		SELECT
		t.code
		,t.bank_code
		,t.bank_name
		,t.rate12
		,t.rate18
		
		,t.rate24
		,t.rate36
		,t.status
		,t.updater
		,t.update_datetime
		
		,t.remark
		FROM
		tb_bank t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bank_count" parameterType="bank" resultType="java.lang.Long">
		SELECT count(1) FROM tb_bank t 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_bank" parameterType="bank">
		INSERT INTO tb_bank(
		code
		,bank_code
		,bank_name
		,rate12
		,rate18
		
		,rate24
		,rate36
		,status
		,updater
		,update_datetime
		
		,remark
		)
		VALUES(
		#{code}
		,#{bankCode}
		,#{bankName}
		,#{rate12}
		,#{rate18}
		
		,#{rate24}
		,#{rate36}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		
		,#{remark}
		)
	</insert>
	
	<update id="update_bank" parameterType="bank">
		UPDATE tb_bank t
		SET
		t.bank_code = #{bankCode}
		,t.bank_name = #{bankName}
		,t.rate12 = #{rate12}
		,t.rate18 = #{rate18}
		,t.rate24 = #{rate24}
		
		,t.rate36 = #{rate36}
		,t.status = #{status}
		,t.updater = #{updater}
		,t.update_datetime = #{updateDatetime}
		,t.remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_bank" parameterType="bank">
		DELETE FROM tb_bank 
		WHERE code = #{code}
	</delete>
</mapper>
