<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBankRateDAO">
	<resultMap id="bankRate_DB_result" type="bankRate">
		<result column="id" property="id" />
		<result column="bank_code" property="bankCode" />
		<result column="period" property="period" />
		<result column="rate" property="rate" />
		<result column="remark" property="remark" />
	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_bankRate" parameterType="bankRate" resultMap="bankRate_DB_result">
		SELECT
		t.id
		,t.bank_code
		,t.period
		,t.rate
		,t.remark
		FROM
		tb_bank_rate t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bankRate_count" parameterType="bankRate" resultType="java.lang.Long">
		SELECT count(1) FROM tb_bank_rate t 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_bankRate" parameterType="bankRate">
		INSERT INTO tb_bank_rate(
		bank_code
		,period
		,rate
		,remark
		)
		VALUES(
		#{bankCode}
		,#{period}
		,#{rate}
		,#{remark}
		)
	</insert>
	
	<update id="update_bankRate" parameterType="bankRate">
		UPDATE tb_bank_rate t
		SET
		t.period = #{period}
		,t.rate = #{rate}
		,t.remark = #{remark}
		WHERE id = #{id}
	</update>
	
	<delete id="delete_bankRate" parameterType="bankRate">
		DELETE FROM tb_bank_rate 
		WHERE bank_code = #{bankCode}
	</delete>
</mapper>
