<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IBaofooWithholdDAO">
	<resultMap id="baofooWithhold_DB_Result" type="baofooWithhold">
		<result column="trans_id" property="transId" />
		<result column="bank_code" property="bankCode" />
		<result column="bankcard_number" property="bankcardNumber" />
		<result column="id_no" property="idNo" />
		<result column="real_name" property="realName" />
		<result column="mobile" property="mobile" />
		<result column="trans_amount" property="transAmount" />
		<result column="ref_no" property="refNo" />
		<result column="resp_code" property="respCode" />
		<result column="resp_msg" property="respMsg" />
		<result column="member_id" property="memberId" />
		<result column="terminal_id" property="terminalId" />
		<result column="txn_type" property="txnType" />
		<result column="txn_sub_type" property="txnSubType" />
		<result column="biz_type" property="bizType" />
		<result column="trade_date" property="tradeDate" />
		<result column="trans_no" property="transNo" />
		<result column="succ_amt" property="succAmt" />
		<result column="trans_serial_no" property="transSerialNo" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_baofooWithhold" parameterType="baofooWithhold" resultMap="baofooWithhold_DB_Result">
		SELECT
		t.trans_id
		,t.bank_code
		,t.bankcard_number
		,t.id_no
		,t.real_name
		,t.mobile
		,t.trans_amount
		,t.ref_no
		,t.resp_code
		,t.resp_msg
		,t.member_id
		,t.terminal_id
		,t.txn_type
		,t.txn_sub_type
		,t.biz_type
		,t.trade_date
		,t.trans_no
		,t.succ_amt
		,t.trans_serial_no
		FROM
		tbf_withhold t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_baofooWithhold_count" parameterType="baofooWithhold"
		resultType="java.lang.Long">
		SELECT count(1) FROM tbf_withhold t
		<include refid="where_condition" />
	</select>

	<insert id="insert_baofooWithhold" parameterType="baofooWithhold">
		INSERT INTO
		tbf_withhold(
		trans_id
		,bank_code
		,bankcard_number
		,id_no
		,real_name
		,mobile
		,trans_amount
		,ref_no
		,resp_code
		,resp_msg
		,member_id
		,terminal_id
		,txn_type
		,txn_sub_type
		,biz_type
		,trade_date
		,trans_no
		,succ_amt
		,trans_serial_no
		)
		VALUES(
		#{transId}
		,#{bankCode}
		,#{bankcardNumber}
		,#{idNo}
		,#{realName}
		,#{mobile}
		,#{transAmount}
		,#{refNo}
		,#{respCode}
		,#{respMsg}
		,#{memberId}
		,#{terminalId}
		,#{txnType}
		,#{txnSubType}
		,#{bizType}
		,#{tradeDate}
		,#{transNo}
		,#{succAmt}
		,#{transSerialNo}
		)
	</insert>

	<update id="update_baofooWithhold" parameterType="baofooWithhold">
		UPDATE tbf_withhold
		SET
		bank_code = #{bankCode}
		,bankcard_number = #{bankcardNumber}
		,id_no = #{idNo}
		,real_name = #{realName}
		,mobile = #{mobile}
		,trans_amount = #{transAmount}
		,resp_code = #{respCode}
		,resp_msg = #{respMsg}
		,member_id = #{memberId}
		,terminal_id = #{terminalId}
		,txn_type = #{txnType}
		,txn_sub_type = #{txnSubType}
		,biz_type = #{bizType}
		,trade_date = #{tradeDate}
		,trans_no = #{transNo}
		,succ_amt = #{succAmt}
		,trans_serial_no = #{transSerialNo}
		WHERE code = #{code}
	</update>


</mapper>