<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBizDayStatisticDAO">
	<resultMap id="bizDayStatistic_DB_Result" type="bizDayStatistic">
		<result column="id" property="id" />
		<result column="company_code" property="companyCode" />
		<result column="debit_amount" property="debitAmount" />
		<result column="loan_amount" property="loanAmount" />
		<result column="loan_overdue_amount" property="loanOverdueAmount" />
		<result column="overdue_rate" property="overdueRate" />
		<result column="balance" property="balance" />
		<result column="date" property="date" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_bizDayStatistic" parameterType="bizDayStatistic" resultMap="bizDayStatistic_DB_Result">
		SELECT
		t.id
		,t.company_code
		,t.debit_amount
		,t.loan_amount
		,t.loan_overdue_amount
		,t.overdue_rate
		,t.balance
		,t.date
		FROM
		tsys_biz_day_statistic t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bizDayStatistic_count" parameterType="bizDayStatistic"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_biz_day_statistic t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bizDayStatistic" parameterType="bizDayStatistic">
		INSERT INTO
		tsys_biz_day_statistic(
		id
		,company_code
		,debit_amount
		,loan_amount
		,loan_overdue_amount
		,overdue_rate
		,balance
		,date
		)
		VALUES(
		#{id}
		,#{companyCode}
		,#{debitAmount}
		,#{loanAmount}
		,#{loanOverdueAmount}
		,#{overdueRate}
		,#{balance}
		,#{date}
		)
	</insert>

	<update id="update_bizDayStatistic" parameterType="bizDayStatistic">
		UPDATE tsys_biz_day_statistic
		SET
		company_code = #{companyCode}
		,debit_amount = #{debitAmount}
		,loan_amount = #{loanAmount}
		,loan_overdue_amount = #{loanOverdueAmount}
		,overdue_rate = #{overdueRate}
		,balance = #{balance}
		,date = #{date}
		WHERE code = #{code}
	</update>


</mapper>