<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBizTeamDAO">
	<resultMap id="bizTeam_DB_Result" type="bizTeam">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="captain" property="captain" />
		<result column="company_code" property="companyCode" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="account_no" property="accountNo" />
		<result column="bank" property="bank" />
		<result column="subbranch" property="subbranch" />
		<result column="water_bill" property="waterBill" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
		</trim>
	</sql>
	<select id="select_bizTeam" parameterType="bizTeam" resultMap="bizTeam_DB_Result">
		SELECT
		t.code
		,t.name
		,t.captain
		,t.company_code
		,t.status
		,t.updater
		,t.update_datetime
		,t.account_no
		,t.bank
		,t.subbranch
		,t.water_bill
		FROM
		tsys_biz_team t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_bizTeam_count" parameterType="bizTeam"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_biz_team t
		<include refid="where_condition" />
	</select>

	<insert id="insert_bizTeam" parameterType="bizTeam">
		INSERT INTO
		tsys_biz_team(
		code
		,name
		,captain
		,company_code
		,status
		,updater
		,update_datetime
		,t.account_no
		,t.bank
		,t.subbranch
		,t.water_bill
		)
		VALUES(
		#{code}
		,#{name}
		,#{captain}
		,#{companyCode}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{accountNo}
		,#{bank}
		,#{subbranch}
		,#{waterBill}
		)
	</insert>

	<update id="update_bizTeam" parameterType="bizTeam">
		UPDATE tsys_biz_team
		SET
		name = #{name}
		,captain = #{captain}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,account_no = #{accountNo}
		,bank = # {bank}
		,subbranch = #{subbranch}
		,water_bill = #{waterBill}
		,company_code = #{companyCode}
		WHERE code = #{code}
	</update>
	
	<update id="delete_bizTeam">
		UPDATE tsys_biz_team
		SET
		status = #{status}
		WHERE code = #{code}
	</update>


</mapper>