<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBudgetOrderDAO">
	<resultMap id="budgetOrder_DB_Result" type="budgetOrder">
		<result column="code" property="code" />
		<result column="repay_biz_code" property="repayBizCode" />
		<result column="loan_product_code" property="loanProductCode" />
		<result column="loan_product_name" property="loanProductName" />
		<result column="loan_bank" property="loanBank" />
		
		<result column="gps_fee" property="gpsFee" />
		<result column="auth_fee" property="authFee" />
		<result column="bank_fee" property="bankFee" />
		<result column="company_fee" property="companyFee" />
		<result column="credit_code" property="creditCode" />
		
		<result column="biz_type" property="bizType" />
		<result column="loan_period" property="loanPeriod" />
		<result column="invoice_company" property="invoiceCompany" />
		<result column="car_brand" property="carBrand" />
		<result column="car_series" property="carSeries" />
		<result column="car_model" property="carModel" />
		
		<result column="car_pic" property="carPic" />
		<result column="car_hgz_pic" property="carHgzPic" />
		<result column="car_hgz_no" property="carHgzNo" />
		<result column="car_frame_no" property="carFrameNo" />
		<result column="car_engine_no" property="carEngineNo" />
		<result column="original_price" property="originalPrice" />
		
		<result column="invoice_price" property="invoicePrice" />
		<result column="car_color" property="carColor" />
		<result column="month_deposit" property="monthDeposit" />
		<result column="first_amount" property="firstAmount" />
		<result column="first_rate" property="firstRate" />
		
		<result column="loan_amount" property="loanAmount" />
		<result column="settle_address" property="settleAddress" />
		<result column="apply_user_id" property="applyUserId" />
		<result column="apply_user_name" property="applyUserName" />
		<result column="gender" property="gender" />
		
		<result column="marry_state" property="marryState" />
		<result column="nation" property="nation" />
		<result column="education" property="education" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		
		<result column="family_number" property="familyNumber" />
		<result column="mobile" property="mobile" />
		<result column="now_address" property="nowAddress" />
		<result column="post_code1" property="postCode1" />
		<result column="residence_address" property="residenceAddress" />
		<result column="post_code2" property="postCode2" />
		
		<result column="family_main_asset" property="familyMainAsset" />
		<result column="main_asset_include" property="mainAssetInclude" />
		<result column="main_income" property="mainIncome" />
		<result column="work_company_name" property="workCompanyName" />
		<result column="work_company_address" property="workCompanyAddress" />
		<result column="work_company_property" property="workCompanyProperty" />
		<result column="work_belong_industry" property="workBelongIndustry" />
		<result column="work_profession" property="workProfession" />
		<result column="work_datetime" property="workDatetime" />
		
		<result column="self_company_area" property="selfCompanyArea" />
		<result column="employee_quantity" property="employeeQuantity" />
		<result column="enterprise_month_output" property="enterpriseMonthOutput" />
		<result column="position" property="position" />
		<result column="post_title" property="postTitle" />
		
		<result column="month_income" property="monthIncome" />
		<result column="mate_name" property="mateName" />
		<result column="mate_mobile" property="mateMobile" />
		<result column="mate_id_no" property="mateIdNo" />
		<result column="mate_education" property="mateEducation" />
		
		<result column="mate_company_name" property="mateCompanyName" />
		<result column="mate_company_address" property="mateCompanyAddress" />
		<result column="mate_company_contact_no" property="mateCompanyContactNo" />
		
		<result column="mate_zfb_jour_datetime_start" property="mateZfbJourDatetimeStart" />
		<result column="mate_zfb_jour_datetime_end" property="mateZfbJourDatetimeEnd" />
		<result column="mate_zfb_jour_income" property="mateZfbJourIncome" />
		<result column="mate_zfb_jour_expend" property="mateZfbJourExpend" />
		
		<result column="mate_zfb_jour_balance" property="mateZfbJourBalance" />
		<result column="mate_zfb_jour_month_income" property="mateZfbJourMonthIncome" />
		<result column="mate_zfb_jour_month_expend" property="mateZfbJourMonthExpend" />
		<result column="mate_zfb_jour_pic" property="mateZfbJourPic" />
		<result column="mate_zfb_jour_remark" property="mateZfbJourRemark" />
		<result column="mate_wx_jour_datetime_start" property="mateWxJourDatetimeStart" />
		<result column="mate_wx_jour_datetime_end" property="mateWxJourDatetimeEnd" />
		<result column="mate_wx_jour_income" property="mateWxJourIncome" />
		<result column="mate_wx_jour_expend" property="mateWxJourExpend" />
		
		<result column="mate_wx_jour_balance" property="mateWxJourBalance" />
		<result column="mate_wx_jour_month_income" property="mateWxJourMonthIncome" />
		<result column="mate_wx_jour_month_expend" property="mateWxJourMonthExpend" />
		<result column="mate_wx_jour_pic" property="mateWxJourPic" />
		<result column="mate_wx_jour_remark" property="mateWxJourRemark" />
		<result column="mate_jour_datetime_start" property="mateJourDatetimeStart" />
		<result column="mate_jour_datetime_end" property="mateJourDatetimeEnd" />
		<result column="mate_jour_income" property="mateJourIncome" />
		<result column="mate_jour_expend" property="mateJourExpend" />
		
		<result column="mate_jour_balance" property="mateJourBalance" />
		<result column="mate_jour_month_income" property="mateJourMonthIncome" />
		<result column="mate_jour_month_expend" property="mateJourMonthExpend" />
		<result column="mate_jour_pic" property="mateJourPic" />
		<result column="mate_jour_remark" property="mateJourRemark" />
		<result column="mate_asset_pdf" property="mateAssetPdf" />
		
		<result column="gua_name" property="guaName" />
		<result column="gua_mobile" property="guaMobile" />
		
		<result column="gua_id_no" property="guaIdNo" />
		<result column="gua_phone" property="guaPhone" />
		<result column="gua_company_name" property="guaCompanyName" />
		<result column="gua_company_address" property="guaCompanyAddress" />
		<result column="gua_house_asset_address" property="guaHouseAssetAddress" />
		
		<result column="gua_zfb_jour_datetime_start" property="guaZfbJourDatetimeStart" />
		<result column="gua_zfb_jour_datetime_end" property="guaZfbJourDatetimeEnd" />
		<result column="gua_zfb_jour_income" property="guaZfbJourIncome" />
		<result column="gua_zfb_jour_expend" property="guaZfbJourExpend" />
		
		<result column="gua_zfb_jour_balance" property="guaZfbJourBalance" />
		<result column="gua_zfb_jour_month_income" property="guaZfbJourMonthIncome" />
		<result column="gua_zfb_jour_month_expend" property="guaZfbJourMonthExpend" />
		<result column="gua_zfb_jour_pic" property="guaZfbJourPic" />
		<result column="gua_zfb_jour_remark" property="guaZfbJourRemark" />
		<result column="gua_wx_jour_datetime_start" property="guaWxJourDatetimeStart" />
		<result column="gua_wx_jour_datetime_end" property="guaWxJourDatetimeEnd" />
		<result column="gua_wx_jour_income" property="guaWxJourIncome" />
		<result column="gua_wx_jour_expend" property="guaWxJourExpend" />
		
		<result column="gua_wx_jour_balance" property="guaWxJourBalance" />
		<result column="gua_wx_jour_month_income" property="guaWxJourMonthIncome" />
		<result column="gua_wx_jour_month_expend" property="guaWxJourMonthExpend" />
		<result column="gua_wx_jour_pic" property="guaWxJourPic" />
		<result column="gua_wx_jour_remark" property="guaWxJourRemark" />
		<result column="gua_jour_datetime_start" property="guaJourDatetimeStart" />
		<result column="gua_jour_datetime_end" property="guaJourDatetimeEnd" />
		<result column="gua_jour_income" property="guaJourIncome" />
		<result column="gua_jour_expend" property="guaJourExpend" />
		
		<result column="gua_jour_balance" property="guaJourBalance" />
		<result column="gua_jour_month_income" property="guaJourMonthIncome" />
		<result column="gua_jour_month_expend" property="guaJourMonthExpend" />
		<result column="gua_jour_pic" property="guaJourPic" />
		<result column="gua_jour_remark" property="guaJourRemark" />
		<result column="gua_asset_pdf" property="guaAssetPdf" />
		
		<result column="emergency_name1" property="emergencyName1" />
		<result column="emergency_relation1" property="emergencyRelation1" />
		<result column="emergency_mobile1" property="emergencyMobile1" />
		<result column="emergency_name2" property="emergencyName2" />
		<result column="emergency_relation2" property="emergencyRelation2" />
		
		<result column="emergency_mobile2" property="emergencyMobile2" />
		<result column="zfb_jour_datetime_start" property="zfbJourDatetimeStart" />
		<result column="zfb_jour_datetime_end" property="zfbJourDatetimeEnd" />
		<result column="zfb_jour_income" property="zfbJourIncome" />
		<result column="zfb_jour_expend" property="zfbJourExpend" />
		
		<result column="zfb_jour_balance" property="zfbJourBalance" />
		<result column="zfb_jour_month_income" property="zfbJourMonthIncome" />
		<result column="zfb_jour_month_expend" property="zfbJourMonthExpend" />
		<result column="zfb_jour_pic" property="zfbJourPic" />
		<result column="zfb_jour_remark" property="zfbJourRemark" />
		<result column="wx_jour_datetime_start" property="wxJourDatetimeStart" />
		<result column="wx_jour_datetime_end" property="wxJourDatetimeEnd" />
		<result column="wx_jour_income" property="wxJourIncome" />
		<result column="wx_jour_expend" property="wxJourExpend" />
		
		<result column="wx_jour_balance" property="wxJourBalance" />
		<result column="wx_jour_month_income" property="wxJourMonthIncome" />
		<result column="wx_jour_month_expend" property="wxJourMonthExpend" />
		<result column="wx_jour_pic" property="wxJourPic" />
		<result column="wx_jour_remark" property="wxJourRemark" />
		<result column="jour_datetime_start" property="jourDatetimeStart" />
		<result column="jour_datetime_end" property="jourDatetimeEnd" />
		<result column="jour_income" property="jourIncome" />
		<result column="jour_expend" property="jourExpend" />
		
		<result column="jour_balance" property="jourBalance" />
		<result column="jour_month_income" property="jourMonthIncome" />
		<result column="jour_month_expend" property="jourMonthExpend" />
		<result column="jour_pic" property="jourPic" />
		<result column="jour_remark" property="jourRemark" />
		<result column="asset_pdf" property="assetPdf" />
		<result column="house_contract" property="houseContract" />
		
		<result column="house_picture" property="housePicture" />
		<result column="is_advance_fund" property="isAdvanceFund" />
		<result column="interview_video" property="interviewVideo" />
		<result column="interview_contract" property="interviewContract" />
		<result column="advance_fund_datetime" property="advanceFundDatetime" />
		
		<result column="advance_fund_amount" property="advanceFundAmount" />
		<result column="bill_pdf" property="billPdf" />
		<result column="car_settle_datetime" property="carSettleDatetime" />
		<result column="car_number" property="carNumber" />
		<result column="car_invoice" property="carInvoice" />
		
		<result column="car_hgz" property="carHgz" />
		<result column="car_jqx" property="carJqx" />
		<result column="car_syx" property="carSyx" />
		<result column="car_regcerti" property="carRegcerti" />
		<result column="car_pd" property="carPd" />
		
		<result column="car_key" property="carKey" />
		<result column="car_big_smj" property="carBigSmj" />
		<result column="bank_commit_datetime" property="bankCommitDatetime" />
		<result column="bank_commit_note" property="bankCommitNote" />
		<result column="repay_bank_code" property="repayBankCode" />
		
		<result column="repay_bank_name" property="repayBankName" />
		<result column="repay_subbranch" property="repaySubbranch" />
		<result column="repay_bankcard_number" property="repayBankcardNumber" />
		<result column="repay_bill_date" property="repayBillDate" />
		<result column="repay_bank_date" property="repayBankDate" />
		<result column="repay_company_date" property="repayCompanyDate" />

		<result column="repay_first_month_amount" property="repayFirstMonthAmount" />
		<result column="repay_first_month_datetime" property="repayFirstMonthDatetime" />
		<result column="repay_month_amount" property="repayMonthAmount" />
		<result column="bank_fk_datetime" property="bankFkDatetime" />
		<result column="receipt_bank_code" property="receiptBankCode" />
		
		<result column="receipt_bank_name" property="receiptBankName" />
		<result column="receipt_bankcard_number" property="receiptBankcardNumber" />
		<result column="receipt_pdf" property="receiptPdf" />
		<result column="receipt_remark" property="receiptRemark" />
		<result column="pledge_datetime" property="pledgeDatetime" />
		
		<result column="green_big_smj" property="greenBigSmj" />
		<result column="pledge_bank_commit_datetime" property="pledgeBankCommitDatetime" />
		<result column="pledge_bank_commit_note" property="pledgeBankCommitNote" />
		<result column="enter_location" property="enterLocation" />
		<result column="sale_user_id" property="saleUserId" />
		<result column="company_code" property="companyCode" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="remark" property="remark" />
		<result column="back_advance_status" property="backAdvanceStatus" />
		<result column="team_code" property="teamCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="repayBizCode != null and repayBizCode != '' ">
				AND t.repay_biz_code = #{repayBizCode}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND trn.role_code = #{roleCode}
			</if>
			<if test="loanProductCode != null and loanProductCode != '' ">
				AND t.loan_product_code = #{loanProductCode}
			</if>
			<if test="saleUserId != null and saleUserId != '' ">
				AND t.sale_user_id = #{saleUserId}
			</if>
			
			<if test="applyUserId != null and applyUserId != '' ">
				AND t.apply_user_id = #{applyUserId}
			</if>
			<if test="applyUserName != null and applyUserName != '' ">
				AND t.apply_user_name = #{applyUserName}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="loanBank != null and loanBank != '' ">
				AND t.loan_bank = #{loanBank}
			</if>
			<if test="loanAmount != null and loanAmount != '' ">
				AND t.loan_amount = #{loanAmount}
			</if>
			<if test="loanPeriod != null and loanPeriod != '' ">
				AND t.loan_period = #{loanPeriod}
			</if>
			<if test="bankFkDatetime != null and bankFkDatetime != '' ">
				AND t.bank_fk_datetime = #{bankFkDatetime}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="isAdvanceFund != null and isAdvanceFund != '' ">
				AND t.is_advance_fund = #{isAdvanceFund}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="backAdvanceStatus != null and backAdvanceStatus != ''">
				AND t.back_advance_status = #{backAdvanceStatus}
			</if>
			<if test="teamCode != null and teamCode != ''">
				AND t.team_code = #{teamCode}
			</if>
		</trim>
	</sql>
	<select id="select_budgetOrder" parameterType="budgetOrder" resultMap="budgetOrder_DB_Result">
		SELECT
		t.code
		,t.repay_biz_code
		,t.loan_product_code
		,t.loan_product_name
		,t.loan_bank
		
		,t.gps_fee
		,t.auth_fee
		,t.bank_fee
		,t.company_fee
		,t.credit_code
		
		,t.biz_type
		,t.loan_period
		,t.invoice_company
		,t.car_brand
		,t.car_series
		,t.car_model
		,t.car_pic
		,t.car_hgz_pic
		,t.car_hgz_no
		,t.car_frame_no
		,t.car_engine_no
		,t.original_price
		
		,t.invoice_price
		,t.car_color
		,t.month_deposit
		,t.first_amount
		,t.first_rate
		
		,t.loan_amount
		,t.settle_address
		,t.apply_user_id
		,t.apply_user_name
		,t.gender
		
		,t.marry_state
		,t.nation
		,t.education
		,t.id_kind
		,t.id_no
		
		,t.family_number
		,t.mobile
		,t.now_address
		,t.post_code1
		,t.residence_address
		
		,t.post_code2
		,t.family_main_asset
		,t.main_asset_include
		,t.main_income
		,t.work_company_name
		
		,t.work_company_address
		,t.work_company_property
		,t.work_belong_industry
		,t.work_profession
		,t.work_datetime
		,t.self_company_area
		,t.employee_quantity
		,t.enterprise_month_output
		,t.position
		
		,t.post_title
		,t.month_income
		
		,t.mate_zfb_jour_datetime_start
		,t.mate_zfb_jour_datetime_end
		,t.mate_zfb_jour_income
		,t.mate_zfb_jour_expend
		,t.mate_zfb_jour_balance
		,t.mate_zfb_jour_month_income
		,t.mate_zfb_jour_month_expend
		,t.mate_zfb_jour_month_expend
		,t.mate_zfb_jour_pic
		,t.mate_zfb_jour_remark
		
		,t.mate_wx_jour_datetime_start
		,t.mate_wx_jour_datetime_end
		,t.mate_wx_jour_income
		,t.mate_wx_jour_expend
		,t.mate_wx_jour_balance
		,t.mate_wx_jour_month_income
		,t.mate_wx_jour_month_expend
		,t.mate_wx_jour_pic
		,t.mate_wx_jour_remark
		
		,t.mate_jour_datetime_start
		,t.mate_jour_datetime_end
		,t.mate_jour_income
		,t.mate_jour_expend
		,t.mate_jour_balance
		,t.mate_jour_month_income
		,t.mate_jour_month_expend
		,t.mate_jour_pic
		,t.mate_jour_remark
		,t.mate_asset_pdf
		
		,t.mate_name
		,t.mate_mobile
		,t.mate_id_no
		
		,t.mate_education
		,t.mate_company_name
		,t.mate_company_address
		,t.mate_company_contact_no
		,t.gua_name
		
		,t.gua_mobile
		,t.gua_id_no
		,t.gua_phone
		,t.gua_company_name
		,t.gua_company_address
		,t.gua_house_asset_address
		
		,t.gua_zfb_jour_datetime_start
		,t.gua_zfb_jour_datetime_end
		,t.gua_zfb_jour_income
		,t.gua_zfb_jour_expend
		,t.gua_zfb_jour_balance
		,t.gua_zfb_jour_month_income
		,t.gua_zfb_jour_month_expend
		,t.gua_zfb_jour_pic
		,t.gua_zfb_jour_remark
		
		,t.gua_wx_jour_datetime_start
		,t.gua_wx_jour_datetime_end
		,t.gua_wx_jour_income
		,t.gua_wx_jour_expend
		,t.gua_wx_jour_balance
		,t.gua_wx_jour_month_income
		,t.gua_wx_jour_month_expend
		,t.gua_wx_jour_pic
		,t.gua_wx_jour_remark
		
		,t.gua_jour_datetime_start
		,t.gua_jour_datetime_end
		,t.gua_jour_income
		,t.gua_jour_expend
		,t.gua_jour_balance
		,t.gua_jour_month_income
		,t.gua_jour_month_expend
		,t.gua_jour_pic
		,t.gua_jour_remark
		,t.gua_asset_pdf
		
		,t.emergency_name1
		,t.emergency_relation1
		,t.emergency_mobile1
		,t.emergency_name2
		
		,t.emergency_relation2
		,t.emergency_mobile2
		
		,t.zfb_jour_datetime_start
		,t.zfb_jour_datetime_end
		,t.zfb_jour_income
		,t.zfb_jour_expend
		,t.zfb_jour_balance
		,t.zfb_jour_month_income
		,t.zfb_jour_month_expend
		,t.zfb_jour_pic
		,t.zfb_jour_remark
		
		,t.wx_jour_datetime_start
		,t.wx_jour_datetime_end
		,t.wx_jour_income
		,t.wx_jour_expend
		,t.wx_jour_balance
		,t.wx_jour_month_income
		,t.wx_jour_month_expend
		,t.wx_jour_pic
		,t.wx_jour_remark
		
		,t.jour_datetime_start
		,t.jour_datetime_end
		,t.jour_income
		,t.jour_expend
		,t.jour_balance
		,t.jour_month_income
		,t.jour_month_expend
		,t.jour_pic
		,t.jour_remark
		,t.asset_pdf
		
		,t.house_contract
		,t.house_picture
		,t.is_advance_fund
		,t.interview_video
		,t.interview_contract
		
		,t.advance_fund_datetime
		,t.advance_fund_amount
		,t.bill_pdf
		,t.car_settle_datetime
		,t.car_number
		
		,t.car_invoice
		,t.car_hgz
		,t.car_jqx
		,t.car_syx
		,t.car_regcerti
		
		,t.car_pd
		,t.car_key
		,t.car_big_smj
		,t.bank_commit_datetime
		,t.bank_commit_note
		
		,t.repay_bank_code
		,t.repay_bank_name
		,t.repay_subbranch
		,t.repay_bankcard_number
		,t.repay_bill_date
		
		,t.repay_bank_date
		,t.repay_company_date
		,t.repay_first_month_amount
		,t.repay_first_month_datetime
		,t.repay_month_amount
		
		,t.bank_fk_datetime
		,t.receipt_bank_code
		,t.receipt_bank_name
		,t.receipt_bankcard_number
		,t.receipt_pdf
		
		,t.receipt_remark
		,t.pledge_datetime
		,t.green_big_smj
		,t.pledge_bank_commit_datetime
		,t.pledge_bank_commit_note
		
		,t.enter_location
		,t.sale_user_id
		,t.company_code
		,t.apply_datetime
		,t.cur_node_code
		
		,t.remark
		,t.team_code
		,t.back_advance_status
		FROM
		tdq_budget_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_budgetOrderList" parameterType="budgetOrder" resultMap="budgetOrder_DB_Result">
		SELECT
		t.code
		,t.repay_biz_code
		,t.loan_product_code
		,t.loan_product_name
		,t.loan_bank
		
		,t.gps_fee
		,t.auth_fee
		,t.bank_fee
		,t.company_fee
		,t.credit_code
		
		,t.biz_type
		,t.loan_period
		,t.invoice_company
		,t.car_brand
		,t.car_series
		,t.car_model
		,t.car_pic
		,t.car_hgz_pic
		,t.car_hgz_no
		,t.car_frame_no
		,t.car_engine_no
		,t.original_price
		
		,t.invoice_price
		,t.car_color
		,t.month_deposit
		,t.first_amount
		,t.first_rate
		
		,t.loan_amount
		,t.settle_address
		,t.apply_user_id
		,t.apply_user_name
		,t.gender
		
		,t.id_kind
		,t.id_no
		,t.mobile
		,t.car_number
		,t.car_invoice
		
		,t.repay_bank_code
		,t.repay_bank_name
		,t.repay_subbranch
		,t.repay_bankcard_number
		,t.repay_bill_date
		
		,t.repay_bank_date
		,t.repay_company_date
		,t.repay_first_month_amount
		,t.repay_first_month_datetime
		,t.repay_month_amount
		
		,t.bank_fk_datetime
		,t.is_advance_fund
		,t.sale_user_id
		,t.company_code
		,t.apply_datetime
		
		,t.cur_node_code
		,t.remark
		,t.team_code
		,t.back_advance_status
		FROM
		tdq_budget_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_budgetOrder_count" parameterType="budgetOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_budget_order t
		<include refid="where_condition" />
	</select>
	
	<select id="select_budgetOrder_byRoleCode" parameterType="budgetOrder" resultMap="budgetOrder_DB_Result">
		SELECT
		distinct
		t.code
		,t.repay_biz_code
		,t.loan_product_code
		,t.loan_product_name
		,t.loan_bank
		
		,t.gps_fee
		,t.auth_fee
		,t.bank_fee
		,t.company_fee
		,t.credit_code
		
		,t.biz_type
		,t.loan_period
		,t.invoice_company
		,t.car_brand
		,t.car_series
		,t.car_model
		,t.car_pic
		,t.car_hgz_pic
		,t.car_hgz_no
		,t.car_frame_no
		,t.car_engine_no
		,t.original_price
		
		,t.invoice_price
		,t.car_color
		,t.month_deposit
		,t.first_amount
		,t.first_rate
		
		,t.loan_amount
		,t.settle_address
		,t.apply_user_id
		,t.apply_user_name
		,t.gender
		
		,t.id_kind
		,t.id_no
		,t.mobile
		,t.car_number
		,t.car_invoice
		
		,t.repay_bank_code
		,t.repay_bank_name
		,t.repay_subbranch
		,t.repay_bankcard_number
		,t.repay_bill_date
		
		,t.repay_bank_date
		,t.repay_company_date
		,t.repay_first_month_amount
		,t.repay_first_month_datetime
		,t.repay_month_amount
		
		,t.bank_fk_datetime
		,t.is_advance_fund
		,t.sale_user_id
		,t.company_code
		,t.apply_datetime
		
		,t.cur_node_code
		,t.remark
		,t.team_code
		,t.back_advance_status
		FROM
		tdq_budget_order t left join tsys_role_node trn on t.cur_node_code = trn.node_code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_budgetOrder_count_byRoleCode" parameterType="budgetOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM (SELECT distinct code FROM tdq_budget_order t left join tsys_role_node trn on t.cur_node_code = trn.node_code
		<include refid="where_condition" />) tb
	</select>

	<insert id="insert_budgetOrder" parameterType="budgetOrder">
		INSERT INTO
		tdq_budget_order(
		code
		,loan_product_code
		,loan_product_name
		,loan_bank
		,gps_fee
		,auth_fee
		,bank_fee
		,company_fee
		,credit_code
		,biz_type
		,loan_period
		,invoice_company
		,car_brand
		,car_series
		,car_model
		,car_pic
		,car_hgz_pic
		,car_hgz_no
		,car_frame_no
		,car_engine_no
		,original_price
		,invoice_price
		,car_color
		,month_deposit
		,first_amount
		,first_rate
		,loan_amount
		,settle_address
		,apply_user_name
		,gender
		,marry_state
		,nation
		,education
		,id_no
		,family_number
		,mobile
		,now_address
		,post_code1
		,residence_address
		,post_code2
		,family_main_asset
		,main_asset_include
		,main_income
		,work_company_name
		,work_company_address
		,work_company_property
		,work_belong_industry
		,work_profession
		,work_datetime
		,self_company_area
		,employee_quantity
		,enterprise_month_output
		,position
		,post_title
		,month_income
		,mate_zfb_jour_datetime_start
		,mate_zfb_jour_datetime_end
		,mate_zfb_jour_income
		,mate_zfb_jour_expend
		,mate_zfb_jour_balance
		,mate_zfb_jour_month_income
		,mate_zfb_jour_month_expend
		,mate_zfb_jour_pic
		,mate_zfb_jour_remark
		
		,mate_wx_jour_datetime_start
		,mate_wx_jour_datetime_end
		,mate_wx_jour_income
		,mate_wx_jour_expend
		,mate_wx_jour_balance
		,mate_wx_jour_month_income
		,mate_wx_jour_month_expend
		,mate_wx_jour_pic
		,mate_wx_jour_remark
		
		,mate_jour_datetime_start
		,mate_jour_datetime_end
		,mate_jour_income
		,mate_jour_expend
		,mate_jour_balance
		,mate_jour_month_income
		,mate_jour_month_expend
		,mate_jour_pic
		,mate_jour_remark
		,mate_asset_pdf
		
		,mate_name
		,mate_mobile
		,mate_id_no
		
		,mate_education
		,mate_company_name
		,mate_company_address
		,mate_company_contact_no
		,gua_name
		
		,gua_mobile
		,gua_id_no
		,gua_phone
		,gua_company_name
		,gua_company_address
		,gua_house_asset_address
		
		,gua_zfb_jour_datetime_start
		,gua_zfb_jour_datetime_end
		,gua_zfb_jour_income
		,gua_zfb_jour_expend
		,gua_zfb_jour_balance
		,gua_zfb_jour_month_income
		,gua_zfb_jour_month_expend
		,gua_zfb_jour_pic
		,gua_zfb_jour_remark
		
		,gua_wx_jour_datetime_start
		,gua_wx_jour_datetime_end
		,gua_wx_jour_income
		,gua_wx_jour_expend
		,gua_wx_jour_balance
		,gua_wx_jour_month_income
		,gua_wx_jour_month_expend
		,gua_wx_jour_pic
		,gua_wx_jour_remark
		
		,gua_jour_datetime_start
		,gua_jour_datetime_end
		,gua_jour_income
		,gua_jour_expend
		,gua_jour_balance
		,gua_jour_month_income
		,gua_jour_month_expend
		,gua_jour_pic
		,gua_jour_remark
		,gua_asset_pdf
		
		,emergency_name1
		,emergency_relation1
		,emergency_mobile1
		,emergency_name2
		
		,emergency_relation2
		,emergency_mobile2
		
		,zfb_jour_datetime_start
		,zfb_jour_datetime_end
		,zfb_jour_income
		,zfb_jour_expend
		,zfb_jour_balance
		,zfb_jour_month_income
		,zfb_jour_month_expend
		,zfb_jour_pic
		,zfb_jour_remark
		
		,wx_jour_datetime_start
		,wx_jour_datetime_end
		,wx_jour_income
		,wx_jour_expend
		,wx_jour_balance
		,wx_jour_month_income
		,wx_jour_month_expend
		,wx_jour_pic
		,wx_jour_remark
		
		,jour_datetime_start
		,jour_datetime_end
		,jour_income
		,jour_expend
		,jour_balance
		,jour_month_income
		,jour_month_expend
		,jour_pic
		,jour_remark
		,asset_pdf
		
		,house_contract
		,house_picture
		,is_advance_fund
		
		,sale_user_id
		,company_code
		,apply_datetime
		,cur_node_code
		,remark
		,t.team_code
		,t.back_advance_status
		)
		VALUES(
		#{code}
		,#{loanProductCode}
		,#{loanProductName}
		,#{loanBank}
		,#{gpsFee}
		,#{authFee}
		,#{bankFee}
		,#{companyFee}
		,#{creditCode}
		,#{bizType}
		,#{loanPeriod}
		,#{invoiceCompany}
		,#{carBrand}
		,#{carSeries}
		,#{carModel}
		,#{carPic}
		,#{carHgzPic}
		,#{carHgzNo}
		,#{carFrameNo}
		,#{carEngineNo}
		,#{originalPrice}
		,#{invoicePrice}
		,#{carColor}
		,#{monthDeposit}
		,#{firstAmount}
		,#{firstRate}
		,#{loanAmount}
		,#{settleAddress}
		,#{applyUserName}
		,#{gender}
		,#{marryState}
		,#{nation}
		,#{education}
		,#{idNo}
		,#{familyNumber}
		,#{mobile}
		,#{nowAddress}
		,#{postCode1}
		,#{residenceAddress}
		,#{postCode2}
		,#{familyMainAsset}
		,#{mainAssetInclude}
		,#{mainIncome}
		,#{workCompanyName}
		,#{workCompanyAddress}
		,#{workCompanyProperty}
		,#{workBelongIndustry}
		,#{workProfession}
		,#{workDatetime}
		,#{selfCompanyArea}
		,#{employeeQuantity}
		,#{enterpriseMonthOutput}
		,#{position}
		,#{postTitle}
		,#{monthIncome}
		,#{mateZfbJourDatetimeStart}
		,#{mateZfbJourDatetimeEnd}
		,#{mateZfbJourIncome}
		,#{mateZfbJourExpend}
		,#{mateZfbJourBalance}
		,#{mateZfbJourMonthIncome}
		,#{mateZfbJourMonthExpend}
		,#{mateZfbJourPic}
		,#{mateZfbJourRemark}
		 
		,#{mateWxJourDatetimeStart}
		,#{mateWxJourDatetimeEnd}
		,#{mateWxJourIncome}
		,#{mateWxJourExpend}
		,#{mateWxJourBalance}
		,#{mateWxJourMonthIncome}
		,#{mateWxJourMonthExpend}
		,#{mateWxJourPic}
		,#{mateWxJourRemark}
		
		,#{mateJourDatetimeStart}
		,#{mateJourDatetimeEnd}
		,#{mateJourIncome}
		,#{mateJourExpend}
		,#{mateJourBalance}
		,#{mateJourMonthIncome}
		,#{mateJourMonthExpend}
		,#{mateJourPic}
		,#{mateJourRemark}
		,#{mateAssetPdf}
		 
		,#{mateName}
		,#{mateMobile}
		,#{mateIdNo}
		 
		,#{mateEducation}
		,#{mateCompanyName}
		,#{mateCompanyAddress}
		,#{mateCompanyContactNo}
		,#{guaName}
		
		,#{guaMobile}
		,#{guaIdNo}
		,#{guaPhone}
		,#{guaCompanyName}
		,#{guaCompanyAddress}
		,#{guaHouseAssetAddress}
		
		,#{guaZfbJourDatetimeStart}
		,#{guaZfbJourDatetimeEnd}
		,#{guaZfbJourIncome}
		,#{guaZfbJourExpend}
		,#{guaZfbJourBalance}
		,#{guaZfbJourMonthIncome}
		,#{guaZfbJourMonthExpend}
		,#{guaZfbJourPic}
		,#{guaZfbJourRemark}
		
		,#{guaWxJourDatetimeStart}
		,#{guaWxJourDatetimeEnd}
		,#{guaWxJourIncome}
		,#{guaWxJourExpend}
		,#{guaWxJourBalance}
		,#{guaWxJourMonthIncome}
		,#{guaWxJourMonthExpend}
		,#{guaWxJourPic}
		,#{guaWxJourRemark}
		
		,#{guaJourDatetimeStart}
		,#{guaJourDatetimeEnd}
		,#{guaJourIncome}
		,#{guaJourExpend}
		,#{guaJourBalance}
		,#{guaJourMonthIncome}
		,#{guaJourMonthExpend}
		,#{guaJourPic}
		,#{guaJourRemark}
		,#{guaAssetPdf}
		
		,#{emergencyName1}
		,#{emergencyRelation1}
		,#{emergencyMobile1}
		,#{emergencyName2}
		
		,#{emergencyRelation2}
		,#{emergencyMobile2}
		
		,#{zfbJourDatetimeStart}
		,#{zfbJourDatetimeEnd}
		,#{zfbJourIncome}
		,#{zfbJourExpend}
		,#{zfbJourBalance}
		,#{zfbJourMonthIncome}
		,#{zfbJourMonthExpend}
		,#{zfbJourPic}
		,#{zfbJourRemark}
		
		,#{wxJourDatetimeStart}
		,#{wxJourDatetimeEnd}
		,#{wxJourIncome}
		,#{wxJourExpend}
		,#{wxJourBalance}
		,#{wxJourMonthIncome}
		,#{wxJourMonthExpend}
		,#{wxJourPic}
		,#{wxJourRemark}
		 
		,#{jourDatetimeStart}
		,#{jourDatetimeEnd}
		,#{jourIncome}
		,#{jourExpend}
		,#{jourBalance}
		,#{jourMonthIncome}
		,#{jourMonthExpend}
		,#{jourPic}
		,#{jourRemark}
		,#{assetPdf}
		,#{houseContract}
		,#{housePicture}
		,#{isAdvanceFund}
		
		,#{saleUserId}
		,#{companyCode}
		,#{applyDatetime}
		,#{curNodeCode}
		,#{remark}
		,#{teamCode}
		,#{backAdvanceStatus}
		)
	</insert>

	<update id="update_budgetOrder" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		loan_product_code = #{loanProductCode}
		,loan_product_name = #{loanProductName}
		,loan_bank = #{loanBank}
		,gps_fee = #{gpsFee}
		,auth_fee = #{authFee}
		
		,bank_fee = #{bankFee}
		,company_fee = #{companyFee}
		,credit_code = #{creditCode}
		,biz_type = #{bizType}
		,loan_period = #{loanPeriod}
		
		,invoice_company = #{invoiceCompany}
		,car_brand = #{carBrand}
		,car_series = #{carSeries}
		,car_model = #{carModel}
		,car_pic = #{carPic}
		
		,car_hgz_pic = #{carHgzPic}
		,car_hgz_no = #{carHgzNo}
		,car_frame_no = #{carFrameNo}
		,car_engine_no = #{carEngineNo}
		,original_price = #{originalPrice}
		
		,invoice_price = #{invoicePrice}
		,car_color = #{carColor}
		,month_deposit = #{monthDeposit}
		,first_amount = #{firstAmount}
		,first_rate = #{firstRate}
		
		,loan_amount = #{loanAmount}
		,settle_address = #{settleAddress}
		,apply_user_name = #{applyUserName}
		,gender = #{gender}
		,marry_state = #{marryState}
		
		,nation = #{nation}
		,education = #{education}
		,family_number = #{familyNumber}
		,now_address = #{nowAddress}
		,post_code1 = #{postCode1}
		
		,residence_address = #{residenceAddress}
		,post_code2 = #{postCode2}
		,family_main_asset = #{familyMainAsset}
		,main_asset_include = #{mainAssetInclude}
		,main_income = #{mainIncome}
		
		,work_company_name = #{workCompanyName}
		,work_company_address = #{workCompanyAddress}
		,work_company_property = #{workCompanyProperty}
		,work_belong_industry = #{workBelongIndustry}
		,work_profession = #{workProfession}
		
		,work_datetime = #{workDatetime}
		,self_company_area = #{selfCompanyArea}
		,employee_quantity = #{employeeQuantity}
		,enterprise_month_output = #{enterpriseMonthOutput}
		,position = #{position}
		
		,post_title = #{postTitle}
		,month_income = #{monthIncome}
		,mate_name = #{mateName}
		,mate_mobile = #{mateMobile}
		,mate_id_no = #{mateIdNo}
		
		,mate_education = #{mateEducation}
		,mate_company_name = #{mateCompanyName}
		,mate_company_address = #{mateCompanyAddress}
		,mate_company_contact_no = #{mateCompanyContactNo}
		,mate_zfb_jour_datetime_start = #{mateZfbJourDatetimeStart}
		
		,mate_zfb_jour_datetime_end = #{mateZfbJourDatetimeEnd}
		,mate_zfb_jour_income = #{mateZfbJourIncome}
		,mate_zfb_jour_expend = #{mateZfbJourExpend}
		,mate_zfb_jour_balance = #{mateZfbJourBalance}
		,mate_zfb_jour_month_income = #{mateZfbJourMonthIncome}
		
		,mate_zfb_jour_month_expend = #{mateZfbJourMonthExpend}
		,mate_zfb_jour_pic = #{mateZfbJourPic}
		,mate_zfb_jour_remark = #{mateZfbJourRemark}
		,mate_wx_jour_datetime_start = #{mateWxJourDatetimeStart}
		,mate_wx_jour_datetime_end = #{mateWxJourDatetimeEnd}
		
		,mate_wx_jour_income = #{mateWxJourIncome}
		,mate_wx_jour_expend = #{mateWxJourExpend}
		,mate_wx_jour_balance = #{mateWxJourBalance}
		,mate_wx_jour_month_income = #{mateWxJourMonthIncome}
		,mate_wx_jour_month_expend = #{mateWxJourMonthExpend}
		
		,mate_wx_jour_pic = #{mateWxJourPic}
		,mate_wx_jour_remark = #{mateWxJourRemark}
		,mate_jour_datetime_start = #{mateJourDatetimeStart}
		,mate_jour_datetime_end = #{mateJourDatetimeEnd}
		,mate_jour_income = #{mateJourIncome}
		
		,mate_jour_expend = #{mateJourExpend}
		,mate_jour_balance = #{mateJourBalance}
		,mate_jour_month_income = #{mateJourMonthIncome}
		,mate_jour_month_expend = #{mateJourMonthExpend}
		,mate_jour_pic = #{mateJourPic}
		
		,mate_jour_remark = #{mateJourRemark}
		,mate_asset_pdf = #{mateAssetPdf}
		,gua_name = #{guaName}
		,gua_mobile = #{guaMobile}
		,gua_id_no = #{guaIdNo}
		
		,gua_phone = #{guaPhone}
		,gua_company_name = #{guaCompanyName}
		,gua_company_address = #{guaCompanyAddress}
		,gua_house_asset_address = #{guaHouseAssetAddress}
		,gua_zfb_jour_datetime_start = #{guaZfbJourDatetimeStart}
		
		,gua_zfb_jour_datetime_end = #{guaZfbJourDatetimeEnd}
		,gua_zfb_jour_income = #{guaZfbJourIncome}
		,gua_zfb_jour_expend = #{guaZfbJourExpend}
		,gua_zfb_jour_balance = #{guaZfbJourBalance}
		,gua_zfb_jour_month_income = #{guaZfbJourMonthIncome}
		
		,gua_zfb_jour_month_expend = #{guaZfbJourMonthExpend}
		,gua_zfb_jour_pic = #{guaZfbJourPic}
		,gua_zfb_jour_remark = #{guaZfbJourRemark}
		,gua_wx_jour_datetime_start = #{guaWxJourDatetimeStart}
		,gua_wx_jour_datetime_end = #{guaWxJourDatetimeEnd}
		,gua_wx_jour_income = #{guaWxJourIncome}
		
		,gua_wx_jour_expend = #{guaWxJourExpend}
		,gua_wx_jour_balance = #{guaWxJourBalance}
		,gua_wx_jour_month_income = #{guaWxJourMonthIncome}
		,gua_wx_jour_month_expend = #{guaWxJourMonthExpend}
		,gua_wx_jour_pic = #{guaWxJourPic}
		
		,gua_wx_jour_remark = #{guaWxJourRemark}
		,gua_jour_datetime_start = #{guaJourDatetimeStart}
		,gua_jour_datetime_end = #{guaJourDatetimeEnd}
		,gua_jour_income = #{guaJourIncome}
		,gua_jour_expend = #{guaJourExpend}
		
		,gua_jour_balance = #{guaJourBalance}
		,gua_jour_month_income = #{guaJourMonthIncome}
		,gua_jour_month_expend = #{guaJourMonthExpend}
		,gua_jour_pic = #{guaJourPic}
		,gua_jour_remark = #{guaJourRemark}
		,gua_asset_pdf = #{guaAssetPdf}
		
		,emergency_name1 = #{emergencyName1}
		,emergency_relation1 = #{emergencyRelation1}
		,emergency_mobile1 = #{emergencyMobile1}
		,emergency_name2 = #{emergencyName2}
		,emergency_relation2 = #{emergencyRelation2}
		
		,emergency_mobile2 = #{emergencyMobile2}
		,zfb_jour_datetime_start = #{zfbJourDatetimeStart}
		,zfb_jour_datetime_end = #{zfbJourDatetimeEnd}
		,zfb_jour_income = #{zfbJourIncome}
		,zfb_jour_expend = #{zfbJourExpend}
		
		,zfb_jour_balance = #{zfbJourBalance}
		,zfb_jour_month_income = #{zfbJourMonthIncome}
		,zfb_jour_month_expend = #{zfbJourMonthExpend}
		,zfb_jour_pic = #{zfbJourPic}
		,zfb_jour_remark = #{zfbJourRemark}
		
		,wx_jour_datetime_start = #{wxJourDatetimeStart}
		,wx_jour_datetime_end = #{wxJourDatetimeEnd}
		,wx_jour_income = #{wxJourIncome}
		,wx_jour_expend = #{wxJourExpend}
		,wx_jour_balance = #{wxJourBalance}
		
		,wx_jour_month_income = #{wxJourMonthIncome}
		,wx_jour_month_expend = #{wxJourMonthExpend}
		,wx_jour_pic = #{wxJourPic}
		,wx_jour_remark = #{wxJourRemark}
		,jour_datetime_start = #{jourDatetimeStart}
		
		,jour_datetime_end = #{jourDatetimeEnd}
		,jour_income = #{jourIncome}
		,jour_expend = #{jourExpend}
		,jour_balance = #{jourBalance}
		,jour_month_income = #{jourMonthIncome}
		
		,jour_month_expend = #{jourMonthExpend}
		,jour_pic = #{jourPic}
		,jour_remark = #{jourRemark}
		,asset_pdf = #{assetPdf}
		,house_contract = #{houseContract}
		
		,house_picture = #{housePicture}
		,is_advance_fund = #{isAdvanceFund}
		,cur_node_code = #{curNodeCode}
		,remark = #{remark}
		,team_code = #{teamCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_riskApprove" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_charge_riskApprove" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_interview" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,interview_video = #{interviewVideo}
		,interview_contract = #{interviewContract}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_biz_charge_approve" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_gps_manager_approve" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_install_gps" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_advancefund" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		advance_fund_datetime = #{advanceFundDatetime}
		,advance_fund_amount = #{advanceFundAmount}
		,cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_commit_bank" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		bank_commit_datetime = #{bankCommitDatetime}
		,cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_car_settle" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		car_settle_datetime = #{carSettleDatetime}
		,car_invoice = #{carInvoice}
		,car_hgz = #{carHgz}
		,car_jqx = #{carJqx}
		,car_syx = #{carSyx}
		,car_regcerti = #{carRegcerti}
		,car_pd = #{carPd}
		,car_key = #{carKey}
		,car_big_smj = #{carBigSmj}
		,cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_entry_fk" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		repay_bank_code = #{repayBankCode}
		,repay_bank_name = #{repayBankName}
		,repay_subbranch = #{repaySubbranch}
		,repay_bankcard_number = #{repayBankcardNumber}
		,repay_bill_date = #{repayBillDate}
		,repay_bank_date = #{repayBankDate}
		,repay_company_date = #{repayCompanyDate}
		,repay_first_month_datetime = #{repayFirstMonthDatetime}
		,repay_first_month_amount = #{repayFirstMonthAmount}
		,repay_month_amount = #{repayMonthAmount}
		,cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_confirm_receipt" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		receipt_bank_code = #{receiptBankCode}
		,receipt_bank_name = #{receiptBankName}
		,receipt_bankcard_number = #{receiptBankcardNumber}
		,receipt_pdf = #{receiptPdf}
		,receipt_remark = #{receiptRemark}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_logic_node" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_entry_mortgage" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		pledge_datetime = #{pledgeDatetime}
		,green_big_smj = #{greenBigSmj}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_mortgage_commit_bank" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		pledge_bank_commit_datetime = #{pledgeBankCommitDatetime}
		,pledge_bank_commit_note = #{pledgeBankCommitNote}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_mortgage_finish" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		cur_node_code = #{curNodeCode}
		,car_number = #{carNumber}
		,car_regcerti = #{carRegcerti}
		,car_pd = #{carPd}
		,car_key = #{carKey}
		,car_big_smj = #{carBigSmj}
		WHERE code = #{code}
	</update>
	
	<update id="update_archiveSuccess" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		enter_location = #{enterLocation}
		,cur_node_code = #{curNodeCode}
		,repay_biz_code = #{repayBizCode}
		,apply_user_id = #{applyUserId}
		WHERE code = #{code}
	</update>
	
	<update id="insert_back_advance_fund" parameterType="budgetOrder">
		UPDATE tdq_budget_order
		SET
		back_advance_status = #{backAdvanceStatus}
		WHERE code = #{code}
	</update>
</mapper>
