<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBudgetOrderFeeDetailDAO">
	<resultMap id="budgetOrderFeeDetail_DB_Result" type="budgetOrderFeeDetail">
		<result column="code" property="code" />
		<result column="remit_type" property="remitType" />
		<result column="remit_project" property="remitProject" />
		<result column="amount" property="amount" />
		<result column="plat_bank_card" property="platBankcard" />
		
		<result column="remit_user" property="remitUser" />
		<result column="reach_datetime" property="reachDatetime" />	
		<result column="remark" property="remark" />
		<result column="fee_code" property="feeCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />	
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_budgetOrderFeeDetail" parameterType="budgetOrderFeeDetail" resultMap="budgetOrderFeeDetail_DB_Result">
		SELECT
		t.code
		,t.remit_type
		,t.remit_project
		,t.amount
		,t.plat_bankcard
		
		,t.remit_user
		,t.reach_datetime
		,t.remark
		,t.fee_code
		,t.updater
		,t.update_datetime
		
		FROM
		tdq_budget_order_fee_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_budgetOrderFeeDetail_count" parameterType="budgetOrderFeeDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_budget_order_fee_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_budgetOrderFeeDetail" parameterType="budgetOrderFeeDetail">
		INSERT INTO
		tdq_budget_order_fee_detail(
		code
		,remit_type
		,remit_project
		,amount
		,plat_bankcard
		
		,remit_user
		,reach_datetime
		,remark
		,fee_code
		,updater
		,update_datetime
		)
		VALUES(
		#{code}
		,#{remitType}
		,#{remitProject}
		,#{amount}
		,#{platBankcard}
		
		,#{remitUser}
		,#{reachDatetime}
		,#{remark}
		,#{feeCode}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_budgetOrderFeeDetail" parameterType="budgetOrderFeeDetail">
		UPDATE tdq_budget_order_fee_detail
		SET
		remit_type = #{remitType}
		,remit_company_code = #{remitCompanyCode}
		,remit_project = #{remitProject}
		,amount = #{amount}
		,plat_bankcard = #{platBankcard}
		
		,remit_user = #{remitUser}
		,reach_datetime = #{reachDatetime}
		,remark = #{remark}
		,fee_code = #{feeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>


</mapper>