<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IBudgetOrderGpsDAO">
	<resultMap id="budgetOrderGps_DB_Result" type="budgetOrderGps">
		<result column="code" property="code" />
		<result column="gps_dev_no" property="gpsDevNo" />
		<result column="gps_type" property="gpsType" />
		<result column="az_location" property="azLocation" />
		<result column="az_datetime" property="azDatetime" />
		<result column="az_user" property="azUser" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="budget_order" property="budgetOrder" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="budgetOrder != null and budgetOrder != '' ">
				AND t.budget_order = #{budgetOrder}
			</if>
		</trim>
	</sql>
	<select id="select_budgetOrderGps" parameterType="budgetOrderGps" resultMap="budgetOrderGps_DB_Result">
		SELECT
		t.code
		,t.gps_dev_no
		,t.gps_type
		,t.az_location
		,t.az_datetime
		,t.az_user
		,t.status
		,t.remark
		,t.budget_order
		FROM
		tdq_budget_order_gps t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_budgetOrderGps_count" parameterType="budgetOrderGps"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_budget_order_gps t
		<include refid="where_condition" />
	</select>

	<insert id="insert_budgetOrderGps" parameterType="budgetOrderGps">
		INSERT INTO
		tdq_budget_order_gps(
		code
		,gps_dev_no
		,gps_type
		,az_location
		,az_datetime
		,az_user
		,status
		,remark
		,budget_order
		)
		VALUES(
		#{code}
		,#{gpsDevNo}
		,#{gpsType}
		,#{azLocation}
		,#{azDatetime}
		,#{azUser}
		,#{status}
		,#{remark}
		,#{budgetOrder}
		)
	</insert>
	
	<update id="update_abandonBudgetOrderGps" parameterType="budgetOrderGps">
		UPDATE tdq_budget_order_gps
		SET
		status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_budgetOrderGps" parameterType="budgetOrderGps">
		DELETE FROM tdq_budget_order_gps 
		WHERE code = #{code}
	</delete>
</mapper>