<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICarBreakDAO">
	<resultMap id="CarBreak_DB_Result" type="carBreak">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="car_no" property="carNo" />
		<result column="happen_datetime" property="happenDatetime" />
		<result column="address" property="address" />
		
		<result column="action" property="action" />
		<result column="score" property="score" />
		<result column="punish_amount" property="punishAmount" />
		<result column="handle_note" property="handleNote" />
		<result column="status" property="status" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	
	<select id="select_CarBreak" parameterType="carBreak" resultMap="CarBreak_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.car_no
		,t.happen_datetime
		,t.address
		
		,t.action
		,t.score
		,t.punish_amount
		,t.handle_note
		,t.status
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_car_break t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_CarBreak_count" parameterType="carBreak"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_car_break t
		<include refid="where_condition" />
	</select>

	<insert id="insert_CarBreak" parameterType="carBreak">
		INSERT INTO
		tp_car_break(
		code
		,user_id
		,car_no
		,happen_datetime
		,address
		
		,action
		,score
		,punish_amount
		,handle_note
		,status
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{userId}
		,#{carNo}
		,#{happenDatetime}
		,#{address}
		
		,#{action}
		,#{score}
		,#{punishAmount}
		,#{handleNote}
		,#{status}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_CarBreak" parameterType="carBreak">
		UPDATE tp_car_break
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>