<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICarDealerDAO">
	<resultMap id="carDealer_DB_Result" type="carDealer">
		<result column="code" property="code" />
		<result column="full_name" property="fullName" />
		<result column="abbr_name" property="abbrName" />
		<result column="is_self_develop" property="isSelfDevelop" />
		<result column="address" property="address" />
		<result column="car_dealer_type" property="carDealerType" />
		<result column="main_contact" property="mainContact" />
		<result column="contact_phone" property="contactPhone" />
		<result column="main_brand" property="mainBrand" />
		<result column="parent_group" property="parentGroup" />
		<result column="agreement_valid_date_start" property="agreementValidDateStart" />
		<result column="agreement_valid_date_end" property="agreementValidDateEnd" />
		<result column="agreement_status" property="agreementStatus" />
		<result column="agreement_pic" property="agreementPic" />
		<result column="settle_way" property="settleWay" />
		<result column="business_area" property="businessArea" />
		<result column="belong_branch_company" property="belongBranchCompany" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="approve_note" property="approveNote" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="abbrName != null and abbrName != '' ">
				AND t.abbr_name = #{abbrName}
			</if>
			<if test="isSelfDevelop != null and isSelfDevelop != '' ">
				AND t.is_self_develop = #{isSelfDevelop}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="warnDatetimeStart != null and warnDatetimeStart != '' ">
				AND t.agreement_valid_date_end &gt;= #{warnDatetimeStart}
			</if>
			<if test="warnDatetimeEnd != null and warnDatetimeEnd != '' ">
				AND t.agreement_valid_date_end &lt;= #{warnDatetimeEnd}
			</if>
		</trim>
	</sql>
	<select id="select_carDealer" parameterType="carDealer" resultMap="carDealer_DB_Result">
		SELECT
		t.code
		,t.full_name
		,t.abbr_name
		,t.is_self_develop
		,t.address
		,t.car_dealer_type
		,t.main_contact
		,t.contact_phone
		,t.main_brand
		,t.parent_group
		,t.agreement_valid_date_start
		,t.agreement_valid_date_end
		,t.agreement_status
		,t.agreement_pic
		,t.settle_way
		,t.business_area
		,t.belong_branch_company
		,t.cur_node_code
		,t.approve_note
		,t.remark
		FROM
		tb_car_dealer t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_carDealer_count" parameterType="carDealer"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_car_dealer t
		<include refid="where_condition" />
	</select>

	<insert id="insert_carDealer" parameterType="carDealer">
		INSERT INTO
		tb_car_dealer(
		code
		,full_name
		,abbr_name
		,is_self_develop
		,address
		,car_dealer_type
		,main_contact
		,contact_phone
		,main_brand
		,parent_group
		,agreement_valid_date_start
		,agreement_valid_date_end
		,agreement_status
		,agreement_pic
		,settle_way
		,business_area
		,belong_branch_company
		,cur_node_code
		,approve_note
		,remark
		)
		VALUES(
		#{code}
		,#{fullName}
		,#{abbrName}
		,#{isSelfDevelop}
		,#{address}
		,#{carDealerType}
		,#{mainContact}
		,#{contactPhone}
		,#{mainBrand}
		,#{parentGroup}
		,#{agreementValidDateStart}
		,#{agreementValidDateEnd}
		,#{agreementStatus}
		,#{agreementPic}
		,#{settleWay}
		,#{businessArea}
		,#{belongBranchCompany}
		,#{curNodeCode}
		,#{approveNote}
		,#{remark}
		)
	</insert>

	<update id="update_carDealer" parameterType="carDealer">
		UPDATE tb_car_dealer
		SET
		full_name = #{fullName}
		,abbr_name = #{abbrName}
		,is_self_develop = #{isSelfDevelop}
		,address = #{address}
		,car_dealer_type = #{carDealerType}
		,main_contact = #{mainContact}
		,contact_phone = #{contactPhone}
		,main_brand = #{mainBrand}
		,parent_group = #{parentGroup}
		,agreement_valid_date_start = #{agreementValidDateStart}
		,agreement_valid_date_end = #{agreementValidDateEnd}
		,agreement_status = #{agreementStatus}
		,agreement_pic = #{agreementPic}
		,settle_way = #{settleWay}
		,business_area = #{businessArea}
		,belong_branch_company = #{belongBranchCompany}
		,cur_node_code = #{curNodeCode}
		,approve_note = #{approveNote}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_carDealer_node" parameterType="carDealer">
		UPDATE tb_car_dealer
		SET
		cur_node_code = #{curNodeCode}
		,approve_note = #{approveNote}
		WHERE code = #{code}
	</update>


</mapper>