<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICarDealerProtocolDAO">
	<resultMap id="carDealerProtocol_DB_Result" type="carDealerProtocol">
		<result column="id" property="id" />
		<result column="car_dealer_code" property="carDealerCode" />
		<result column="bank_code" property="bankCode" />
		<result column="plat_ct_rate12" property="platCtRate12" />
		<result column="plat_ct_rate24" property="platCtRate24" />
		<result column="plat_ct_rate36" property="platCtRate36" />
		<result column="plat_zk_rate12" property="platZkRate12" />
		<result column="plat_zk_rate24" property="platZkRate24" />
		<result column="plat_zk_rate36" property="platZkRate36" />
		<result column="assure_type" property="assureType" />
		<result column="assure_fee" property="assureFee" />
		<result column="assure_rate" property="assureRate" />
		<result column="dz_type" property="dzType" />
		<result column="dz_fee" property="dzFee" />
		<result column="dz_rate" property="dzRate" />
		<result column="ly_amount_type" property="lyAmountType" />
		<result column="ly_amount_fee" property="lyAmountFee" />
		<result column="ly_amount_rate" property="lyAmountRate" />
		<result column="gps_type" property="gpsType" />
		<result column="gps_fee" property="gpsFee" />
		<result column="gps_rate" property="gpsRate" />
		<result column="other_type" property="otherType" />
		<result column="other_fee" property="otherFee" />
		<result column="other_rate" property="otherRate" />
		<result column="introduce_type" property="introduceType" />
		<result column="introduce_fee" property="introduceFee" />
		<result column="introduce_rate" property="introduceRate" />
		<result column="return_point_type" property="returnPointType" />
		<result column="return_point_fee" property="returnPointFee" />
		<result column="return_point_rate" property="returnPointRate" />
		<result column="is_dz" property="isDz" />
		<result column="insu_agency_year1_type" property="insuAgencyYear1Type" />
		<result column="insu_agency_year1_fee" property="insuAgencyYear1Fee" />
		<result column="insu_agency_year2_type" property="insuAgencyYear2Type" />
		<result column="insu_agency_year2_fee" property="insuAgencyYear2Fee" />
		<result column="insu_agency_year3_type" property="insuAgencyYear3Type" />
		<result column="insu_agency_year3_fee" property="insuAgencyYear3Fee" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="carDealerCode != null and carDealerCode != '' ">
				AND t.car_dealer_code = #{carDealerCode}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
		</trim>
	</sql>
	<select id="select_carDealerProtocol" parameterType="carDealerProtocol" resultMap="carDealerProtocol_DB_Result">
		SELECT
		t.id
		,t.car_dealer_code
		,t.bank_code
		,t.plat_ct_rate12
		,t.plat_ct_rate24
		,t.plat_ct_rate36
		,t.plat_zk_rate12
		,t.plat_zk_rate24
		,t.plat_zk_rate36
		,t.assure_type
		,t.assure_fee
		,t.assure_rate
		,t.dz_type
		,t.dz_fee
		,t.dz_rate
		,t.ly_amount_type
		,t.ly_amount_fee
		,t.ly_amount_rate
		,t.gps_type
		,t.gps_fee
		,t.gps_rate
		,t.other_type
		,t.other_fee
		,t.other_rate
		,t.introduce_type
		,t.introduce_fee
		,t.introduce_rate
		,t.return_point_type
		,t.return_point_fee
		,t.return_point_rate
		,t.is_dz
		,t.insu_agency_year1_type
		,t.insu_agency_year1_fee
		,t.insu_agency_year2_type
		,t.insu_agency_year2_fee
		,t.insu_agency_year3_type
		,t.insu_agency_year3_fee
		FROM
		tb_car_dealer_protocol t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_carDealerProtocol_count" parameterType="carDealerProtocol"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_car_dealer_protocol t
		<include refid="where_condition" />
	</select>

	<insert id="insert_carDealerProtocol" parameterType="carDealerProtocol">
		INSERT INTO
		tb_car_dealer_protocol(
		id
		,car_dealer_code
		,bank_code
		,plat_ct_rate12
		,plat_ct_rate24
		,plat_ct_rate36
		,plat_zk_rate12
		,plat_zk_rate24
		,plat_zk_rate36
		,assure_type
		,assure_fee
		,assure_rate
		,dz_type
		,dz_fee
		,dz_rate
		,ly_amount_type
		,ly_amount_fee
		,ly_amount_rate
		,gps_type
		,gps_fee
		,gps_rate
		,other_type
		,other_fee
		,other_rate
		,introduce_type
		,introduce_fee
		,introduce_rate
		,return_point_type
		,return_point_fee
		,return_point_rate
		,is_dz
		,insu_agency_year1_type
		,insu_agency_year1_fee
		,insu_agency_year2_type
		,insu_agency_year2_fee
		,insu_agency_year3_type
		,insu_agency_year3_fee
		)
		VALUES(
		#{id}
		,#{carDealerCode}
		,#{bankCode}
		,#{platCtRate12}
		,#{platCtRate24}
		,#{platCtRate36}
		,#{platZkRate12}
		,#{platZkRate24}
		,#{platZkRate36}
		,#{assureType}
		,#{assureFee}
		,#{assureRate}
		,#{dzType}
		,#{dzFee}
		,#{dzRate}
		,#{lyAmountType}
		,#{lyAmountFee}
		,#{lyAmountRate}
		,#{gpsType}
		,#{gpsFee}
		,#{gpsRate}
		,#{otherType}
		,#{otherFee}
		,#{otherRate}
		,#{introduceType}
		,#{introduceFee}
		,#{introduceRate}
		,#{returnPointType}
		,#{returnPointFee}
		,#{returnPointRate}
		,#{isDz}
		,#{insuAgencyYear1Type}
		,#{insuAgencyYear1Fee}
		,#{insuAgencyYear2Type}
		,#{insuAgencyYear2Fee}
		,#{insuAgencyYear3Type}
		,#{insuAgencyYear3Fee}
		)
	</insert>

	<update id="update_carDealerProtocol" parameterType="carDealerProtocol">
		UPDATE tb_car_dealer_protocol
		SET
		car_dealer_code = #{carDealerCode}
		,bank_code = #{bankCode}
		,plat_ct_rate12 = #{platCtRate12}
		,plat_ct_rate24 = #{platCtRate24}
		,plat_ct_rate36 = #{platCtRate36}
		,plat_zk_rate12 = #{platZkRate12}
		,plat_zk_rate24 = #{platZkRate24}
		,plat_zk_rate36 = #{platZkRate36}
		,assure_type = #{assureType}
		,assure_fee = #{assureFee}
		,assure_rate = #{assureRate}
		,dz_type = #{dzType}
		,dz_fee = #{dzFee}
		,dz_rate = #{dzRate}
		,ly_amount_type = #{lyAmountType}
		,ly_amount_fee = #{lyAmountFee}
		,ly_amount_rate = #{lyAmountRate}
		,gps_type = #{gpsType}
		,gps_fee = #{gpsFee}
		,gps_rate = #{gpsRate}
		,other_type = #{otherType}
		,other_fee = #{otherFee}
		,other_rate = #{otherRate}
		,introduce_type = #{introduceType}
		,introduce_fee = #{introduceFee}
		,introduce_rate = #{introduceRate}
		,return_point_type = #{returnPointType}
		,return_point_fee = #{returnPointFee}
		,return_point_rate = #{returnPointRate}
		,is_dz = #{isDz}
		,insu_agency_year1_type = #{insuAgencyYear1Type}
		,insu_agency_year1_fee = #{insuAgencyYear1Fee}
		,insu_agency_year2_type = #{insuAgencyYear2Type}
		,insu_agency_year2_fee = #{insuAgencyYear2Fee}
		,insu_agency_year3_type = #{insuAgencyYear3Type}
		,insu_agency_year3_fee = #{insuAgencyYear3Fee}
		WHERE id = #{id}
	</update>
	
	<delete id="delete_carDealerProtocol" parameterType="carDealerProtocol">
		DELETE FROM tb_car_dealer_protocol
		WHERE id = #{id}
	</delete>


</mapper>