<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICarOrderDAO">
	<resultMap id="carOrder_DB_Result" type="carOrder">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="user_mobile" property="userMobile" />
		<result column="brand_Code" property="brandCode" />
		<result column="brand_name" property="brandName" />
		<result column="series_code" property="seriesCode" />
		<result column="series_name" property="seriesName" />
		<result column="car_code" property="carCode" />
		<result column="car_name" property="carName" />
		<result column="price" property="price" />
		<result column="sf_rate" property="sfRate" />
		<result column="sf_amount" property="sfAmount" />
		<result column="periods" property="periods" />
		<result column="create_datetime" property="createDatetime" />
		<result column="sale_desc" property="saleDesc" />
		<result column="status" property="status" />
		<result column="handler" property="handler" />
		<result column="handle_datetime" property="handleDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="userMobile != null and userMobile != '' ">
				AND t.user_mobile = #{userMobile}
			</if>
			<if test="brandCode != null and brandCode != '' ">
				AND t.brand_code = #{brandCode}
			</if>
			<if test="brandName != null and brandName != '' ">
				AND t.brand_name  like "%"#{brandName}"%"
			</if>
			<if test="seriesCode != null and seriesCode != '' ">
				AND t.series_code = #{seriesCode}
			</if>
			<if test="seriesName != null and seriesName != '' ">
				AND t.series_name  like "%"#{seriesName}"%"
			</if>
			<if test="carCode != null and carCode != '' ">
				AND t.car_code = #{carCode}
			</if>
			<if test="carName != null and carName != '' ">
				AND t.car_name like "%"#{carName}"%"
			</if>
			<if test="price != null and price != '' ">
				AND t.price = #{price}
			</if>
			<if test="sfRate != null and sfRate != '' ">
				AND t.sf_rate = #{sfRate}
			</if>
			<if test="sfAmount != null and sfAmount != '' ">
				AND t.sf_amount = #{sfAmount}
			</if>
			<if test="periods != null and periods != '' ">
				AND t.periods = #{advPic}
			</if>
			<if test="createDatetime != null and createDatetime != '' ">
				AND t.create_datetime = #{createDatetime}
			</if>
			<if test="saleDesc != null and saleDesc != '' ">
				AND t.sale_desc = #{saleDesc}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="handler != null and handler != '' ">
				AND t.handler = #{handler}
			</if>
			<if test="handleDatetime != null and handleDatetime != '' ">
				AND t.handle_datetime = #{updateDatetime}
			</if>
			<if test="remark != null and remark != '' ">
				AND t.remark = #{remark}
			</if>
		</trim>
	</sql>
	<select id="select_carOrder" parameterType="carOrder" resultMap="carOrder_DB_Result">
		SELECT
		code
		,user_id
		,user_mobile
		,brand_code
		,brand_name
		,series_code
		,series_name
		,car_code
		,car_name
		,price
		,sf_rate
		,sf_amount
		,periods
		,create_datetime
		,sale_desc
		,status
		,handler
		,handle_datetime
		,remark
		FROM
		tht_car t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_carOrder_count" parameterType="carOrder" resultType="java.lang.Long">
		SELECT count(1) FROM tht_car_order t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_carOrder" parameterType="carOrder">
		INSERT INTO tht_car_order(
		code
		,user_id
		,user_mobile
		,brand_code
		,brand_name
		,series_code
		,series_name
		,car_code
		,car_name
		,price
		,sf_rate
		,sf_amount
		,periods
		,create_datetime
		,sale_desc
		,status
		,handler
		,handle_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{user_id}
		,#{user_mobile}
		,#{brand_code}
		,#{brand_name}
		,#{series_code}
		,#{series_name}
		,#{car_code}
		,#{car_name}
		,#{price}
		,#{sf_rate}
		,#{sf_amount}
		,#{periods}
		,#{create_datetime}
		,#{sale_desc}
		,#{status}
		,#{handler}
		,#{handle_datetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_carOrder" parameterType="carOrder">
		UPDATE tht_car_order SET
		status = #{status}
		,handler = #{handler}
		,handle_datetime = #{handleDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
</mapper>