<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICollectBankcardDAO">
	<resultMap id="collectBankcard_DB_Result" type="collectBankcard">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="belong_bank" property="belongBank" />
		<result column="company_code" property="companyCode" />
		<result column="real_name" property="realName" />
		<result column="bank_code" property="bankCode" />
		<result column="bank_name" property="bankName" />
		<result column="subbranch" property="subbranch" />
		<result column="bankcard_number" property="bankcardNumber" />
		<result column="point_rate" property="pointRate" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="belongBank != null and belongBank != '' ">
				AND t.belong_bank = #{belongBank}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND t.real_name like "%"#{keyword}"%" OR  t.bank_name like "%"#{keyword}"%"
				OR  t.bankcard_number like "%"#{keyword}"%" OR  t.subbranch like "%"#{keyword}"%"
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
		</trim>
	</sql>
	<select id="select_collectBankcard" parameterType="collectBankcard" resultMap="collectBankcard_DB_Result">
		SELECT
		t.code
		,t.type
		,t.belong_bank
		,t.company_code
		,t.real_name
		,t.bank_code
		,t.bank_name
		,t.subbranch
		,t.bankcard_number
		,t.point_rate
		,t.remark
		FROM
		tb_collect_bankcard t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_collectBankcard_count" parameterType="collectBankcard"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_collect_bankcard t
		<include refid="where_condition" />
	</select>

	<insert id="insert_collectBankcard" parameterType="collectBankcard">
		INSERT INTO
		tb_collect_bankcard(
		code
		,type
		,belong_bank
		,company_code
		,real_name
		,bank_code
		,bank_name
		,subbranch
		,bankcard_number
		,point_rate
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{belongBank}
		,#{companyCode}
		,#{realName}
		,#{bankCode}
		,#{bankName}
		,#{subbranch}
		,#{bankcardNumber}
		,#{pointRate}
		,#{remark}
		)
	</insert>
	
	<delete id="delete_collectBankcard" parameterType="collectBankcard">
		DELETE FROM tb_collect_bankcard
		WHERE code = #{code}
	</delete>

	<update id="update_collectBankcard" parameterType="collectBankcard">
		UPDATE tb_collect_bankcard
		SET
		type = #{type}
		,belong_bank = #{belongBank}
		,company_code = #{companyCode}
		,real_name = #{realName}
		,bank_code = #{bankCode}
		,bank_name = #{bankName}
		,subbranch = #{subbranch}
		,bankcard_number = #{bankcardNumber}
		,point_rate = #{pointRate}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<select id="select_collect_bankcard_byCompanyCodeAndType" parameterType="collectBankcard" resultMap="collectBankcard_DB_Result">
		SELECT
		t.code
		,t.type
		,t.belong_bank
		,t.company_code
		,t.real_name
		,t.bank_code
		,t.bank_name
		,t.subbranch
		,t.bankcard_number
		,t.point_rate
		,t.remark
		FROM
		tb_collect_bankcard t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	
	</select>


</mapper>