<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICompanyClearanceDAO">
	<resultMap id="companyClearance_DB_Result" type="companyClearance">
		<result column="id" property="id" />
		<result column="repaybiz_code" property="repaybizCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="repaybizCode != null and repaybizCode != '' ">
				AND t.repaybiz_code = #{repaybizCode}
			</if>
		</trim>
	</sql>
	<select id="select_companyClearance" parameterType="companyClearance" resultMap="companyClearance_DB_Result">
		SELECT
		t.id
		,t.repaybiz_code
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdh_company_clearance t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_companyClearance_count" parameterType="companyClearance"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_company_clearance t
		<include refid="where_condition" />
	</select>

	<insert id="insert_companyClearance" parameterType="companyClearance">
		INSERT INTO
		tdh_company_clearance(
		id
		,repaybiz_code
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{id}
		,#{repaybizCode}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_companyClearance" parameterType="companyClearance">
		UPDATE tdh_company_clearance
		SET
		repaybiz_code = #{repaybizCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE id = #{id}
	</update>


</mapper>