<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICompProductDAO">
	<resultMap id="CompProduct_DB_Result" type="CompProduct">
		<result column="code" property="code" />
		<result column="category_code" property="categoryCode" />
		<result column="name" property="name" />
		<result column="model" property="model" />
		<result column="unit" property="unit" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="categoryCode != null and categoryCode != '' ">
				AND t.category_code = #{categoryCode}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
		</trim>
	</sql>
	
	<select id="select_CompProduct" parameterType="CompProduct" resultMap="CompProduct_DB_Result">
		SELECT
		t.code
		,t.category_code
		,t.name
		,t.model
		,t.unit
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_comp_product t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_CompProduct_count" parameterType="CompProduct"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_comp_product t
		<include refid="where_condition" />
	</select>

	<insert id="insert_CompProduct" parameterType="CompProduct">
		INSERT INTO
		tp_comp_product(
		code
		,category_code
		,name
		,model
		,unit
		
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{categoryCode}
		,#{name}
		,#{model}
		,#{unit}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_CompProduct" parameterType="CompProduct">
		UPDATE tp_comp_product
		SET
		category_code = #{categoryCode}
		,name = #{name}
		,model = #{model}
		,unit = #{unit}
		
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>