<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IContractImportDAO">
	<resultMap id="contractImport_DB_Result" type="contractImport">
		<result column="code" property="code" />
		<result column="contract_code" property="contractCode" />
		<result column="budget_order_code" property="budgetOrderCode" />
		<result column="customer_name" property="customerName" />
		<result column="id_no" property="idNo" />
		<result column="loan_amount" property="loanAmount" />
		<result column="bank_code" property="bankCode" />
		<result column="bill_datetime" property="billDatetime" />
		<result column="repay_bank_date" property="repayBankDate" />
		<result column="bank_card_number" property="bankCardNumber" />
		<result column="contract_sign_date" property="contractSignDate" />
		<result column="import_datetime" property="importDatetime" />
		<result column="status" property="status" />
		<result column="operator" property="operator" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="contractCode != null and contractCode != '' ">
				AND t.contract_code = #{contractCode}
			</if>
			<if test="bankCode != null and bankCode != '' ">
				AND t.bank_code = #{bankCode}
			</if>
			<if test="importDatetime != null and importDatetime != '' ">
				AND t.import_datetime = #{importDatetime}
			</if>
			<if test="budgetOrderCode != null and budgetOrderCode != '' ">
				AND t.budget_order_code = #{budgetOrderCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_contractImport" parameterType="contractImport" resultMap="contractImport_DB_Result">
		SELECT
		t.code
		,t.contract_code
		,t.budget_order_code
		,t.customer_name
		,t.id_no
		,t.loan_amount
		,t.bank_code
		,t.bill_datetime
		,t.repay_bank_date
		,t.bank_card_number
		,t.contract_sign_date
		,t.import_datetime
		,t.status
		,t.operator
		,t.remark
		FROM
		tdq_contract_import t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_contractImport_count" parameterType="contractImport"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_contract_import t
		<include refid="where_condition" />
	</select>

	<insert id="insert_contractImport" parameterType="contractImport">
		INSERT INTO
		tdq_contract_import(
		code
		,contract_code
		,budget_order_code
		,customer_name
		,id_no
		,loan_amount
		,bank_code
		,bill_datetime
		,repay_bank_date
		,bank_card_number
		,contract_sign_date
		,import_datetime
		,status
		,operator
		,remark
		)
		VALUES(
		#{code}
		,#{contractCode}
		,#{budgetOrderCode}
		,#{customerName}
		,#{idNo}
		,#{loanAmount}
		,#{bankCode}
		,#{billDatetime}
		,#{repayBankDate}
		,#{bankCardNumber}
		,#{contractSignDate}
		,#{importDatetime}
		,#{status}
		,#{operator}
		,#{remark}
		)
	</insert>

	<update id="update_contractImport" parameterType="contractImport">
		UPDATE tdq_contract_import
		SET
		contract_code = #{contractCode}
		,budget_order_code = #{budgetOrderCode}
		,customer_name = #{customerName}
		,id_no = #{idNo}
		,loan_amount = #{loanAmount}
		,bank_code = #{bankCode}
		,bill_datetime = #{billDatetime}
		,repay_bank_date = #{repayBankDate}
		,bank_card_number = #{bankCardNumber}
		,contract_sign_date = #{contractSignDate}
		,import_datetime = #{importDatetime}
		,status = #{status}
		,operator = #{operator}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>