<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IContractDAO">
	<resultMap id="contract_DB_Result" type="contract">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="archive_code" property="archiveCode" />
		<result column="contract_no" property="contractNo" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="pdf" property="pdf" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			1=1
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="archiveCode != null and archiveCode != '' ">
				AND t.archive_code = #{archiveCode}
			</if>
			<if test="contractNo != null and contractNo != '' ">
				AND t.contract_no = #{contractNo}
			</if>
			<if test="warnDatetimeStart != null and warnDatetimeStart != '' ">
				<![CDATA[AND t.end_datetime >= #{warnDatetimeStart}]]>
			</if>
			<if test="warnDatetimeEnd != null and warnDatetimeEnd != '' ">
				<![CDATA[AND t.end_datetime <= #{warnDatetimeEnd}]]>
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			AND t.is_delete='1'
		</trim>
	</sql>
	<select id="select_contract" parameterType="contract" resultMap="contract_DB_Result">
		SELECT
		t.code
		,t.type
		,t.archive_code
		,t.contract_no
		,t.start_datetime
		,t.end_datetime
		,t.pdf
		,t.remark
		FROM
		tp_contract t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_contract_count" parameterType="contract"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_contract t
		<include refid="where_condition" />
	</select>

	<insert id="insert_contract" parameterType="contract">
		INSERT INTO
		tp_contract(
		code
		,type
		,archive_code
		,contract_no
		,start_datetime
		,end_datetime
		,pdf
		,remark
		,is_delete
		)
		VALUES(
		#{code}
		,#{type}
		,#{archiveCode}
		,#{contractNo}
		,#{startDatetime}
		,#{endDatetime}
		,#{pdf}
		,#{remark}
		,'1'
		)
	</insert>

	<update id="update_contract" parameterType="contract">
		UPDATE tp_contract
		SET
		type = #{type}
		,archive_code = #{archiveCode}
		,contract_no = #{contractNo}
		,start_datetime = #{startDatetime}
		,end_datetime = #{endDatetime}
		,pdf = #{pdf}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="delete_contract" parameterType="contract">
		UPDATE tp_contract
		SET
		is_delete = '0' 
		WHERE code = #{code}
	</update>


</mapper>