<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IConvertApplyDAO">
	<resultMap id="convertApply_DB_Result" type="convertApply">
		<result column="code" property="code" />
		<result column="entry_code" property="entryCode" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="work_summary" property="workSummary" />
		<result column="all_evaluation" property="allEvaluation" />
		<result column="is_full_worker" property="isFullWorker" />
		<result column="effect_datetime" property="effectDatetime" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime > #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime < #{applyDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_convertApply" parameterType="convertApply" resultMap="convertApply_DB_Result">
		SELECT
		t.code
		,t.entry_code
		,t.apply_user
		,t.apply_datetime
		,t.work_summary
		,t.all_evaluation
		,t.is_full_worker
		,t.effect_datetime
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_convert_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_convertApply_count" parameterType="convertApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_convert_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_convertApply" parameterType="convertApply">
		INSERT INTO
		tp_convert_apply(
		code
		,entry_code
		,apply_user
		,apply_datetime
		,work_summary
		,all_evaluation
		,is_full_worker
		,effect_datetime
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{entryCode}
		,#{applyUser}
		,#{applyDatetime}
		,#{workSummary}
		,#{allEvaluation}
		,#{isFullWorker}
		,#{effectDatetime}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_convertApply" parameterType="convertApply">
		UPDATE tp_convert_apply
		SET
		entry_code = #{entryCode}
		,apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		,work_summary = #{workSummary}
		,all_evaluation = #{allEvaluation}
		,is_full_worker = #{isFullWorker}
		,effect_datetime = #{effectDatetime}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_convertApply_status" parameterType="convertApply">
		UPDATE tp_convert_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>