<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditDAO">
	<resultMap id="credit_DB_Result" type="credit">
	
		<result column="code" property="code" />
		<result column="loan_bank" property="loanBank" />
		<result column="shop_way" property="shopWay" />
		<result column="loan_amount" property="loanAmount" />
		<result column="xsz_front" property="xszFront" />
		<result column="xsz_reverse" property="xszReverse" />
		<result column="cur_node_code" property="curNodeCode" />
		
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="loanBank != null and loanBank != '' ">
				AND t.loan_bank = #{loanBank}
			</if>
			<if test="shopWay != null and shopWay != '' ">
				AND t.shop_way = #{shopWay}
			</if>
			<if test="loanAmount != null and loanAmount != '' ">
				AND t.loan_amount = #{loanAmount}
			</if>
			<if test="xszFront != null and xszFront != '' ">
				AND t.xsz_front = #{xszFront}
			</if>
			<if test="xszReverse != null and xszReverse != '' ">
				AND t.xsz_reverse = #{xszReverse}
			</if>
		</trim>
	</sql>
	
	<select id="select_credit" parameterType="credit" resultMap="credit_DB_Result">
		select 
		t.code
		,t.loan_bank
		,t.shop_way
		,t.loan_amount
		,t.xsz_front
		,t.xsz_reverse
		from tdq_credit
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	
	<insert id="insert_credit" parameterType="credit">
		INSERT INTO tdq_credit(
		code
		,loan_bank
		,shop_way
		,loan_amount
		,xsz_front
		
		,xsz_reverse
		,cur_node_code
		)
		VALUES(
		#{code}
		,#{loanBank}
		,#{shopWay}
		,#{loanAmount}
		,#{xszFront}
		
		,#{xszReverse}
		,#{curNodeCode}
		)
	</insert>
	
	<update id="update_credit" parameterType="credit">
		UPDATE tdq_credit
		SET
		loan_bank = #{frozenAmount}
		,shop_way = #{lastOrder}
		,loan_amount = #{lastOrder}
		,xsz_front = #{lastOrder}
		,xsz_reverse = #{lastOrder}
		,cur_node_code = #{lastOrder}
		WHERE
		code = #{code}
	</update>
	
	<select id="select_credit_count" parameterType="credit"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_credit t
		<include refid="where_condition" />
	</select>
	
</mapper>
