<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditUserDAO">
	<resultMap id="creditUser_DB_Result" type="creditUser">
	
		<result column="code" property="code" />
		<result column="credit_code" property="creditCode" />
		
		<result column="user_name" property="userName" />
		<result column="relation" property="relation" />
		<result column="loan_role" property="loanRole" />
		<result column="id_no" property="idNo" />
		<result column="mobile" property="mobile" />
		<result column="auth_pdf" property="authPdf" />
		<result column="interview_pic" property="interviewPic" />
		
		<result column="dkdy_count" property="dkdyCount" />
		<result column="dkdy_amount" property="dkdyAmount" />
		<result column="dkdy_2year_over_times" property="dkdy2YearOverTimes" />
		<result column="dkdy_max_over_amount" property="dkdyMaxOverAmount" />
		<result column="dkdy_current_over_amount" property="dkdyCurrentOverAmount" />
		<result column="dkdy_6month_avg_amount" property="dkdy6MonthAvgAmount" />
		
		<result column="hkxy_unsettle_count" property="hkxyUnsettleCount" />
		<result column="hkxy_unsettle_amount" property="hkxyUnsettleAmount" />
		<result column="hkxy_2year_over_times" property="hkxy2YearOverTimes" />
		<result column="hkxy_monthmax_over_amount" property="hkxyMonthmaxOverAmount" />		
		<result column="hkxy_current_over_amount" property="hkxyCurrentOverAmount" />
		<result column="hkxy_6month_avg_amount" property="hkxy6MonthAvgAmount" />
		
		<result column="xyk_count" property="xykCount" />
		<result column="xyk_credit_amount" property="xykCreditAmount" />
		<result column="xyk_6month_use_amount" property="xyk6MonthUseAmount" />
		<result column="xyk_2year_over_times" property="xykYearOverTimes" />
		<result column="xyk_month_max_over_amount" property="xykMonthMaxOverAmount" />
		<result column="xyk_current_over_amount" property="xykCurrentOverAmount" />
		
		<result column="out_guarantees_count" property="outGuaranteesCount" />
		<result column="out_guarantees_amount" property="outGuaranteesAmount" />
		<result column="out_guarantees_remark" property="outGuaranteesRemark" />		
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="loanBank != null and loanBank != '' ">
				AND t.loan_bank = #{loanBank}
			</if>
			<if test="shopWay != null and shopWay != '' ">
				AND t.shop_way = #{shopWay}
			</if>
			<if test="loanAmount != null and loanAmount != '' ">
				AND t.loan_amount = #{loanAmount}
			</if>
			<if test="xszFront != null and xszFront != '' ">
				AND t.xsz_front = #{xszFront}
			</if>
			<if test="xszReverse != null and xszReverse != '' ">
				AND t.xsz_reverse = #{xszReverse}
			</if>
		</trim>
	</sql>
	
	<insert id="insert_creditUserLsit" parameterType="List">
		INSERT INTO 
		stdq_credit_user(
		code
		,credit_code
		
		,user_name
		,relation
		,loan_role
		,id_no
		,mobile
		,auth_pdf
		,interview_pic
		
		,dkdy_count
		,dkdy_amount
		,dkdy_2year_over_times
		,dkdy_max_over_amount
		,dkdy_current_over_amount
		,dkdy_6month_avg_amount
		
		,hkxy_unsettle_count
		,hkxy_unsettle_amount
		,hkxy_2year_over_times
		,hkxy_monthmax_over_amount
		,hkxy_current_over_amount
		,hkxy_6month_avg_amount
		
		,xyk_count
		,xyk_credit_amount
		,xyk_6month_use_amount
		,xyk_2year_over_times
		,xyk_month_max_over_amount
		,xyk_current_over_amount
		
		,out_guarantees_count
		,out_guarantees_amount
		,out_guarantees_remark
		)
		VALUES(
		<foreach collection="list" item="creditUser" separator=",">
			#{code}
			#{creditCode}
			
			#{userName}
			#{relation}
			#{loanRole}
			#{idNo}
			#{mobile}
			#{authPdf}
			#{interviewPic}

			#{dkdyCount}
			#{dkdyAmount}
			#{dkdy2YearOverTimes}
			#{dkdyMaxOverAmount}
			#{dkdyCurrentOverAmount}
			#{dkdy6MonthAvgAmount}
			
			#{hkxyUnsettleCount}
			#{hkxyUnsettleAmount}
			#{hkxy2YearOverTimes}
			#{hkxyMonthmaxOverAmount}
			#{hkxyCurrentOverAmount}
			#{hkxy6MonthAvgAmount}
			
			#{xykCount}
			#{xykCreditAmount}
			#{xyk6MonthUseAmount}
			#{xykYearOverTimes}
			#{xykMonthMaxOverAmount}
			#{xykCurrentOverAmount}
			
			#{outGuaranteesCount}
			#{outGuaranteesAmount}
			#{outGuaranteesRemark}
		</foreach>
		)
		
		
		
		
		
		
		
		
		
		
		
		
	</insert>

	
	<insert id="insert_creditUser" parameterType="credit">
		INSERT INTO tdq_credit(
		code
		
		)
		VALUES(
		#{code}

		)
	</insert>
	
	
	
	

	
	
		<select id="select_creditUser" parameterType="credit" resultMap="credit_DB_Result">
		select 
		t.code
		,t.loan_bank
		,t.shop_way
		,t.loan_amount
		,t.xsz_front
		,t.xsz_reverse
		from tdq_credit
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<update id="update_creditUser" parameterType="credit">
		UPDATE tdq_credit
		SET
		loan_bank = #{frozenAmount}
		,shop_way = #{lastOrder}
		,loan_amount = #{lastOrder}
		,xsz_front = #{lastOrder}
		,xsz_reverse = #{lastOrder}
		,cur_node_code = #{lastOrder}
		WHERE
		code = #{code}
	</update>
	
	<select id="select_credit_countUser" parameterType="credit"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_credit t
		<include refid="where_condition" />
	</select>
	
</mapper>
