<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditUserDAO">
	<resultMap id="creditUser_DB_Result" type="creditUser">
		<result column="code" property="code" />
		<result column="credit_code" property="creditCode" />
		<result column="user_name" property="userName" />
		<result column="relation" property="relation" />
		<result column="loan_role" property="loanRole" />
		
		<result column="id_no" property="idNo" />
		<result column="mobile" property="mobile" />
		<result column="id_no_front" property="idNoFront" />
		<result column="id_no_reverse" property="idNoReverse" />
		<result column="auth_pdf" property="authPdf" />
		<result column="interview_pic" property="interviewPic" />
		
        <result column="bank_credit_result_pdf" property="bankCreditResultPdf" />
			
<!-- 		<result column="month_income" property="monthIncome" />		
		<result column="settle_interest" property="settleInterest" />		
		<result column="balance" property="balance" />		
		<result column="jour_show_income" property="jourShowIncome" />		
		<result column="is_print" property="isPrint" />		 -->
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="creditCode != null and creditCode != '' ">
				AND t.credit_code = #{creditCode}
			</if>
			<if test="relation != null and relation != '' ">
				AND t.relation = #{relation}
			</if>
		</trim>
	</sql>
	
	<select id="select_creditUser" parameterType="creditUser" resultMap="creditUser_DB_Result">
		select 
		t.code
		,t.credit_code
		,t.user_name
		,t.relation
		,t.loan_role
		,t.mobile
		
		,t.id_no
		,t.id_no_front
		,t.id_no_reverse
		,t.auth_pdf
		,t.interview_pic
		
		,t.bank_credit_result_pdf
		from tdq_credit_user t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_creditUser_count" parameterType="creditUser"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_credit_user t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_creditUser" parameterType="creditUser">
		INSERT INTO 
		tdq_credit_user(
		code
		,credit_code
		,relation
		,user_name		
		,loan_role
		
		,mobile
		,id_no
		,id_no_front
		,id_no_reverse
		,auth_pdf
		
		,interview_pic		
		)
		VALUES(
		#{code}
		,#{creditCode}
		,#{relation}
		,#{userName}
		,#{loanRole}
		
		,#{mobile}
		,#{idNo}
		,#{idNoFront}	
		,#{idNoReverse}
		,#{authPdf}
		
		,#{interviewPic}
		)
	</insert>
	
	<insert id="insert_creditUserList" parameterType="List">
		INSERT INTO 
		tdq_credit_user(
		code
		,credit_code
		,relation
		,user_name		
		,loan_role
		
		,mobile
		,id_no
		,id_no_front
		,id_no_reverse
		,auth_pdf
		
		,interview_pic			
		)
		VALUES(
		<foreach collection="list" item="creditUser" separator=",">
			#{code}
			,#{creditCode}
			,#{relation}
			,#{userName}
			,#{loanRole}
			
			,#{mobile}
			,#{idNo}
			,#{idNoFront}	
			,#{idNoReverse}
			,#{authPdf}
			
			,#{interviewPic}
		</foreach>
		)
	</insert>
	
	<update id="update_creditUser" parameterType="creditUser">
		UPDATE tdq_credit_user
		SET
		user_name=#{userName}
		,relation=#{relation}
		,loan_role=#{loanRole}
		,mobile=#{mobile}
		,id_no=#{idNo}
		
		,id_no_front=#{idNoFront}
		,id_no_reverse=#{idNoReverse}
		,auth_pdf=#{authPdf}
		,interview_pic=#{interviewPic}
		WHERE
		code = #{code}
	</update>
	
		
	<update id="update_bankCreditResult" parameterType="creditUser">
		UPDATE tdq_credit_user
		SET
		bank_credit_result_pdf=#{bankCreditResultPdf}
		WHERE 
		code = #{code}
	</update>
	
	<update id="update_creditUserIncome" parameterType="creditUser">
		UPDATE tdq_credit_user
		SET
		month_income = #{monthIncome}
		,settle_interest = #{settleInterest}
		,balance = #{balance}
		,jour_show_income = #{jourShowIncome}
		,is_print = #{isPrint}
		WHERE
		code = #{code}
	</update>
	
</mapper>