<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditChangeRecordDAO">
	<resultMap id="creditChangeRecord_DB_Result" type="creditChangeRecord">
		<result column="id" property="id" />
		<result column="now_credit_code" property="nowCreditCode" />
		<result column="raw_credit_code" property="rawCreditCode" />
		<result column="now_loan_bank_code" property="nowLoanBankCode" />
		<result column="raw_loan_bank_code" property="rawLoanBankCode" />
		<result column="operator" property="operator" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="nowCreditCode != null and nowCreditCode != '' ">
				AND t.now_credit_code like "%"#{nowCreditCode}"%"
			</if>
		</trim>
	</sql>
	<select id="select_creditChangeRecord" parameterType="creditChangeRecord" resultMap="creditChangeRecord_DB_Result">
		SELECT
		t.id
		,t.now_credit_code
		,t.raw_credit_code
		,t.now_loan_bank_code
		,t.raw_loan_bank_code
		,t.operator
		,t.update_datetime
		,t.remark
		FROM
		tdq_credit_change_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_creditChangeRecord_count" parameterType="creditChangeRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_credit_change_record t
		<include refid="where_condition" />
	</select>

	<insert id="insert_creditChangeRecord" parameterType="creditChangeRecord">
		INSERT INTO
		tdq_credit_change_record(
		id
		,now_credit_code
		,raw_credit_code
		,now_loan_bank_code
		,raw_loan_bank_code
		,operator
		,update_datetime
		,remark
		)
		VALUES(
		#{id}
		,#{nowCreditCode}
		,#{rawCreditCode}
		,#{nowLoanBankCode}
		,#{rawLoanBankCode}
		,#{operator}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_creditChangeRecord" parameterType="creditChangeRecord">
		UPDATE tdq_credit_change_record
		SET
		now_credit_code = #{nowCreditCode}
		,raw_credit_code = #{rawCreditCode}
		,now_loan_bank_code = #{nowLoanBankCode}
		,raw_loan_bank_code = #{rawLoanBankCode}
		,operator = #{operator}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE id = #{id}
	</update>


</mapper>