<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.ICurrencyRateDAO">

    <resultMap id="BaseResultMap" type="com.cdkj.coin.domain.CurrencyRate">
        <id column="currency" jdbcType="VARCHAR" property="currency"/>
        <result column="refer_currency" jdbcType="VARCHAR" property="referCurrency"/>
        <result column="origin" jdbcType="VARCHAR" property="origin"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        currency, refer_currency, origin, rate, update_datetime
    </sql>

    <insert id="insert" parameterType="com.cdkj.coin.domain.CurrencyRate">
        INSERT INTO tcoin_currency_rate (currency, refer_currency, origin,
                                         rate, update_datetime)
        VALUES (#{currency}, #{referCurrency}, #{origin,jdbcType=VARCHAR},
                #{rate}, #{updateDatetime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.cdkj.coin.domain.CurrencyRate">
        UPDATE tcoin_currency_rate
        SET refer_currency  = #{referCurrency},
            origin          = #{origin},
            rate            = #{rate,jdbcType=DECIMAL},
            update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
        WHERE currency = #{currency,jdbcType=VARCHAR}
    </update>

    <select id="select" parameterType="com.cdkj.coin.domain.CurrencyRate" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tcoin_currency_rate
        WHERE currency = #{currency}
    </select>

    <select id="selectList" parameterType="com.cdkj.coin.domain.CurrencyRate" resultMap="BaseResultMap">

        SELECT
        <include refid="Base_Column_List"/>
        FROM tcoin_currency_rate

    </select>

</mapper>