<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICUserDAO">
	<resultMap id="cUser_DB_Result" type="cuser">
		<result column="user_id" property="userId" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		<result column="photo" property="photo" />
		<result column="nickname" property="nickname" />
		<result column="login_pwd" property="loginPwd" />
		<result column="login_pwd_strength" property="loginPwdStrength" />
		<result column="user_referee" property="userReferee" />
		<result column="referee_mobile" property="refereeMobile" />
		<result column="trade_pwd" property="tradePwd" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		<result column="real_name" property="realName" />
		<result column="jf_amount" property="jfAmount" />
		<result column="amount" property="amount" />
		<result column="creditscore" property="creditscore" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
		</trim>
	</sql>
	
	<select id="select_cuser" parameterType="cuser" resultMap="cUser_DB_Result">
		SELECT
		user_id
		,login_name
		,mobile
		,photo
		,nickname
		,login_pwd
		,login_pwd_strength
		,user_referee
		,referee_mobile
		,trade_pwd
		,trade_pwd_strength
		,id_kind
		,id_no
		,real_name
		,jf_amount
		,amount
		,creditscore
		,status
		,create_datetime
		,remark
		FROM
		tht_user t
		<include refid="where_condition" />
		order by t.create_datetime desc
	</select>
	
	<select id="select_cuser_count" parameterType="cuser" resultType="java.lang.Long">
		SELECT count(1) FROM tht_user t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_cuser" parameterType="cuser">
		INSERT INTO tht_user(
		user_id
		,login_name
		,mobile
		,photo
		,nickname
		,login_pwd
		,login_pwd_strength
		,user_referee
		,referee_mobile
		,trade_pwd
		,trade_pwd_strength
		,id_kind
		,id_no
		,real_name
		,jf_amount
		,amount
		,creditscore
		,status
		,create_datetime
		,remark
		)
		VALUES(
		#{userId}
		,#{loginName}
		,#{mobile}
		,#{photo}
		,#{nickname}
		,#{loginPwd}
		,#{loginPwdStrength}
		,#{userReferee}
		,#{refereeMobile}
		,#{tradePwd}
		,#{tradePwdStrength}
		,#{idKind}
		,#{idNo}
		,#{realName}
		,#{jfAmount}
		,#{amount}
		,#{creditscore}
		,#{status}
		,#{createDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_cuser" parameterType="cuser">
		UPDATE tht_user SET
		login_name           =	#{loginName}
		,mobile              =	#{mobile}
		,photo               =	#{photo}
		,nickname            =	#{nickname}
		,login_pwd           =	#{loginPwd}
		,login_pwd_strength   =	#{loginPwdStrength}
		,user_referee        =	#{userReferee}
		,referee_mobile      =	#{refereeMobile}
		,trade_pwd           =	#{tradePwd}
		,trade_pwd_strength  =	#{tradePwdStrength}
		,id_kind             =	#{idKind}
		,id_no               =	#{idNo}
		,real_name           =	#{realName}
		,jf_amount           =	#{jfAmount}
		,amount              =	#{amount}
		,creditscore         =	#{creditscore}
		,status              =	#{status}
		,create_datetime     =	#{createDatetime}
		,remark              =	#{remark}
	</update>
	
	<update id="update_login_pwd" parameterType="cuser">
		UPDATE tht_cuser
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_mobile" parameterType="cuser">
		UPDATE tht_cuser
		SET
		login_name = #{mobile}
		,mobile = #{mobile}
		WHERE
		user_id = #{userId}
	</update>
	
	<update id="update_user_nickname" parameterType="cuser">
		UPDATE tht_cuser
		SET
		 nickname = #{nickname}
		WHERE
		user_id = #{userId}	
	</update>
	
	
	
	
	
</mapper>