<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IDayRestDAO">
	<resultMap id="dayRest_DB_Result" type="dayRest">
		<result column="id" property="id" />
		<result column="date" property="date" />
		<result column="is_rest" property="isRest" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="startDatetime != null and startDatetime != '' ">
				<![CDATA[AND t.date >= #{startDatetime}]]>
			</if>
			<if test="endDatetime != null and endDatetime != '' ">
				<![CDATA[AND t.date <= #{endDatetime}]]>
			</if>
		</trim>
	</sql>
	<select id="select_dayRest" parameterType="dayRest" resultMap="dayRest_DB_Result">
		SELECT
		t.id
		,t.date
		,t.is_rest
		,t.updater
		,t.update_datetime
		,t.company_code
		FROM
		tp_day_rest t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_dayRest_count" parameterType="dayRest"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_day_rest t
		<include refid="where_condition" />
	</select>

	<insert id="insert_dayRest" parameterType="dayRest">
		INSERT INTO
		tp_day_rest(
		date
		,is_rest
		,updater
		,update_datetime
		,company_code
		)
		VALUES(
		#{date}
		,#{isRest}
		,#{updater}
		,#{updateDatetime}
		,#{companyCode}
		)
	</insert>
	
	<insert id="insert_dayRestList" parameterType="dayRest">
		INSERT INTO
		tp_day_rest(
		date
		,updater
		,update_datetime
		,company_code
		)
		VALUES
		<foreach collection="list" item="dayRest" separator=",">
			(
			#{dayRest.date}
			,#{dayRest.updater}
			,#{dayRest.updateDatetime}
			,#{dayRest.companyCode}
			)
		</foreach>
	</insert>

	<delete id="delete_dayRest" parameterType="dayRest">
		DELETE FROM tp_day_rest t WHERE <![CDATA[ t.date >= #{startDatetime} AND t.date <= #{endDatetime}]]>
	</delete>
</mapper>