<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IDepartmentDAO">
	<resultMap id="department_DB_Result" type="department">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="lead_user_id" property="leadUserId" />
		<result column="parent_code" property="parentCode" />
		<result column="province_no" property="provinceNo" />
		<result column="city_no" property="cityNo" />
		<result column="area_no" property="areaNo" />
		
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="typeList != null and typeList.size() != 0 ">
				AND t.type in 
                <foreach item="item" index="index" collection="typeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			<if test="leadUserId != null and leadUserId != '' ">
				AND t.lead_user_id = #{leadUserId}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="keyword != null and keyword != '' ">
				AND t.name like "%"#{keyword}"%"
			</if>
		</trim>
	</sql>
	<select id="select_department" parameterType="department" resultMap="department_DB_Result">
		SELECT
		t.code
		,t.type
		,t.name
		,t.lead_user_id
		,t.parent_code
		,t.province_no
		,t.city_no
		,t.area_no
		
		,t.order_no
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tsys_department t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_department_count" parameterType="department"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_department t
		<include refid="where_condition" />
	</select>

	<insert id="insert_department" parameterType="department">
		INSERT INTO
		tsys_department(
		code
		,type
		,name
		,lead_user_id
		,parent_code
		,province_no
		,city_no
		,area_no
		
		,order_no
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{name}
		,#{leadUserId}
		,#{parentCode}
		,#{provinceNo}
		,#{cityNo}
		,#{areaNo}
		
		,#{orderNo}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_department" parameterType="department">
		UPDATE tsys_department
		SET
		type = #{type}
		,name = #{name}
		,lead_user_id = #{leadUserId}
		,parent_code = #{parentCode}
		,province_no = #{provinceNo}
		,city_no = #{cityNo}
		,area_no = #{areaNo}
		,order_no = #{orderNo}
		
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_status" parameterType="department">
		UPDATE tsys_department
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
</mapper>