<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IEmployApplyDAO">
	<resultMap id="employApply_DB_Result" type="employApply">
		<result column="code" property="code" />
		<result column="real_name" property="realName" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="native_place" property="nativePlace" />
		
		<result column="nation" property="nation" />
		<result column="position" property="position" />
		<result column="education" property="education" />
		<result column="id_no" property="idNo" />
		<result column="contact_mobile" property="contactMobile" />
		
		<result column="residence_address" property="residenceAddress" />
		<result column="speciality" property="speciality" />
		<result column="expect_salary" property="expectSalary" />
		<result column="now_address" property="nowAddress" />
		<result column="emergency_contact" property="emergencyContact" />
		
		<result column="emergency_contact_mobile" property="emergencyContactMobile" />
		<result column="postcode" property="postcode" />
		<result column="award" property="award" />
		<result column="is_out" property="isOut" />
		<result column="is_adjust_work" property="isAdjustWork" />
		
		<result column="is_once_recruited" property="isOnceRecruited" />
		<result column="is_friend_work" property="isFriendWork" />
		<result column="composite" property="composite" />
		<result column="quality" property="quality" />
		<result column="interview_record" property="interviewRecord" />
		
		<result column="employ_result" property="employResult" />
		<result column="probation" property="probation" />
		<result column="employ_salary" property="employSalary" />
		<result column="employ_department_code" property="employDepartmentCode" />
		<result column="employ_position_code" property="employPositionCode" />
		
		<result column="employ_approve_user" property="employApproveUser" />
		<result column="employ_approve_datetime" property="employApproveDatetime" />
		<result column="employ_approve_note" property="employApproveNote" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_employApply" parameterType="employApply" resultMap="employApply_DB_Result">
		SELECT
		t.code
		,t.real_name
		,t.gender
		,t.birthday
		,t.native_place
		
		,t.nation
		,t.position
		,t.education
		,t.id_no
		,t.contact_mobile
		
		,t.residence_address
		,t.speciality
		,t.expect_salary
		,t.now_address
		,t.emergency_contact
		
		,t.emergency_contact_mobile
		,t.postcode
		,t.award
		,t.is_out
		,t.is_adjust_work
		
		,t.is_once_recruited
		,t.is_friend_work
		,t.composite
		,t.quality
		,t.interview_record
		
		,t.employ_result
		,t.probation
		,t.employ_salary
		,t.employ_department_code
		,t.employ_position_code
		
		,t.employ_approve_user
		,t.employ_approve_datetime
		,t.employ_approve_note
		,t.status
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_employ_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_employApply_count" parameterType="employApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_employ_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_employApply" parameterType="employApply">
		INSERT INTO
		tp_employ_apply(
		code
		,real_name
		,gender
		,birthday
		,native_place
		
		,nation
		,position
		,education
		,id_no
		,contact_mobile
		
		,residence_address
		,speciality
		,expect_salary
		,now_address
		,emergency_contact
		
		,emergency_contact_mobile
		,postcode
		,award
		,is_out
		,is_adjust_work
		
		,is_once_recruited
		,is_friend_work
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{realName}
		,#{gender}
		,#{birthday}
		,#{nativePlace}
		
		,#{nation}
		,#{position}
		,#{education}
		,#{idNo}
		,#{contactMobile}
		
		,#{residenceAddress}
		,#{speciality}
		,#{expectSalary}
		,#{nowAddress}
		,#{emergencyContact}
		
		,#{emergencyContactMobile}
		,#{postcode}
		,#{award}
		,#{isOut}
		,#{isAdjustWork}
		
		,#{isOnceRecruited}
		,#{isFriendWork}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_employApplyInterview" parameterType="employApply">
		UPDATE tp_employ_apply SET
		composite=#{composite}
		,quality=#{quality}
		,interview_record=#{interviewRecord}
		,employ_result=#{employResult}
		,probation=#{probation}
		
		,employ_salary=#{employSalary}
		,employ_department_code=#{employDepartmentCode}
		,employ_position_code=#{employPositionCode}
		,employ_approve_user=#{employApproveUser}
		,employ_approve_datetime=#{employApproveDatetime}
		
		,employ_approve_note=#{employApproveNote}
		,status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
</mapper>