<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IEntryApplyDAO">
	<resultMap id="entryApply_DB_Result" type="entryApply">
		<result column="code" property="code" />
		<result column="position" property="position" />
		<result column="entry_datetime" property="entryDatetime" />
		<result column="real_name" property="realName" />
		<result column="gender" property="gender" />
		<result column="birthday" property="birthday" />
		<result column="education" property="education" />
		<result column="nation" property="nation" />
		<result column="native_place" property="nativePlace" />
		<result column="health" property="health" />
		<result column="marry_state" property="marryState" />
		<result column="id_no" property="idNo" />
		<result column="mobile" property="mobile" />
		<result column="emergency_contact" property="emergencyContact" />
		<result column="emergency_contact_mobile" property="emergencyContactMobile" />
		<result column="photo" property="photo" />
		<result column="residence_address" property="residenceAddress" />
		<result column="now_address" property="nowAddress" />
		<result column="is_other_company_relation" property="isOtherCompanyRelation" />
		<result column="relative_name" property="relativeName" />
		<result column="relative_relation" property="relativeRelation" />
		<result column="relative_position" property="relativePosition" />
		<result column="main_perform" property="mainPerform" />
		<result column="probation_start_datetime" property="probationStartDatetime" />
		<result column="probation_end_datetime" property="probationEndDatetime" />
		<result column="probation_salary" property="probationSalary" />
		<result column="base_salary" property="baseSalary" />
		<result column="perform_salary" property="performSalary" />
		<result column="perform_salary_standard" property="performSalaryStandard" />
		<result column="quarterly_award_standard" property="quarterlyAwardStandard" />
		<result column="communicate_pay_standard" property="communicatePayStandard" />
		<result column="provincial_bed_standard" property="provincialBedStandard" />
		<result column="non_provincial_bed_standard" property="nonProvincialBedStandard" />
		<result column="traffic_standard" property="trafficStandard" />
		<result column="mobile_standard" property="mobileStandard" />
		<result column="taxi_standard" property="taxiStandard" />
		<result column="meal_standard" property="mealStandard" />
		<result column="salary_card_no" property="salaryCardNo" />
		<result column="bank" property="bank" />
		<result column="bank_code" property="bankCode" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_entryApply" parameterType="entryApply" resultMap="entryApply_DB_Result">
		SELECT
		t.code
		,t.position
		,t.entry_datetime
		,t.real_name
		,t.gender
		,t.birthday
		,t.education
		,t.nation
		,t.native_place
		,t.health
		,t.marry_state
		,t.id_no
		,t.mobile
		,t.emergency_contact
		,t.emergency_contact_mobile
		,t.photo
		,t.residence_address
		,t.now_address
		,t.is_other_company_relation
		,t.relative_name
		,t.relative_relation
		,t.relative_position
		,t.main_perform
		,t.probation_start_datetime
		,t.probation_end_datetime
		,t.probation_salary
		,t.base_salary
		,t.perform_salary
		,t.perform_salary_standard
		,t.quarterly_award_standard
		,t.communicate_pay_standard
		,t.provincial_bed_standard
		,t.non_provincial_bed_standard
		,t.traffic_standard
		,t.mobile_standard
		,t.taxi_standard
		,t.meal_standard
		,t.salary_card_no
		,t.bank
		,t.bank_code
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_entry_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_entryApply_count" parameterType="entryApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_entry_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_entryApply" parameterType="entryApply">
		INSERT INTO
		tp_entry_apply(
		code
		,position
		,entry_datetime
		,real_name
		,gender
		,birthday
		,education
		,nation
		,native_place
		,health
		,marry_state
		,id_no
		,mobile
		,emergency_contact
		,emergency_contact_mobile
		,photo
		,residence_address
		,now_address
		,is_other_company_relation
		,relative_name
		,relative_relation
		,relative_position
		,main_perform
		,probation_start_datetime
		,probation_end_datetime
		,probation_salary
		,base_salary
		,perform_salary
		,perform_salary_standard
		,quarterly_award_standard
		,communicate_pay_standard
		,provincial_bed_standard
		,non_provincial_bed_standard
		,traffic_standard
		,mobile_standard
		,taxi_standard
		,meal_standard
		,salary_card_no
		,bank
		,bank_code
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{position}
		,#{entryDatetime}
		,#{realName}
		,#{gender}
		,#{birthday}
		,#{education}
		,#{nation}
		,#{nativePlace}
		,#{health}
		,#{marryState}
		,#{idNo}
		,#{mobile}
		,#{emergencyContact}
		,#{emergencyContactMobile}
		,#{photo}
		,#{residenceAddress}
		,#{nowAddress}
		,#{isOtherCompanyRelation}
		,#{relativeName}
		,#{relativeRelation}
		,#{relativePosition}
		,#{mainPerform}
		,#{probationStartDatetime}
		,#{probationEndDatetime}
		,#{probationSalary}
		,#{baseSalary}
		,#{performSalary}
		,#{performSalaryStandard}
		,#{quarterlyAwardStandard}
		,#{communicatePayStandard}
		,#{provincialBedStandard}
		,#{nonProvincialBedStandard}
		,#{trafficStandard}
		,#{mobileStandard}
		,#{taxiStandard}
		,#{mealStandard}
		,#{salaryCardNo}
		,#{bank}
		,#{bankCode}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_entryApply" parameterType="entryApply">
		UPDATE tp_entry_apply
		SET
		position = #{position}
		,entry_datetime = #{entryDatetime}
		,real_name = #{realName}
		,gender = #{gender}
		,birthday = #{birthday}
		,education = #{education}
		,nation = #{nation}
		,native_place = #{nativePlace}
		,health = #{health}
		,marry_state = #{marryState}
		,id_no = #{idNo}
		,mobile = #{mobile}
		,emergency_contact = #{emergencyContact}
		,emergency_contact_mobile = #{emergencyContactMobile}
		,photo = #{photo}
		,residence_address = #{residenceAddress}
		,now_address = #{nowAddress}
		,is_other_company_relation = #{isOtherCompanyRelation}
		,relative_name = #{relativeName}
		,relative_relation = #{relativeRelation}
		,relative_position = #{relativePosition}
		,main_perform = #{mainPerform}
		,probation_start_datetime = #{probationStartDatetime}
		,probation_end_datetime = #{probationEndDatetime}
		,probation_salary = #{probationSalary}
		,base_salary = #{baseSalary}
		,perform_salary = #{performSalary}
		,perform_salary_standard = #{performSalaryStandard}
		,quarterly_award_standard = #{quarterlyAwardStandard}
		,communicate_pay_standard = #{communicatePayStandard}
		,provincial_bed_standard = #{provincialBedStandard}
		,non_provincial_bed_standard = #{nonProvincialBedStandard}
		,traffic_standard = #{trafficStandard}
		,mobile_standard = #{mobileStandard}
		,taxi_standard = #{taxiStandard}
		,meal_standard = #{mealStandard}
		,salary_card_no = #{salaryCardNo}
		,bank = #{bank}
		,bank_code = #{bankCode}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>