<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IEthCollectionDAO">
	<resultMap id="ethCollection_DB_Result" type="ethCollection">
		<result column="code" property="code" />
		<result column="from_address" property="fromAddress" />
		<result column="to_address" property="toAddress" />
		<result column="amount" property="amount" />
		<result column="tx_hash" property="txHash" />
		<result column="tx_fee" property="txFee" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="eth_datetime" property="ethDatetime" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="txHash != null and txHash != '' ">
				AND t.tx_hash = #{txHash}
			</if>
		</trim>
	</sql>
	<select id="select_ethCollection" parameterType="ethCollection" resultMap="ethCollection_DB_Result">
		SELECT
		t.code
		,t.from_address
		,t.to_address
		,t.amount
		,t.tx_hash
		,t.tx_fee
		,t.status
		,t.create_datetime
		,t.eth_datetime
		,t.update_datetime
		FROM
		tcoin_eth_collection t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_ethCollection_count" parameterType="ethCollection"
		resultType="java.lang.Long">
		SELECT count(1) FROM tcoin_eth_collection t
		<include refid="where_condition" />
	</select>

	<insert id="insert_ethCollection" parameterType="ethCollection">
		INSERT INTO
		tcoin_eth_collection(
		code
		,from_address
		,to_address
		,amount
		,tx_hash
		,tx_fee
		,status
		,create_datetime
		,eth_datetime
		,update_datetime
		)
		VALUES(
		#{code}
		,#{fromAddress}
		,#{toAddress}
		,#{amount}
		,#{txHash}
		,#{txFee}
		,#{status}
		,#{createDatetime}
		,#{ethDatetime}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_notice" parameterType="ethCollection">
		UPDATE tcoin_eth_collection
		SET
		tx_fee = #{txFee}
		,status = #{status}
		,eth_datetime = #{ethDatetime}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>


</mapper>