<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IFeeAdvanceApplyDAO">
	<resultMap id="feeAdvanceApply_DB_Result" type="feeAdvanceApply">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="ref_assert_code" property="refAssertCode" />
		<result column="ref_budget_order_code" property="refBudgetOrderCode" />
		<result column="amount" property="amount" />
		
		<result column="subbranch" property="subbranch" />
		<result column="bankcard_number" property="bankcardNumber" />
		<result column="account_name" property="accountName" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="apply_note" property="applyNote" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="pay_bank" property="payBank" />
		<result column="pay_bankcard" property="payBankcard" />
		<result column="pay_pdf" property="payPdf" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="refAssertCode != null and refAssertCode != '' ">
				AND t.ref_assert_code = #{refAssertCode}
			</if>
			<if test="refBudgetOrderCode != null and refBudgetOrderCode != '' ">
				AND t.ref_budget_order_code = #{refBudgetOrderCode}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			
			<if test="applyDateStart != null and applyDateStart != '' ">
				<![CDATA[AND t.apply_datetime > #{applyDateStart}]]>
			</if>
			<if test="applyDateEnd != null and applyDateEnd != '' ">
				<![CDATA[AND t.apply_datetime < #{applyDateEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_feeAdvanceApply" parameterType="feeAdvanceApply" resultMap="feeAdvanceApply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.ref_assert_code
		,t.ref_budget_order_code
		,t.amount
		
		,t.subbranch
		,t.bankcard_number
		,t.account_name
		,t.apply_user
		,t.apply_datetime
		
		,t.apply_note
		,t.pay_datetime
		,t.pay_bank
		,t.pay_bankcard
		,t.pay_pdf
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_fee_advance_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_feeAdvanceApply_count" parameterType="feeAdvanceApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_fee_advance_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_feeAdvanceApply" parameterType="feeAdvanceApply">
		INSERT INTO
		tp_fee_advance_apply(
		code
		,type
		,ref_assert_code
		,ref_budget_order_code
		,amount
		
		,subbranch
		,bankcard_number
		,account_name
		,apply_user
		,apply_datetime
		
		,apply_note
		,pay_datetime
		,pay_bank
		,pay_bankcard
		,pay_pdf
		
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{refAssertCode}
		,#{refBudgetOrderCode}
		,#{amount}
		
		,#{subbranch}
		,#{bankcardNumber}
		,#{accountName}
		,#{applyUser}
		,#{applyDatetime}
		
		,#{applyNote}
		,#{payDatetime}
		,#{payBank}
		,#{payBankcard}
		,#{payPdf}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_feeAdvanceApplyApprove" parameterType="feeAdvanceApply">
		UPDATE tp_fee_advance_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_feeAdvanceApplyFinanceApprove" parameterType="feeAdvanceApply">
		UPDATE tp_fee_advance_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_feeAdvanceApplyFk" parameterType="feeAdvanceApply">
		UPDATE tp_fee_advance_apply
		SET
		pay_datetime = #{payDatetime}
		,pay_bank = #{payBank}
		,pay_bankcard = #{payBankcard}
		,pay_pdf = #{payPdf}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
</mapper>