<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IGpsApplyDAO">
	<resultMap id="gpsApply_DB_Result" type="gpsApply">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="company_code" property="companyCode" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="apply_reason" property="applyReason" />
		<result column="apply_count" property="applyCount" />
		<result column="send_datetime" property="sendDatetime" />
		<result column="receive_datetime" property="receiveDatetime" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>	
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_gpsApply" parameterType="gpsApply" resultMap="gpsApply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.company_code
		,t.apply_user
		,t.apply_datetime
		
		,t.apply_reason
		,t.apply_count
		,t.send_datetime
		,t.receive_datetime
		,t.status
		,t.remark
		FROM
		tb_gps_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_gpsApply_count" parameterType="gpsApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_gps_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_gpsApply" parameterType="gpsApply">
		INSERT INTO
		tb_gps_apply(
		code
		,type
		,company_code
		,apply_user
		,apply_datetime
		
		,apply_reason
		,apply_count
		,status
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{companyCode}
		,#{applyUser}
		,#{applyDatetime}
		
		,#{applyReason}
		,#{applyCount}
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_gpsApply_approve" parameterType="gpsApply">
		UPDATE tb_gps_apply
		SET
		status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>