<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IGpsDAO">
	<resultMap id="gps_DB_Result" type="gps">
		<result column="code" property="code" />
		<result column="gps_dev_no" property="gpsDevNo" />
		<result column="gps_type" property="gpsType" />
		<result column="company_code" property="companyCode" />
		<result column="company_apply_status" property="companyApplyStatus" />
		
		<result column="company_apply_datetime" property="companyApplyDatetime" />
		<result column="company_apply_code" property="companyApplyCode" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_status" property="applyStatus" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="apply_code" property="applyCode" />
		<result column="use_status" property="useStatus" />
		<result column="use_datetime" property="useDatetime" />
		<result column="biz_code" property="bizCode" />
		<result column="supplier_code" property="supplierCode" />
		<result column="is_send_back" property="isSendBack" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="gpsDevNo != null and gpsDevNo != '' ">
				AND t.gps_dev_no = #{gpsDevNo}
			</if>
			<if test="gpsType != null and gpsType != '' ">
				AND t.gps_type = #{gpsType}
			</if>
			<if test="isSendBack != null and isSendBack != '' ">
				AND t.is_send_back = #{isSendBack}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="companyApplyStatus != null and companyApplyStatus != '' ">
				AND t.company_apply_status = #{companyApplyStatus}
			</if>
			<if test="companyApplyCode != null and companyApplyCode != '' ">
				AND t.company_apply_code = #{companyApplyCode}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="applyStatus != null and applyStatus != '' ">
				AND t.apply_status = #{applyStatus}
			</if>
			<if test="applyCode != null and applyCode != '' ">
				AND t.apply_code = #{applyCode}
			</if>
			<if test="useStatus != null and useStatus != '' ">
				AND t.use_status = #{useStatus}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="supplierCode != null and supplierCode != '' ">
				AND t.supplier_code = #{supplierCode}
			</if>
		</trim>
	</sql>
	<select id="select_gps" parameterType="gps" resultMap="gps_DB_Result">
		SELECT
		t.code
		,t.gps_dev_no
		,t.gps_type
		,t.company_code
		,t.company_apply_status
		
		,t.company_apply_datetime
		,t.company_apply_code
		,t.apply_user
		,t.apply_status
		,t.apply_datetime
		
		,t.apply_code
		,t.use_status
		,t.use_datetime
		,t.biz_code
		,t.supplier_code
		,t.is_send_back
		FROM
		tb_gps t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_gps_count" parameterType="gps"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_gps t
		<include refid="where_condition" />
	</select>

	<insert id="insert_gps" parameterType="gps">
		INSERT INTO
		tb_gps(
		code
		,gps_dev_no
		,gps_type
		,company_apply_status
		,apply_status
		,use_status
		,supplier_code
		,is_send_back
		)
		VALUES(
		#{code}
		,#{gpsDevNo}
		,#{gpsType}
		,#{companyApplyStatus}
		,#{applyStatus}
		,#{useStatus}
		,#{supplierCode}
		,#{isSendBack}
		)
	</insert>

	<update id="update_gps_company_approve" parameterType="gps">
		UPDATE tb_gps
		SET
		company_code = #{companyCode}
		,company_apply_status = #{companyApplyStatus}
		,company_apply_datetime = #{companyApplyDatetime}
		,company_apply_code = #{companyApplyCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_gps_company_receive" parameterType="gps">
		UPDATE tb_gps
		SET
		company_apply_status = #{companyApplyStatus}
		WHERE code = #{code}
	</update>
	
	<update id="update_gps_user_apply" parameterType="gps">
		UPDATE tb_gps
		SET
		apply_code = #{applyCode}
		,apply_user = #{applyUser}
		
		,apply_status = #{applyStatus}
		,apply_datetime = #{applyDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_gps_user_approve" parameterType="gps">
		UPDATE tb_gps
		SET
		apply_code = #{applyCode}
		,apply_user = #{applyUser}
		,apply_status = #{applyStatus}
		,apply_datetime = #{applyDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_gps_useStatus" parameterType="gps">
		UPDATE tb_gps
		SET
		use_status = #{useStatus}
		,use_datetime = #{useDatetime}
		,biz_code = #{bizCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_gps" parameterType="gps">
		UPDATE tb_gps
		SET
		is_send_back = #{isSendBack}
		WHERE code = #{code}
	</update>
</mapper>