<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IGpsSupplierDAO">
	<resultMap id="gpsSupplier_DB_Result" type="gpsSupplier">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="contacts" property="contacts" />
		<result column="contacts_mobile" property="contactsMobile" />
		<result column="address" property="address" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
		</trim>
	</sql>
	<select id="select_gpsSupplier" parameterType="gpsSupplier" resultMap="gpsSupplier_DB_Result">
		SELECT
		t.code
		,t.name
		,t.contacts
		,t.contacts_mobile
		,t.address
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tb_gps_supplier t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_gpsSupplier_count" parameterType="gpsSupplier"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_gps_supplier t
		<include refid="where_condition" />
	</select>

	<insert id="insert_gpsSupplier" parameterType="gpsSupplier">
		INSERT INTO
		tb_gps_supplier(
		code
		,name
		,contacts
		,contacts_mobile
		,address
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{contacts}
		,#{contactsMobile}
		,#{address}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_gpsSupplier" parameterType="gpsSupplier">
		UPDATE tb_gps_supplier
		SET
		name = #{name}
		,contacts = #{contacts}
		,contacts_mobile = #{contactsMobile}
		,address = #{address}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>