<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IInsuranceCompanyDAO">
	<resultMap id="insuranceCompany_DB_Result" type="insuranceCompany">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="contact" property="contact" />
		<result column="mobile" property="mobile" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="keyword != null and keyword != '' ">
				t.name LIKE "%"#{keyword}"%" OR t.mobile LIKE "%"#{keyword}"%" OR t.contact LIKE "%"#{keyword}"%" 
			</if>
		</trim>
	</sql>
	<select id="select_insuranceCompany" parameterType="insuranceCompany" resultMap="insuranceCompany_DB_Result">
		SELECT
		t.code
		,t.name
		,t.contact
		,t.mobile
		,t.remark
		FROM
		tb_insurance_company t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_insuranceCompany_count" parameterType="insuranceCompany"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_insurance_company t
		<include refid="where_condition" />
	</select>

	<insert id="insert_insuranceCompany" parameterType="insuranceCompany">
		INSERT INTO
		tb_insurance_company(
		code
		,name
		,contact
		,mobile
		,remark
		)
		VALUES(
		#{code}
		,#{name}
		,#{contact}
		,#{mobile}
		,#{remark}
		)
	</insert>

	<delete id="delete_insuranceCompany" parameterType="insuranceCompany">
		DELETE FROM tb_insurance_company
		WHERE code = #{code}
	</delete>

	<update id="update_insuranceCompany" parameterType="insuranceCompany">
		UPDATE tb_insurance_company
		SET
		name = #{name}
		,contact = #{contact}
		,mobile = #{mobile}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>