<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IJudgeDAO">
	<resultMap id="judge_DB_Result" type="judge">
		<result column="code" property="code" />
		<result column="repay_biz_code" property="repayBizCode" />
		<result column="case_number" property="caseNumber" />
		<result column="plaintiff" property="plaintiff" />
		<result column="defendant" property="defendant" />
		
		<result column="case_subject" property="caseSubject" />
		<result column="case_car" property="caseCar" />
		<result column="case_fee" property="caseFee" />
		<result column="case_start_datetime" property="caseStartDatetime" />
		<result column="case_status" property="caseStatus" />
		
		<result column="case_pdf" property="casePdf" />
		<result column="pay_amount_prove" property="payAmountProve" />
		<result column="acceptance_time" property="acceptanceTime" />
		<result column="acceptance_fee" property="acceptanceFee" />
		<result column="court_datetime" property="courtDatetime" />
		<result column="court_address" property="courtAddress" />
		<result column="summons_delivery_time" property="summonsDeliveryTime" />
		<result column="handle_judge" property="handleJudge" />
		<result column="hear_case_number" property="hearCaseNumber" />
		<result column="judge_datetime" property="judgeDatetime" />
		<result column="judge_result" property="judgeResult" />
		<result column="judge_pdf" property="judgePdf" />
		<result column="judge_pdf_delivery_time" property="judgePdfDeliveryTime" />
		<result column="effective_time" property="effectiveTime" />
		
		<result column="exe_case_number" property="exeCaseNumber" />
		<result column="exe_apply_user" property="exeApplyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="be_exe_user" property="beExeUser" />
		<result column="execute_mark_amount" property="executeMarkAmount" />
		<result column="recovery_datetime" property="recoveryDatetime" />
		<result column="exe_datetime" property="exeDatetime" />
		<result column="exe_result" property="exeResult" />
		<result column="sale_datetime" property="saleDatetime" />
		<result column="notice_datetime" property="noticeDatetime" />
		<result column="adjudication_deadline" property="adjudicationDeadline" />
		<result column="exe_pdf" property="exePdf" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="repayBizCode != null and repayBizCode != '' ">
				AND t.repay_biz_code = #{repayBizCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_judge" parameterType="judge" resultMap="judge_DB_Result">
		SELECT
		t.code
		,t.repay_biz_code
		,t.case_number
		,t.plaintiff
		,t.defendant
		,t.case_subject
		,t.case_car
		,t.case_fee
		,t.case_start_datetime
		,t.case_status
		,t.case_pdf
		,t.pay_amount_prove
		,t.acceptance_time
		,t.acceptance_fee
		,t.court_datetime
		,t.court_address
		,t.summons_delivery_time
		,t.handle_judge
		,t.hear_case_number
		,t.judge_datetime
		,t.judge_result
		,t.judge_pdf
		,t.judge_pdf_delivery_time
		,t.effective_time
		,t.exe_case_number
		,t.exe_apply_user
		,t.apply_datetime
		,t.be_exe_user
		,t.execute_mark_amount
		,t.recovery_datetime
		,t.exe_datetime
		,t.exe_result
		,t.sale_datetime
		,t.notice_datetime
		,t.adjudication_deadline
		,t.exe_pdf
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdh_judge t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_judge_count" parameterType="judge"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_judge t
		<include refid="where_condition" />
	</select>

	<insert id="insert_judge" parameterType="judge">
		INSERT INTO
		tdh_judge(
		code
		,repay_biz_code
		,plaintiff
		,defendant
		,case_fee
		,case_status
		,status
		,updater
		,update_datetime
		)
		VALUES(
		#{code}
		,#{repayBizCode}
		,#{plaintiff}
		,#{defendant}
		,#{caseFee}
		,#{caseStatus}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>
	
	<update id="update_judge" parameterType="judge">
		UPDATE tdh_judge
		SET
		plaintiff = #{plaintiff}
		,defendant = #{defendant}
		,case_fee = #{caseFee}
		,case_status = #{caseStatus}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_judgeFollow" parameterType="judge">
		UPDATE tdh_judge
		SET
		case_fee = #{caseFee}
		,case_status = #{caseStatus}
		,court_datetime = #{courtDatetime}
		,judge_datetime = #{judgeDatetime}
		,judge_pdf = #{judgePdf}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_judgeResultInput" parameterType="judge">
		UPDATE tdh_judge
		SET
		exe_result = #{exeResult}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_cashier" parameterType="judge">
		UPDATE tdh_judge
		SET
		pay_amount_prove = #{payAmountProve}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_acceptance" parameterType="judge">
		UPDATE tdh_judge
		SET
		acceptance_time = #{acceptanceTime}
		,acceptance_fee = #{acceptanceFee}
		,case_number = #{caseNumber}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_toHoldCourt" parameterType="judge">
		UPDATE tdh_judge
		SET
		court_datetime = #{courtDatetime}
		,court_address = #{courtAddress}
		,handle_judge = #{handleJudge}
		,summons_delivery_time = #{summonsDeliveryTime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_sentence" parameterType="judge">
		UPDATE tdh_judge
		SET
		judge_pdf = #{judgePdf}
		,judge_pdf_delivery_time = #{judgePdfDeliveryTime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_takeEffect" parameterType="judge">
		UPDATE tdh_judge
		SET
		effective_time = #{effectiveTime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_applyImplement" parameterType="judge">
		UPDATE tdh_judge
		SET
		exe_apply_user = #{exeApplyUser}
		,apply_datetime = #{applyDatetime}
		,be_exe_user = #{beExeUser}
		,execute_mark_amount = #{executeMarkAmount}
		,recovery_datetime = #{recoveryDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_implementAdmissibility" parameterType="judge">
		UPDATE tdh_judge
		SET
		handle_judge = #{handleJudge}
		,hear_case_number = #{hearCaseNumber}
		,case_subject = #{caseSubject}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_auction" parameterType="judge">
		UPDATE tdh_judge
		SET
		sale_datetime = #{saleDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_notice" parameterType="judge">
		UPDATE tdh_judge
		SET
		notice_datetime = #{noticeDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_inputVerdict" parameterType="judge">
		UPDATE tdh_judge
		SET
		adjudication_deadline = #{adjudicationDeadline}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
</mapper>