<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ILeaveApplyDAO">
	<resultMap id="LeaveApply_DB_Result" type="leaveApply">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="type" property="type" />
		<result column="reason" property="reason" />
		
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="total_hour" property="totalHour" />
		<result column="pdf" property="pdf" />
		<result column="status" property="status" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	
	<select id="select_LeaveApply" parameterType="leaveApply" resultMap="LeaveApply_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.apply_datetime
		,t.type
		,t.reason
		
		,t.start_datetime
		,t.end_datetime
		,t.total_hour
		,t.pdf
		,t.status
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_leave_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_LeaveApply_count" parameterType="leaveApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_leave_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_LeaveApply" parameterType="leaveApply">
		INSERT INTO
		tp_leave_apply(
		code
		,apply_user
		,apply_datetime
		,type
		,reason
		
		,start_datetime
		,end_datetime
		,total_hour
		,pdf
		,status
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{applyDatetime}
		,#{type}
		,#{reason}
		
		,#{startDatetime}
		,#{endDatetime}
		,#{totalHour}
		,#{pdf}
		,#{status}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_LeaveApply" parameterType="leaveApply">
		UPDATE tp_leave_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>