<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ILoanCsDAO">
	<resultMap id="loanCs_DB_Result" type="loanCs">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="min_cs" property="minCs" />
		<result column="max_cs" property="maxCs" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
		</trim>
	</sql>
	<select id="select_loanCs" parameterType="loanCs" resultMap="loanCs_DB_Result">
		SELECT
		t.code
		,t.type
		,t.min_cs
		,t.max_cs
		,t.remark
		FROM
		tb_loan_cs t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_loanCs_count" parameterType="loanCs"
		resultType="java.lang.Long">
		SELECT count(1) FROM tb_loan_cs t
		<include refid="where_condition" />
	</select>

	<update id="update_loanCs" parameterType="loanCs">
		UPDATE tb_loan_cs
		SET
		type = #{type}
		,min_cs = #{minCs}
		,max_cs = #{maxCs}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>