<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IMarketDAO">

  <resultMap id="BaseResultMap" type="com.cdkj.coin.domain.Market">
    <id column="id"  property="id" />
    <result column="coin" jdbcType="VARCHAR" property="coin" />
    <result column="refer_currency" jdbcType="VARCHAR" property="referCurrency" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="last_price" jdbcType="DECIMAL" property="lastPrice" />
    <result column="bid" jdbcType="DECIMAL" property="bid" />
    <result column="ask" jdbcType="DECIMAL" property="ask" />
    <result column="mid" jdbcType="DECIMAL" property="mid" />
    <result column="low" jdbcType="DECIMAL" property="low" />
    <result column="high" jdbcType="DECIMAL" property="high" />
    <result column="volume" jdbcType="VARCHAR" property="volume" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, coin, refer_currency, origin, last_price, bid, ask, mid, low, high, volume,
    update_datetime
  </sql>

  <update id="update" parameterType="com.cdkj.coin.domain.Market">
    update tcoin_market
    set
    refer_currency = #{referCurrency,jdbcType=VARCHAR},
    last_price = #{lastPrice,jdbcType=DECIMAL},
    bid = #{bid,jdbcType=DECIMAL},
    ask = #{ask,jdbcType=DECIMAL},
    mid = #{mid,jdbcType=DECIMAL},
    low = #{low,jdbcType=DECIMAL},
    high = #{high,jdbcType=DECIMAL},
    volume = #{volume,jdbcType=VARCHAR},
    update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
    where coin = #{coin} and origin = #{origin}
  </update>

  <select id="selectedByCoinTypeAndOrigin" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tcoin_market
    where coin = #{coin,jdbcType=VARCHAR} and origin = #{origin}
  </select>

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from tcoin_market-->
    <!--where code = #{code,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.cdkj.coin.domain.Market">-->
    <!--insert into tcoin_market (code, coin, refer_currency,-->
    <!--origin, last_price, bid,-->
    <!--ask, mid, low, high,-->
    <!--volume, update_datetime)-->
    <!--values (#{code,jdbcType=VARCHAR}, #{coin,jdbcType=VARCHAR}, #{referCurrency,jdbcType=VARCHAR},-->
    <!--#{origin,jdbcType=VARCHAR}, #{lastPrice,jdbcType=DECIMAL}, #{bid,jdbcType=DECIMAL},-->
    <!--#{ask,jdbcType=DECIMAL}, #{mid,jdbcType=DECIMAL}, #{low,jdbcType=DECIMAL}, #{high,jdbcType=DECIMAL},-->
    <!--#{volume,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.cdkj.coin.domain.Market">-->
    <!--insert into tcoin_market-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="code != null">-->
        <!--code,-->
      <!--</if>-->
      <!--<if test="coin != null">-->
        <!--coin,-->
      <!--</if>-->
      <!--<if test="referCurrency != null">-->
        <!--refer_currency,-->
      <!--</if>-->
      <!--<if test="origin != null">-->
        <!--origin,-->
      <!--</if>-->
      <!--<if test="lastPrice != null">-->
        <!--last_price,-->
      <!--</if>-->
      <!--<if test="bid != null">-->
        <!--bid,-->
      <!--</if>-->
      <!--<if test="ask != null">-->
        <!--ask,-->
      <!--</if>-->
      <!--<if test="mid != null">-->
        <!--mid,-->
      <!--</if>-->
      <!--<if test="low != null">-->
        <!--low,-->
      <!--</if>-->
      <!--<if test="high != null">-->
        <!--high,-->
      <!--</if>-->
      <!--<if test="volume != null">-->
        <!--volume,-->
      <!--</if>-->
      <!--<if test="updateDatetime != null">-->
        <!--update_datetime,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="code != null">-->
        <!--#{code,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="coin != null">-->
        <!--#{coin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="referCurrency != null">-->
        <!--#{referCurrency,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="origin != null">-->
        <!--#{origin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastPrice != null">-->
        <!--#{lastPrice,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="bid != null">-->
        <!--#{bid,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="ask != null">-->
        <!--#{ask,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="mid != null">-->
        <!--#{mid,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="low != null">-->
        <!--#{low,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="high != null">-->
        <!--#{high,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="volume != null">-->
        <!--#{volume,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateDatetime != null">-->
        <!--#{updateDatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.cdkj.coin.domain.Market">-->
    <!--update tcoin_market-->
    <!--<set>-->
      <!--<if test="coin != null">-->
        <!--coin = #{coin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="referCurrency != null">-->
        <!--refer_currency = #{referCurrency,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="origin != null">-->
        <!--origin = #{origin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastPrice != null">-->
        <!--last_price = #{lastPrice,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="bid != null">-->
        <!--bid = #{bid,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="ask != null">-->
        <!--ask = #{ask,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="mid != null">-->
        <!--mid = #{mid,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="low != null">-->
        <!--low = #{low,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="high != null">-->
        <!--high = #{high,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="volume != null">-->
        <!--volume = #{volume,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateDatetime != null">-->
        <!--update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</set>-->
    <!--where code = #{code,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.cdkj.coin.domain.Market">-->
    <!--update tcoin_market-->
    <!--set coin = #{coin,jdbcType=VARCHAR},-->
    <!--refer_currency = #{referCurrency,jdbcType=VARCHAR},-->
    <!--origin = #{origin,jdbcType=VARCHAR},-->
    <!--last_price = #{lastPrice,jdbcType=DECIMAL},-->
    <!--bid = #{bid,jdbcType=DECIMAL},-->
    <!--ask = #{ask,jdbcType=DECIMAL},-->
    <!--mid = #{mid,jdbcType=DECIMAL},-->
    <!--low = #{low,jdbcType=DECIMAL},-->
    <!--high = #{high,jdbcType=DECIMAL},-->
    <!--volume = #{volume,jdbcType=VARCHAR},-->
    <!--update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}-->
    <!--where code = #{code,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<resultMap id="BaseResultMap" type="com.cdkj.coin.domain.Market">-->
    <!--<id column="code" jdbcType="VARCHAR" property="code" />-->
    <!--<result column="coin" jdbcType="VARCHAR" property="coin" />-->
    <!--<result column="refer_currency" jdbcType="VARCHAR" property="referCurrency" />-->
    <!--<result column="origin" jdbcType="VARCHAR" property="origin" />-->
    <!--<result column="last_price" jdbcType="VARCHAR" property="lastPrice" />-->
    <!--<result column="low" jdbcType="VARCHAR" property="low" />-->
    <!--<result column="high" jdbcType="VARCHAR" property="high" />-->
    <!--<result column="volume" jdbcType="VARCHAR" property="volume" />-->
    <!--<result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />-->
  <!--</resultMap>-->

  <!--<sql id="Base_Column_List">-->
    <!--code, coin, refer_currency, origin, last_price, low, high, volume, update_datetime-->
  <!--</sql>-->



  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from tcoin_market-->
    <!--where code = #{code,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from tcoin_market-->
    <!--where code = #{code,jdbcType=VARCHAR}-->
  <!--</delete>-->

  <!--<insert id="insert" parameterType="com.cdkj.coin.domain.Market">-->
    <!--insert into tcoin_market (code, coin, refer_currency,-->
                              <!--origin, last_price, low,-->
                              <!--high, volume, update_datetime-->
    <!--)-->
    <!--values (#{code,jdbcType=VARCHAR}, #{coin,jdbcType=VARCHAR}, #{referCurrency,jdbcType=VARCHAR},-->
            <!--#{origin,jdbcType=VARCHAR}, #{lastPrice,jdbcType=VARCHAR}, #{low,jdbcType=VARCHAR},-->
            <!--#{high,jdbcType=VARCHAR}, #{volume,jdbcType=VARCHAR}, #{updateDatetime,jdbcType=TIMESTAMP}-->
    <!--)-->
  <!--</insert>-->

  <!--<insert id="insertSelective" parameterType="com.cdkj.coin.domain.Market">-->
    <!--insert into tcoin_market-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="code != null">-->
        <!--code,-->
      <!--</if>-->
      <!--<if test="coin != null">-->
        <!--coin,-->
      <!--</if>-->
      <!--<if test="referCurrency != null">-->
        <!--refer_currency,-->
      <!--</if>-->
      <!--<if test="origin != null">-->
        <!--origin,-->
      <!--</if>-->
      <!--<if test="lastPrice != null">-->
        <!--last_price,-->
      <!--</if>-->
      <!--<if test="low != null">-->
        <!--low,-->
      <!--</if>-->
      <!--<if test="high != null">-->
        <!--high,-->
      <!--</if>-->
      <!--<if test="volume != null">-->
        <!--volume,-->
      <!--</if>-->
      <!--<if test="updateDatetime != null">-->
        <!--update_datetime,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="code != null">-->
        <!--#{code,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="coin != null">-->
        <!--#{coin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="referCurrency != null">-->
        <!--#{referCurrency,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="origin != null">-->
        <!--#{origin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastPrice != null">-->
        <!--#{lastPrice,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="low != null">-->
        <!--#{low,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="high != null">-->
        <!--#{high,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="volume != null">-->
        <!--#{volume,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateDatetime != null">-->
        <!--#{updateDatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.cdkj.coin.domain.Market">-->
    <!--update tcoin_market-->
    <!--<set>-->
      <!--<if test="coin != null">-->
        <!--coin = #{coin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="referCurrency != null">-->
        <!--refer_currency = #{referCurrency,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="origin != null">-->
        <!--origin = #{origin,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastPrice != null">-->
        <!--last_price = #{lastPrice,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="low != null">-->
        <!--low = #{low,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="high != null">-->
        <!--high = #{high,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="volume != null">-->
        <!--volume = #{volume,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateDatetime != null">-->
        <!--update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</set>-->
    <!--where code = #{code,jdbcType=VARCHAR}-->
  <!--</update>-->

</mapper>