<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    
	    <!-- 用户  -->
	    <typeAlias alias="user" type="com.cdkj.loan.domain.User" />
	    <typeAlias alias="saleUser" type="com.cdkj.loan.domain.SaleUser" />
		<typeAlias alias="address" type="com.cdkj.loan.domain.Address" />
		<typeAlias alias="bankcard" type="com.cdkj.loan.domain.Bankcard" />
		<typeAlias alias="blacklist" type="com.cdkj.loan.domain.Blacklist" />
		<typeAlias alias="userRelation" type="com.cdkj.loan.domain.UserRelation" />
		<typeAlias alias="cNavigate" type="com.cdkj.loan.domain.CNavigate" />
		<typeAlias alias="fieldTimes" type="com.cdkj.loan.domain.FieldTimes" />
		
		<!-- 账户  -->
		<typeAlias alias="account" type="com.cdkj.loan.domain.Account" />
		<typeAlias alias="jour" type="com.cdkj.loan.domain.Jour" />
		<typeAlias alias="exchangeCurrency" type="com.cdkj.loan.domain.ExchangeCurrency" />
		<typeAlias alias="charge" type="com.cdkj.loan.domain.Charge" />
		<typeAlias alias="withdraw" type="com.cdkj.loan.domain.Withdraw" />
		<typeAlias alias="hlOrder" type="com.cdkj.loan.domain.HLOrder" />
		<typeAlias alias="baofooWithhold" type="com.cdkj.loan.domain.BaofooWithhold" />
		
		<!-- 系统  -->
		<typeAlias alias="sysUser" type="com.cdkj.loan.domain.SYSUser" />
		<typeAlias alias="sysMenu" type="com.cdkj.loan.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.cdkj.loan.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.cdkj.loan.domain.SYSMenuRole" />
		<typeAlias alias="sysDict" type="com.cdkj.loan.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.cdkj.loan.domain.SYSConfig" />
		<typeAlias alias="department" type="com.cdkj.loan.domain.Department" />

        <!-- 车贷意向  -->
		<typeAlias alias="brand" type="com.cdkj.loan.domain.Brand" />
		<typeAlias alias="series" type="com.cdkj.loan.domain.Series" />
		<typeAlias alias="car" type="com.cdkj.loan.domain.Car" />
		<typeAlias alias="carorder" type="com.cdkj.loan.domain.CarOrder" />
		
		<!-- 商城业务  -->
		<typeAlias alias="category" type="com.cdkj.loan.domain.Category" />
		<typeAlias alias="product" type="com.cdkj.loan.domain.Product" />
		<typeAlias alias="order" type="com.cdkj.loan.domain.Order" />
		<typeAlias alias="productOrder" type="com.cdkj.loan.domain.ProductOrder" />
		<typeAlias alias="productSpecs" type="com.cdkj.loan.domain.ProductSpecs" />
		
		<!-- 车贷业务+分期业务  -->
		<typeAlias alias="repayBiz" type="com.cdkj.loan.domain.RepayBiz" />
		<typeAlias alias="repayPlan" type="com.cdkj.loan.domain.RepayPlan" />
		<typeAlias alias="cost" type="com.cdkj.loan.domain.Cost" />
		<typeAlias alias="remindLog" type="com.cdkj.loan.domain.RemindLog" />
		
		<!-- 银行  -->
		<typeAlias alias="channelBank" type="com.cdkj.loan.domain.ChannelBank" />
		
		<!-- 节点控制  -->
		<typeAlias alias="node" type="com.cdkj.loan.domain.Node" />
		<typeAlias alias="nodeFlow" type="com.cdkj.loan.domain.NodeFlow" />
		<typeAlias alias="roleNode" type="com.cdkj.loan.domain.RoleNode" />
		<typeAlias alias="reqBudget" type="com.cdkj.loan.domain.ReqBudget" />

		
		<!-- 征信 -->
		<typeAlias alias="credit" type="com.cdkj.loan.domain.Credit" />
		<typeAlias alias="creditUser" type="com.cdkj.loan.domain.CreditUser" />
		<typeAlias alias="budgetOrder" type="com.cdkj.loan.domain.BudgetOrder" />

		<typeAlias alias="sysBizLog" type="com.cdkj.loan.domain.SYSBizLog" />
		
		<!-- 基础数据 -->
		<typeAlias alias="insuranceCompany" type="com.cdkj.loan.domain.InsuranceCompany" />
		<typeAlias alias="collectBankcard" type="com.cdkj.loan.domain.CollectBankcard" />
		<typeAlias alias="area" type="com.cdkj.loan.domain.Area" />
		<typeAlias alias="province" type="com.cdkj.loan.domain.Province" />
		<typeAlias alias="bank" type="com.cdkj.loan.domain.Bank" />
		
		<typeAlias alias="bankRate" type="com.cdkj.loan.domain.BankRate" />
		<typeAlias alias="bankSubbranch" type="com.cdkj.loan.domain.BankSubbranch" />
		<typeAlias alias="loanCs" type="com.cdkj.loan.domain.LoanCs" />
		
		<!-- 经销商信息 -->
		<typeAlias alias="carDealer" type="com.cdkj.loan.domain.CarDealer" />
		<typeAlias alias="carDealerProtocol" type="com.cdkj.loan.domain.CarDealerProtocol" />

		<!-- 资料传递 -->
		<typeAlias alias="logistics" type="com.cdkj.loan.domain.Logistics" />
		<typeAlias alias="supplementReason" type="com.cdkj.loan.domain.SupplementReason" />
		
		<!-- 贷前 -->
		<typeAlias alias="gps" type="com.cdkj.loan.domain.Gps" />
		<typeAlias alias="budgetOrder" type="com.cdkj.loan.domain.BudgetOrder" />
		<typeAlias alias="logistics" type="com.cdkj.loan.domain.Logistics" />
		<typeAlias alias="budgetOrderFee" type="com.cdkj.loan.domain.BudgetOrderFee" />
		<typeAlias alias="budgetOrderFeeDetail" type="com.cdkj.loan.domain.BudgetOrderFeeDetail" />
		
		<typeAlias alias="budgetOrderGps" type="com.cdkj.loan.domain.BudgetOrderGps" />
		
		<!-- 贷后 -->
		<typeAlias alias="overdueMenu" type="com.cdkj.loan.domain.OverdueMenu" />
		<typeAlias alias="replaceRepayApply" type="com.cdkj.loan.domain.ReplaceRepayApply" />
		<typeAlias alias="replaceRepayPlan" type="com.cdkj.loan.domain.ReplaceRepayPlan" />
		<typeAlias alias="judge" type="com.cdkj.loan.domain.Judge" />
		
		<!-- 行政人事 -->
		<typeAlias alias="gpsApply" type="com.cdkj.loan.domain.GpsApply" />
		<typeAlias alias="notice" type="com.cdkj.loan.domain.Notice" />
		<typeAlias alias="regime" type="com.cdkj.loan.domain.Regime" />
		<typeAlias alias="compCategory" type="com.cdkj.loan.domain.CompCategory" />
		
		<typeAlias alias="compProduct" type="com.cdkj.loan.domain.CompProduct" />
	    <typeAlias alias="recruitApply" type="com.cdkj.loan.domain.RecruitApply" />
	    <typeAlias alias="employApply" type="com.cdkj.loan.domain.EmployApply" />
		<typeAlias alias="workExperience" type="com.cdkj.loan.domain.WorkExperience" />
		<typeAlias alias="checkProject" type="com.cdkj.loan.domain.CheckProject" />
		
		<typeAlias alias="storageIn" type="com.cdkj.loan.domain.StorageIn" />
		<typeAlias alias="storageOut" type="com.cdkj.loan.domain.StorageOut" />
		<typeAlias alias="archive" type="com.cdkj.loan.domain.Archive" />
		<typeAlias alias="archiveLocation" type="com.cdkj.loan.domain.ArchiveLocation" />
		<typeAlias alias="socialRelation" type="com.cdkj.loan.domain.SocialRelation" />
		
		<typeAlias alias="recruitApply" type="com.cdkj.loan.domain.RecruitApply" />
		<typeAlias alias="leaveApply" type="com.cdkj.loan.domain.LeaveApply" />
		<typeAlias alias="contract" type="com.cdkj.loan.domain.Contract" />
		<typeAlias alias="entryApply" type="com.cdkj.loan.domain.EntryApply" />
		<typeAlias alias="overtimeApply" type="com.cdkj.loan.domain.OvertimeApply" />
		
		<typeAlias alias="travelApply" type="com.cdkj.loan.domain.TravelApply" />
		<typeAlias alias="travelApplyDetail" type="com.cdkj.loan.domain.TravelApplyDetail" />
		<typeAlias alias="convertApply" type="com.cdkj.loan.domain.ConvertApply" />
		<typeAlias alias="probationAssess" type="com.cdkj.loan.domain.ProbationAssess" />
		<typeAlias alias="suppleSignApply" type="com.cdkj.loan.domain.SuppleSignApply" />
		
		<typeAlias alias="suppleSignApplyDetail" type="com.cdkj.loan.domain.SuppleSignApplyDetail" />
		<typeAlias alias="assertApply" type="com.cdkj.loan.domain.AssertApply" />
		<typeAlias alias="assertGoods" type="com.cdkj.loan.domain.AssertGoods" />
		<typeAlias alias="assertUser" type="com.cdkj.loan.domain.AssertUser" />

		<typeAlias alias="probationAssess" type="com.cdkj.loan.domain.ProbationAssess" />
		<typeAlias alias="transferPositionApply" type="com.cdkj.loan.domain.TransferPositionApply" />
		<typeAlias alias="askForApply" type="com.cdkj.loan.domain.AskForApply" />
		<typeAlias alias="carBreak" type="com.cdkj.loan.domain.CarBreak" />
		<typeAlias alias="welfareApply" type="com.cdkj.loan.domain.WelfareApply" />
		
		<typeAlias alias="feeAdvanceApply" type="com.cdkj.loan.domain.FeeAdvanceApply" />
		<typeAlias alias="welfareUser" type="com.cdkj.loan.domain.WelfareUser" />

		<typeAlias alias="bizTeam" type="com.cdkj.loan.domain.BizTeam" />

		<typeAlias alias="scopePeople" type="com.cdkj.loan.domain.ScopePeople" />
		<typeAlias alias="noticeRead" type="com.cdkj.loan.domain.NoticeRead" />
		<typeAlias alias="dayRest" type="com.cdkj.loan.domain.DayRest" />
		<typeAlias alias="overdueRepay" type="com.cdkj.loan.domain.OverdueRepay" />
		
		<typeAlias alias="advanceFund" type="com.cdkj.loan.domain.AdvanceFund" />
		<typeAlias alias="repointDetail" type="com.cdkj.loan.domain.RepointDetail" />
		<typeAlias alias="totalAdvanceFund" type="com.cdkj.loan.domain.TotalAdvanceFund" />
		
		<typeAlias alias="repoint" type="com.cdkj.loan.domain.Repoint" />
		
	</typeAliases>
</configuration>
