<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.cdkj.coin.domain.User" />
		<typeAlias alias="userRelation" type="com.cdkj.coin.domain.UserRelation" />
		<typeAlias alias="cNavigate" type="com.cdkj.coin.domain.CNavigate" />
		<typeAlias alias="fieldTimes" type="com.cdkj.coin.domain.FieldTimes" />
		<typeAlias alias="sysMenu" type="com.cdkj.coin.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.cdkj.coin.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.cdkj.coin.domain.SYSMenuRole" />

		<typeAlias alias="account" type="com.cdkj.coin.domain.Account" />
		<typeAlias alias="jour" type="com.cdkj.coin.domain.Jour" />
		<typeAlias alias="exchangeCurrency" type="com.cdkj.coin.domain.ExchangeCurrency" />
		<typeAlias alias="charge" type="com.cdkj.coin.domain.Charge" />
		<typeAlias alias="withdraw" type="com.cdkj.coin.domain.Withdraw" />
		<typeAlias alias="hlOrder" type="com.cdkj.coin.domain.HLOrder" />

		<typeAlias alias="ethAddress" type="com.cdkj.coin.domain.EthAddress" />
		<typeAlias alias="ethTransaction" type="com.cdkj.coin.domain.EthTransaction" />
		<typeAlias alias="ethCollection" type="com.cdkj.coin.domain.EthCollection" />
		<typeAlias alias="tradeOrder" type="com.cdkj.coin.domain.TradeOrder" />
		<typeAlias alias="arbitrate" type="com.cdkj.coin.domain.Arbitrate" />
		
		<typeAlias alias="sysDict" type="com.cdkj.coin.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.cdkj.coin.domain.SYSConfig" />
	</typeAliases>
</configuration>


