<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    
	    <!-- 用户  -->
	    <typeAlias alias="user" type="com.cdkj.loan.domain.User" />
		<typeAlias alias="address" type="com.cdkj.loan.domain.Address" />
		<typeAlias alias="bankcard" type="com.cdkj.loan.domain.Bankcard" />
		<typeAlias alias="blacklist" type="com.cdkj.loan.domain.Blacklist" />
		<typeAlias alias="userRelation" type="com.cdkj.loan.domain.UserRelation" />
		<typeAlias alias="cNavigate" type="com.cdkj.loan.domain.CNavigate" />
		<typeAlias alias="fieldTimes" type="com.cdkj.loan.domain.FieldTimes" />
		
		<!-- 账户  -->
		<typeAlias alias="account" type="com.cdkj.loan.domain.Account" />
		<typeAlias alias="jour" type="com.cdkj.loan.domain.Jour" />
		<typeAlias alias="exchangeCurrency" type="com.cdkj.loan.domain.ExchangeCurrency" />
		<typeAlias alias="charge" type="com.cdkj.loan.domain.Charge" />
		<typeAlias alias="withdraw" type="com.cdkj.loan.domain.Withdraw" />
		<typeAlias alias="hlOrder" type="com.cdkj.loan.domain.HLOrder" />
		<typeAlias alias="baofooWithhold" type="com.cdkj.loan.domain.BaofooWithhold" />
		
		<!-- 系统  -->
		<typeAlias alias="sysUser" type="com.cdkj.loan.domain.SYSUser" />
		<typeAlias alias="sysMenu" type="com.cdkj.loan.domain.SYSMenu" />
		<typeAlias alias="sysRole" type="com.cdkj.loan.domain.SYSRole" />
		<typeAlias alias="sysMenuRole" type="com.cdkj.loan.domain.SYSMenuRole" />
		<typeAlias alias="sysDict" type="com.cdkj.loan.domain.SYSDict" />
		<typeAlias alias="sysConfig" type="com.cdkj.loan.domain.SYSConfig" />
		<typeAlias alias="department" type="com.cdkj.loan.domain.Department" />

        <!-- 车贷意向  -->
		<typeAlias alias="brand" type="com.cdkj.loan.domain.Brand" />
		<typeAlias alias="series" type="com.cdkj.loan.domain.Series" />
		<typeAlias alias="car" type="com.cdkj.loan.domain.Car" />
		<typeAlias alias="carorder" type="com.cdkj.loan.domain.CarOrder" />
		
		<!-- 商城业务  -->
		<typeAlias alias="category" type="com.cdkj.loan.domain.Category" />
		<typeAlias alias="product" type="com.cdkj.loan.domain.Product" />
		<typeAlias alias="order" type="com.cdkj.loan.domain.Order" />
		<typeAlias alias="productOrder" type="com.cdkj.loan.domain.ProductOrder" />
		<typeAlias alias="productSpecs" type="com.cdkj.loan.domain.ProductSpecs" />
		
		<!-- 车贷业务+分期业务  -->
		<typeAlias alias="loanOrder" type="com.cdkj.loan.domain.LoanOrder" />
		<typeAlias alias="repayBiz" type="com.cdkj.loan.domain.RepayBiz" />
		<typeAlias alias="repayPlan" type="com.cdkj.loan.domain.RepayPlan" />
		<typeAlias alias="cost" type="com.cdkj.loan.domain.Cost" />
		<typeAlias alias="remindLog" type="com.cdkj.loan.domain.RemindLog" />
		
		<!-- 银行  -->
		<typeAlias alias="channelBank" type="com.cdkj.loan.domain.ChannelBank" />
		
		<!-- 节点控制  -->
		<typeAlias alias="node" type="com.cdkj.loan.domain.Node" />
		<typeAlias alias="roleNode" type="com.cdkj.loan.domain.RoleNode" />
		<typeAlias alias="reqBudget" type="com.cdkj.loan.domain.ReqBudget" />

		
		<!-- 征信 -->
		<typeAlias alias="credit" type="com.cdkj.loan.domain.Credit" />
		<typeAlias alias="creditUser" type="com.cdkj.loan.domain.CreditUser" />
		<typeAlias alias="budgetOrder" type="com.cdkj.loan.domain.BudgetOrder" />

		<typeAlias alias="sysBizLog" type="com.cdkj.loan.domain.SYSBizLog" />
		
		<!-- 基础数据 -->
		<typeAlias alias="insuranceCompany" type="com.cdkj.loan.domain.InsuranceCompany" />
		
		<!-- 行政 -->
		<typeAlias alias="gps" type="com.cdkj.loan.domain.Gps" />


	</typeAliases>
	
</configuration>


