<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.INodeFlowDAO">
	<resultMap id="nodeFlow_DB_Result" type="nodeFlow">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="current_node" property="currentNode" />
		<result column="next_node" property="nextNode" />
		<result column="back_node" property="backNode" />
		<result column="file_list" property="fileList" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND t.id = #{id}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="currentNode != null and currentNode != '' ">
				AND t.current_node = #{currentNode}
			</if>
			<if test="nextNode != null and nextNode != '' ">
				AND t.next_node = #{nextNode}
			</if>
			<if test="backNode != null and backNode != '' ">
				AND t.back_node = #{backNode}
			</if>
		</trim>
	</sql>
	<select id="select_nodeFlow" parameterType="nodeFlow" resultMap="nodeFlow_DB_Result">
		SELECT
		t.id
		,t.type
		,t.current_node
		,t.next_node
		,t.back_node
		,t.file_list
		,t.remark
		FROM
		tsys_node_flow t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_nodeFlow_count" parameterType="nodeFlow"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_node_flow t
		<include refid="where_condition" />
	</select>

	<insert id="insert_nodeFlow" parameterType="nodeFlow">
		INSERT INTO
		tsys_node_flow(
		type
		,current_node
		,next_node
		,back_node
		,file_list
		,remark
		)
		VALUES(
		#{type}
		,#{currentNode}
		,#{nextNode}
		,#{backNode}
		,#{fileList}
		,#{remark}
		)
	</insert>

	<update id="update_nodeFlow" parameterType="nodeFlow">
		UPDATE tsys_node_flow
		SET
		next_node = #{nextNode}
		,back_node = #{backNode}
		,remark = #{remark}
		WHERE id = #{id}
	</update>
	
	<update id="update_fileList" parameterType="nodeFlow">
		UPDATE tsys_node_flow
		SET
		file_list = #{fileList}
		WHERE id = #{id}
	</update>
</mapper>
