<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.INoticeDAO">
	<resultMap id="notice_DB_Result" type="notice">
		<result column="code" property="code" />
		<result column="title" property="title" />
		<result column="type" property="type" />
		<result column="urgent_status" property="urgentStatus" />
		<result column="publish_department_code" property="publishDepartmentCode" />
		
		<result column="content" property="content" />
		<result column="publish_datetime" property="publishDatetime" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="title != null and title != '' ">
				AND t.title like "%"#{title}"%"
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="urgentStatus != null and urgentStatus != '' ">
				AND t.urgent_status = #{urgentStatus}
			</if>
			<if test="publishDepartmentCode != null and publishDepartmentCode != '' ">
				AND t.publish_department_code = #{publishDepartmentCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_notice" parameterType="notice" resultMap="notice_DB_Result">
		SELECT
		t.code
		,t.title
		,t.type
		,t.urgent_status
		,t.publish_department_code
		
		,t.content
		,t.publish_datetime
		,t.status
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tp_notice t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_notice_count" parameterType="notice"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_notice t
		<include refid="where_condition" />
	</select>

	<insert id="insert_notice" parameterType="notice">
		INSERT INTO
		tp_notice(
		code
		,title
		,type
		,urgent_status
		,publish_department_code
		
		,content
		,publish_datetime
		,status
		,updater
		
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{title}
		,#{type}
		,#{urgentStatus}
		,#{publishDepartmentCode}
		
		,#{content}
		,#{publishDatetime}
		,#{status}
		,#{updater}
		
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_notice" parameterType="notice">
		UPDATE tp_notice
		SET
		title = #{title}
		,type = #{type}
		,urgent_status = #{urgentStatus}
		,publish_department_code = #{publishDepartmentCode}
		,content = #{content}
		
		,publish_datetime = #{publishDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_notice_publishRemove" parameterType="notice">
		UPDATE tp_notice
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>