<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IOverdueTreatmentDAO">
	<resultMap id="overdueTreatment_DB_Result" type="overdueTreatment">
		<result column="code" property="code" />
		<result column="repay_plan_code" property="repayPlanCode" />
		<result column="collection_way" property="collectionWay" />
		<result column="collection_target" property="collectionTarget" />
		<result column="collection_process" property="collectionProcess" />
		<result column="collection_wish" property="collectionWish" />
		<result column="collection_process_note" property="collectionProcessNote" />
		<result column="collection_result" property="collectionResult" />
		<result column="depositIs_provide" property="depositIsProvide" />
		<result column="overdue_deposit" property="overdueDeposit" />
		<result column="real_repay_amount" property="realRepayAmount" />
		<result column="collection_result_note" property="collectionResultNote" />
		<result column="collection_type" property="collectionType" />
		<result column="operator" property="operator" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="repayPlanCode != null and repayPlanCode != '' ">
				AND t.repay_plan_code = #{repayPlanCode}
			</if>
		</trim>
	</sql>
	<select id="select_overdueTreatment" parameterType="overdueTreatment" resultMap="overdueTreatment_DB_Result">
		SELECT
		t.code
		,t.repay_plan_code
		,t.collection_way
		,t.collection_target
		,t.collection_process
		,t.collection_wish
		,t.collection_process_note
		,t.collection_result
		,t.depositIs_provide
		,t.overdue_deposit
		,t.real_repay_amount
		,t.collection_result_note
		,t.collection_type
		,t.operator
		,t.update_datetime
		FROM
		tdh_overdue_treatment t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_overdueTreatment_count" parameterType="overdueTreatment"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_overdue_treatment t
		<include refid="where_condition" />
	</select>

	<insert id="insert_overdueTreatment" parameterType="overdueTreatment">
		INSERT INTO
		tdh_overdue_treatment(
		code
		,repay_plan_code
		,collection_way
		,collection_target
		,collection_process
		,collection_wish
		,collection_process_note
		,collection_result
		,depositIs_provide
		,overdue_deposit
		,real_repay_amount
		,collection_result_note
		,collection_type
		,operator
		,update_datetime
		)
		VALUES(
		#{code}
		,#{repayPlanCode}
		,#{collectionWay}
		,#{collectionTarget}
		,#{collectionProcess}
		,#{collectionWish}
		,#{collectionProcessNote}
		,#{collectionResult}
		,#{depositIsProvide}
		,#{overdueDeposit}
		,#{realRepayAmount}
		,#{collectionResultNote}
		,#{collectionType}
		,#{operator}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_overdueTreatment" parameterType="overdueTreatment">
		UPDATE tdh_overdue_treatment
		SET
		repay_plan_code = #{repayPlanCode}
		,collection_way = #{collectionWay}
		,collection_target = #{collectionTarget}
		,collection_process = #{collectionProcess}
		,collection_wish = #{collectionWish}
		,collection_process_note = #{collectionProcessNote}
		,collection_result = #{collectionResult}
		,depositIs_provide = #{depositIsProvide}
		,overdue_deposit = #{overdueDeposit}
		,real_repay_amount = #{realRepayAmount}
		,collection_result_note = #{collectionResultNote}
		,operator = #{operator}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>


</mapper>