<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IOverdueRecordDAO">
	<resultMap id="overdueRecord_DB_Result" type="overdueRecord">
		<result column="id" property="id" />
		<result column="biz_code" property="bizCode" />
		<result column="customer_name" property="customerName" />
		<result column="sign" property="sign" />
		<result column="overdue_datetime" property="overdueDatetime" />
		<result column="overdue_amount" property="overdueAmount" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="customerName != null and customerName != '' ">
				AND t.customer_name = #{customerName}
			</if>
			<if test="sign != null and sign != '' ">
				AND t.sign = #{sign}
			</if>
		</trim>
	</sql>
	<select id="select_overdueRecord" parameterType="overdueRecord" resultMap="overdueRecord_DB_Result">
		SELECT
		t.id
		,t.biz_code
		,t.customer_name
		,t.sign
		,t.overdue_datetime
		,t.overdue_amount
		FROM
		tdh_overdue_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_overdueRecord_count" parameterType="overdueRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_overdue_record t
		<include refid="where_condition" />
	</select>

	<insert id="insert_overdueRecord" parameterType="overdueRecord">
		INSERT INTO
		tdh_overdue_record(
		id
		,biz_code
		,customer_name
		,sign
		,overdue_datetime
		,overdue_amount
		)
		VALUES(
		#{id}
		,#{bizCode}
		,#{customerName}
		,#{sign}
		,#{overdueDatetime}
		,#{overdueAmount}
		)
	</insert>

</mapper>