<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IOverdueRepayDAO">
	<resultMap id="overdueRepay_DB_Result" type="overdueRepay">
		<result column="id" property="id" />
		<result column="overdue_code" property="overdueCode" />
		<result column="repay_biz_code" property="repayBizCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="overdueCode != null and overdueCode != '' ">
				AND t.overdue_code = #{overdueCode}
			</if>
			<if test="repayBizCode != null and repayBizCode != '' ">
				AND t.repay_biz_code = #{repayBizCode}
			</if>
		</trim>
	</sql>
	<select id="select_overdueRepay" parameterType="overdueRepay" resultMap="overdueRepay_DB_Result">
		SELECT
		t.id
		,t.overdue_code
		,t.repay_biz_code
		FROM
		tdh_overdue_repay t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_overdueRepay_count" parameterType="overdueRepay"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_overdue_repay t
		<include refid="where_condition" />
	</select>

	<insert id="insert_overdueRepay" parameterType="overdueRepay">
		INSERT INTO
		tdh_overdue_repay(
		overdue_code
		,repay_biz_code
		)
		VALUES(
		#{overdueCode}
		,#{repayBizCode}
		)
	</insert>
</mapper>