<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IOvertimeApplyDAO">
	<resultMap id="overtimeApply_DB_Result" type="overtimeApply">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="total_hour" property="totalHour" />
		<result column="reason" property="reason" />
		<result column="pdf" property="pdf" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="startApplyDatetime != null and startApplyDatetime != '' ">
				AND t.apply_datetime &gt;= #{startApplyDatetime}
			</if>
			<if test="endApplyDatetime != null and endApplyDatetime != '' ">
				AND t.apply_datetime &lt;= #{endApplyDatetime}
			</if>
		</trim>
	</sql>
	<select id="select_overtimeApply" parameterType="overtimeApply" resultMap="overtimeApply_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.apply_datetime
		,t.start_datetime
		,t.end_datetime
		,t.total_hour
		,t.reason
		,t.pdf
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_overtime_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_overtimeApply_count" parameterType="overtimeApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_overtime_apply t
		<include refid="where_condition" />
	</select>
	
	<select id="select_overtimeApply_totalHour" parameterType="overtimeApply"
		resultType="java.lang.Long">
		SELECT IFNULL(SUM(t.total_hour),0) FROM tp_overtime_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_overtimeApply" parameterType="overtimeApply">
		INSERT INTO
		tp_overtime_apply(
		code
		,apply_user
		,apply_datetime
		,start_datetime
		,end_datetime
		,total_hour
		,reason
		,pdf
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{applyDatetime}
		,#{startDatetime}
		,#{endDatetime}
		,#{totalHour}
		,#{reason}
		,#{pdf}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_overtimeApply" parameterType="overtimeApply">
		UPDATE tp_overtime_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,updater = #{updater}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

</mapper>