<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IProbationAssessDAO">
	<resultMap id="probationAssess_DB_Result" type="probationAssess">
		<result column="id" property="id" />
		<result column="convert_code" property="convertCode" />
		<result column="eval_item" property="evalItem" />
		<result column="grade" property="grade" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
		</trim>
	</sql>
	<select id="select_probationAssess" parameterType="probationAssess" resultMap="probationAssess_DB_Result">
		SELECT
		t.id
		,t.convert_code
		,t.eval_item
		,t.grade
		FROM
		tp_probation_assess t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_probationAssess_count" parameterType="probationAssess"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_probation_assess t
		<include refid="where_condition" />
	</select>

	<insert id="insert_probationAssess" parameterType="probationAssess">
		INSERT INTO
		tp_probation_assess(
		id
		,convert_code
		,eval_item
		,grade
		)
		VALUES(
		#{id}
		,#{convertCode}
		,#{evalItem}
		,#{grade}
		)
	</insert>

	<update id="update_probationAssess" parameterType="probationAssess">
		UPDATE tp_probation_assess
		SET
		convert_code = #{convertCode}
		,eval_item = #{evalItem}
		,grade = #{grade}
		WHERE id = #{id}
	</update>


</mapper>