<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IProvinceDAO">
	<resultMap id="province_DB_result" type="province">
		<result column="id" property="id" />	
		<result column="province_no" property="provinceNo" />
		<result column="name" property="name" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">	
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="provinceNo != null and provinceNo != '' ">
				AND t.province_no = #{provinceNo}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
		</trim>
	</sql>
	
	<select id="select_province" parameterType="province" resultMap="province_DB_result">
		SELECT
		t.id
		,t.province_no
		,t.name
		FROM
		tb_province_no t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_province_count" parameterType="province" resultType="java.lang.Long">
		SELECT count(1) FROM tb_province_no t 
		<include refid="where_condition"/>
	</select>
	
	<insert id="insert_province" parameterType="province">
		INSERT INTO tb_province_no(
		province_no,
		name
		)
		VALUES(
		#{provinceNo},
		#{name}
		)
	</insert>
	
	<update id="update_province" parameterType="province">
		UPDATE tb_province_no
		SET
		province_no = #{provinceNo}
		,name = #{name}
		WHERE id = #{id}
	</update>
	
	<delete id="delete_province" parameterType="province">
		DELETE FROM tb_province_no 
		WHERE id = #{id}
	</delete>
</mapper>
