<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRecruitApplyDAO">
	<resultMap id="recruitApply_DB_Result" type="recruitApply">
		<result column="code" property="code" />
		<result column="department_code" property="departmentCode" />
		<result column="position" property="position" />
		<result column="establish_quantity" property="establishQuantity" />
		<result column="now_quantity" property="nowQuantity" />
		
		<result column="apply_quantity" property="applyQuantity" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="require_datetime" property="requireDatetime" />
		<result column="replace_position" property="replacePosition" />
		<result column="replace_real_name" property="replaceRealName" />
		
		<result column="new_apply_reason" property="newApplyReason" />
		<result column="position_now_quantity" property="positionNowQuantity" />
		<result column="position_add_reason" property="positionAddReason" />
		<result column="temp_start_datetime" property="tempStartDatetime" />
		<result column="temp_end_datetime" property="tempEndDatetime" />
		
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="marry_state" property="marryState" />
		<result column="education" property="education" />
		<result column="major" property="major" />
		
		<result column="major_require" property="majorRequire" />
		<result column="ability_require" property="abilityRequire" />
		<result column="experience" property="experience" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	
	<select id="select_recruitApply" parameterType="recruitApply" resultMap="recruitApply_DB_Result">
		SELECT
		t.code
		,t.department_code
		,t.position
		,t.establish_quantity
		,t.now_quantity
		
		,t.apply_quantity
		,t.apply_datetime
		,t.require_datetime
		,t.replace_position
		,t.replace_real_name
		
		,t.new_apply_reason
		,t.position_now_quantity
		,t.position_add_reason
		,t.temp_start_datetime
		,t.temp_end_datetime
		
		,t.gender
		,t.age
		,t.marry_state
		,t.education
		,t.major
		
		,t.major_require
		,t.ability_require
		,t.experience
		,t.status
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tp_recruit_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_recruitApply_count" parameterType="recruitApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_recruit_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_recruitApply" parameterType="recruitApply">
		INSERT INTO
		tp_recruit_apply(
		code
		,department_code
		,position
		,establish_quantity
		,now_quantity
		
		,apply_quantity
		,apply_datetime
		,require_datetime
		,replace_position
		,replace_real_name
		
		,new_apply_reason
		,position_now_quantity
		,position_add_reason
		,temp_start_datetime
		,temp_end_datetime
		
		,gender
		,age
		,marry_state
		,education
		,major
		
		,major_require
		,ability_require
		,experience
		,status
		,updater
		
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{departmentCode}
		,#{position}
		,#{establishQuantity}
		,#{nowQuantity}
		
		,#{applyQuantity}
		,#{applyDatetime}
		,#{requireDatetime}
		,#{replacePosition}
		,#{replaceRealName}
		
		,#{newApplyReason}
		,#{positionNowQuantity}
		,#{positionAddReason}
		,#{tempStartDatetime}
		,#{tempEndDatetime}
		
		,#{gender}
		,#{age}
		,#{marryState}
		,#{education}
		,#{major}
		
		,#{majorRequire}
		,#{abilityRequire}
		,#{experience}
		,#{status}
		,#{updater}
		
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_approve_recruitApply" parameterType="recruitApply">
		UPDATE tp_recruit_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>