<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRegimeDAO">
	<resultMap id="Regime_DB_Result" type="Regime">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="regime_code" property="regimeCode" />
		<result column="name" property="name" />
		<result column="scope" property="scope" />
		
		<result column="content" property="content" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="regimeCode != null and regimeCode != '' ">
				AND t.regime_code = #{regimeCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
		</trim>
	</sql>
	
	<select id="select_Regime" parameterType="Regime" resultMap="Regime_DB_Result">
		SELECT
		t.code
		,t.type
		,t.regime_code
		,t.name
		,t.scope
		
		,t.content
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_comp_regime t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_Regime_count" parameterType="Regime"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_comp_regime t
		<include refid="where_condition" />
	</select>

	<insert id="insert_Regime" parameterType="Regime">
		INSERT INTO
		tp_comp_regime(
		code
		,type
		,regime_code
		,name
		,scope
		
		,content
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{regimeCode}
		,#{name}
		,#{scope}
		
		,#{content}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_Regime" parameterType="Regime">
		UPDATE tp_comp_regime
		SET
		type = #{type}
		,regime_code = #{regimeCode}
		,name = #{name}
		,scope = #{scope}
		,content = #{content}
		
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>