<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepayBizDAO">
	<resultMap id="repayBiz_DB_Result" type="repayBiz">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="real_name" property="realName" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		
		<result column="bankcard_code" property="bankcardCode" />
		<result column="ref_type" property="refType" />
		<result column="ref_code" property="refCode" />
		<result column="biz_price" property="bizPrice" />
		<result column="sf_rate" property="sfRate" />
		
		<result column="sf_amount" property="sfAmount" />
		<result column="loan_bank" property="loanBank" />
		<result column="loan_amount" property="loanAmount" />
		<result column="periods" property="periods" />
		<result column="rest_periods" property="restPeriods" />
		
		<result column="bank_rate" property="bankRate" />
		<result column="loan_start_datetime" property="loanStartDatetime" />
		<result column="loan_end_datetime" property="loanEndDatetime" />
		
		<result column="bank_fk_datetime" property="bankFkdatetime" />
		<result column="fx_deposit" property="fxDeposit" />
		<result column="first_repay_datetime" property="firstRepayDatetime" />
		<result column="first_repay_amount" property="firstRepayAmount" />
		<result column="month_datetime" property="monthDatetime" />
		<result column="month_amount" property="monthAmount" />
		
		<result column="ly_deposit" property="lyDeposit" />
		<result column="cut_ly_deposit" property="cutLyDeposit" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="rest_amount" property="restAmount" />
		<result column="rest_total_cost" property="restTotalCost" />
		
		<result column="overdue_total_deposit" property="overdueTotalDeposit" />
		<result column="overdue_total_deposit_income" property="overdueTotalDepositIncome" />
		<result column="total_in_deposit" property="totalInDeposit" />
		<result column="overdue_amount" property="overdueAmount" />
		<result column="total_overdue_count" property="totalOverdueCount" />
		
		<result column="cur_overdue_count" property="curOverdueCount" />
		<result column="black_handle_note" property="blackHandleNote" />
		<result column="is_advance_settled" property="isAdvanceSettled" />
		<result column="settle_attach" property="settleAttach" />
		<result column="settle_datetime" property="settleDatetime" />
		
		<result column="release_datetime" property="releaseDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="refType != null and refType != '' ">
				AND t.ref_type = #{refType}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="keyWord != null and keyWord != '' ">
				AND t.real_name like "%"#{keyWord}"%" OR  t.id_no like "%"#{keyWord}"%"
			</if>
			<if test="curNodeCodeList != null and curNodeCodeList.size() != 0 ">
				AND t.cur_node_code in 
                <foreach item="item" index="index" collection="curNodeCodeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND r.role_code = #{roleCode}
			</if>
			
			<if test="isAdvanceSettled != null and isAdvanceSettled != '' ">
				AND t.is_advance_settled = #{isAdvanceSettled}
			</if>
			<if test="loanBank != null and loanBank != '' ">
				AND t.loan_bank = #{loanBank}
			</if>
			<if test="loanAmount != null and loanAmount != '' ">
				AND t.loan_amount = #{loanAmount}
			</if>
			<if test="periods != null and periods != '' ">
				AND t.periods = #{periods}
			</if>
			<if test="bankFkDatetimeStart != null and bankFkDatetimeStart != '' ">
				<![CDATA[AND t.bank_fk_datetime >= #{bankFkDatetimeStart}]]>
			</if>
			<if test="bankFkDatetimeEnd != null and bankFkDatetimeEnd != '' ">
				<![CDATA[AND t.bank_fk_datetime <= #{bankFkDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_repayBiz" parameterType="repayBiz" resultMap="repayBiz_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.real_name
		,t.id_kind
		,t.id_no
		,t.bankcard_code
		,t.ref_type
		,t.ref_code
		
		,t.biz_price
		,t.sf_rate
		,t.sf_amount
		,t.loan_bank
		,t.loan_amount
		
		,t.periods
		,t.rest_periods
		,t.bank_rate
		,t.loan_start_datetime
		,t.loan_end_datetime
		,t.bank_fk_datetime
		
		,t.fx_deposit
		,t.first_repay_datetime
		,t.first_repay_amount
		,t.month_datetime
		,t.month_amount
		,t.ly_deposit
		
		,t.cut_ly_deposit
		,t.cur_node_code
		,t.rest_amount
		,t.rest_total_cost
		,t.overdue_total_deposit
		,t.overdue_total_deposit_income
		,t.total_in_deposit
		
		,t.overdue_amount
		,t.total_overdue_count
		,t.cur_overdue_count
		,t.black_handle_note
		,t.is_advance_settled
		
		,t.settle_attach
		,t.settle_datetime
		,t.release_datetime
		,t.updater
		,t.update_datetime
		
		,t.remark
		FROM
		tdh_repay_biz t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_repayBiz_byRoleCode" parameterType="repayBiz" resultMap="repayBiz_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.real_name
		,t.id_kind
		,t.id_no
		,t.bankcard_code
		,t.ref_type
		,t.ref_code
		
		,t.biz_price
		,t.sf_rate
		,t.sf_amount
		,t.loan_bank
		,t.loan_amount
		
		,t.periods
		,t.rest_periods
		,t.bank_rate
		,t.loan_start_datetime
		,t.loan_end_datetime
		,t.bank_fk_datetime
		,t.fx_deposit
		
		,t.first_repay_datetime
		,t.first_repay_amount
		,t.month_datetime
		,t.month_amount
		,t.ly_deposit
		
		,t.cut_ly_deposit
		,t.cur_node_code
		,t.rest_amount
		,t.rest_total_cost
		,t.overdue_total_deposit
		,t.overdue_total_deposit_income
		,t.total_in_deposit
		
		,t.overdue_amount
		,t.total_overdue_count
		,t.cur_overdue_count
		,t.black_handle_note
		,t.is_advance_settled
		
		,t.settle_attach
		,t.settle_datetime
		,t.release_datetime
		,t.updater
		,t.update_datetime
		
		,t.remark
		FROM
		tdh_repay_biz t left join tsys_role_node r on t.cur_node_code = r.node_code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_repayBiz_count" parameterType="repayBiz"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_repay_biz t
		<include refid="where_condition" />
	</select>

	<select id="select_repayBiz_count_byRoleCode" parameterType="repayBiz"
		resultType="java.lang.Long">
		SELECT count(1) FROM (SELECT distinct code FROM tdh_repay_biz t left join tsys_role_node r on t.cur_node_code = r.node_code
		<include refid="where_condition" />) tb
	</select>

	<insert id="insert_repayBiz" parameterType="repayBiz">
		INSERT INTO
		tdh_repay_biz(
		code
		,user_id
		,real_name
		,id_kind
		,id_no
		,bankcard_code
		,ref_type
		,ref_code
		
		,biz_price
		,sf_rate
		,sf_amount
		,loan_bank
		,loan_amount
		
		,periods
		,rest_periods
		,bank_rate
		,loan_start_datetime
		,loan_end_datetime
		,bank_fk_datetime
		
		,fx_deposit
		,first_repay_datetime
		,first_repay_amount
		,month_datetime
		,month_amount
		
		,ly_deposit
		,cut_ly_deposit
		,cur_node_code
		,rest_amount
		,rest_total_cost
		
		,overdue_total_deposit
		,overdue_total_deposit_income
		,total_in_deposit
		,overdue_amount
		,total_overdue_count
		,cur_overdue_count
		,black_handle_note
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{userId}
		,#{realName}
		,#{idKind}
		,#{idNo}
		
		,#{bankcardCode}
		,#{refType}
		,#{refCode}
		,#{bizPrice}
		,#{sfRate}
		
		,#{sfAmount}
		,#{loanBank}
		,#{loanAmount}
		,#{periods}
		,#{restPeriods}
		
		,#{bankRate}
		,#{loanStartDatetime}
		,#{loanEndDatetime}
		,#{bankFkDatetime}
		,#{fxDeposit}
		,#{firstRepayDatetime}
		
		,#{firstRepayAmount}
		,#{monthDatetime}
		,#{monthAmount}
		,#{lyDeposit}
		,#{cutLyDeposit}
		
		,#{curNodeCode}
		,#{restAmount}
		,#{restTotalCost}
		,#{overdueTotalDeposit}
		,#{overdueTotalDepositIncome}
		
		,#{totalInDeposit}
		,#{overdueAmount}
		,#{totalOverdueCount}
		,#{curOverdueCount}
		,#{blackHandleNote}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_repayBiz_bankcard" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		bankcard_code = #{bankcardCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="enter_black_list_prd" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,black_handle_note = #{blackHandleNote}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_repayBiz_restAmount" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		rest_amount = #{restAmount}
		WHERE code = #{code}
	</update>
	
	<update id="update_repayAllAdvance" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,is_advance_settled = #{isAdvanceSettled}
		,rest_amount = #{restAmount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_repayAll" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,rest_amount = #{restAmount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="confirm_settle" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,settle_attach = #{settleAttach}
		,settle_datetime = #{settleDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_approveByQkcsDepart" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,cut_ly_deposit = #{cutLyDeposit}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_approveByBankCheck" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,settle_attach = #{settleAttach}
		,settle_datetime = #{settleDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_approveByManager" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_approveByFinance" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_releaseMortgage" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,release_datetime = #{releaseDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_applyTrailer" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_financialMoney" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_trailerEntry" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_judicialLitigationEntry" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_trailerManage" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_qkcsbRedeemApply" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_riskManagerCheck" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_financeApprove" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_repayAmount" parameterType="repayBiz">
		UPDATE tdh_repay_biz
		SET
		updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	
</mapper>