<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepayPlanDAO">
	<resultMap id="repayPlan_DB_Result" type="repayPlan">
		<result column="code" property="code" />
		<result column="ref_type" property="refType" />
		<result column="repay_biz_code" property="repayBizCode" />
		<result column="user_id" property="userId" />
		<result column="periods" property="periods" />
		
		<result column="cur_periods" property="curPeriods" />
		<result column="repay_datetime" property="repayDatetime" />
		<result column="repay_capital" property="repayCapital" />
		<result column="repay_interest" property="repayInterest" />
		<result column="payed_amount" property="payedAmount" />
		<result column="overplus_amount" property="overplusAmount" />
		
		<result column="overdue_amount" property="overdueAmount" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="overdue_handler" property="overdueHandler" />
		<result column="overdue_handle_datetime" property="overdueHandleDatetime" />
		<result column="overdue_handle_note" property="overdueHandleNote" />
		
		<result column="total_fee" property="totalFee" />
		<result column="payed_fee" property="payedFee" />
		<result column="overdue_deposit" property="overdueDeposit" />
		<result column="deposit_way" property="depositWay" />
		<result column="should_deposit" property="shouldDeposit" />
		
		<result column="remind_count" property="remindCount" />
		<result column="real_repay_amount" property="realRepayAmount" />
		<result column="is_repay" property="isRepay" />
		<result column="ts_car_amount" property="tsCarAmount" />
		<result column="ts_bankcard_number" property="tsBankcardNumber" />
		<result column="ts_bank_name" property="tsBankName" />
		
		<result column="ts_subbranch" property="tsSubbranch" />
		<result column="tc_apply_note" property="tcApplyNote" />
		<result column="remit_amount" property="remitAmount" />
		<result column="remit_bill_pdf" property="remitBillPdf" />
		<result column="take_car_address" property="takeCarAddress" />
		
		<result column="take_datetime" property="takeDatetime" />
		<result column="take_name" property="takeName" />
		<result column="take_location" property="takeLocation" />
		<result column="take_note" property="takeNote" />
		<result column="jour_pdf" property="jourPdf" />
		
		<result column="house_pdf" property="housePdf" />
		<result column="gua_name" property="guaName" />
		<result column="gua_id_no" property="guaIdNo" />
		<result column="gua_mobile" property="guaMobile" />
		<result column="gua_now_address" property="guaNowAddress" />
		
		<result column="gua_note" property="guaNote" />
		<result column="suggest" property="suggest" />
		<result column="suggest_note" property="suggestNote" />
		<result column="buy_out_amount" property="buyOutAmount" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="refType != null and refType != '' ">
				AND t.ref_type = #{refType}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="repayDatetime != null and repayDatetime != '' ">
				AND t.repay_datetime = #{repayDatetime}
			</if>
			<if test="repayBizCode != null and repayBizCode != '' ">
				AND t.repay_biz_code = #{repayBizCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND r.role_code = #{roleCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="overdueHandler != null and overdueHandler != '' ">
				AND t.codoverdue_handlere = #{overdueHandler}
			</if>
			<if test="repayStartDatetime != null and repayStartDatetime != '' ">
				<![CDATA[AND t.repay_datetime >= #{repayStartDatetime}]]>
			</if>
			<if test="repayEndDatetime != null and repayEndDatetime != '' ">
				<![CDATA[AND t.repay_datetime <= #{repayEndDatetime}]]>
			</if>
			<if test="curNodeCodeList != null and curNodeCodeList.size() != 0 ">
				AND t.cur_node_code in 
                <foreach item="item" index="index" collection="curNodeCodeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	
	<select id="select_repayPlan" parameterType="repayPlan" resultMap="repayPlan_DB_Result">
		SELECT
		t.code
		,t.ref_type
		,t.repay_biz_code
		,t.user_id
		,t.periods
		,t.cur_periods
		,t.repay_datetime
		,t.repay_capital
		,t.repay_interest
		,t.payed_amount
		,t.overplus_amount
		,t.overdue_amount
		,t.cur_node_code
		,t.overdue_handler
		,t.overdue_handle_datetime
		,t.overdue_handle_note
		,t.total_fee
		,t.payed_fee
		,t.overdue_deposit
		,t.deposit_way
		,t.should_deposit
		,t.remind_count
		,t.real_repay_amount
		,t.is_repay
		,t.ts_car_amount
		,t.ts_bankcard_number
		,t.ts_bank_name
		,t.ts_subbranch
		,t.tc_apply_note
		,t.remit_amount
		,t.remit_bill_pdf
		,t.take_car_address
		,t.take_datetime
		,t.take_name
		,t.take_location
		,t.take_note
		,t.jour_pdf
		,t.house_pdf
		,t.gua_name
		,t.gua_id_no
		,t.gua_mobile
		,t.gua_now_address
		,t.gua_note
		,t.suggest
		,t.suggest_note
		,t.buy_out_amount
		FROM
		tdh_repay_plan t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_repayPlan_byRoleCode" parameterType="repayPlan" resultMap="repayPlan_DB_Result">
		SELECT
		t.code
		,t.ref_type
		,t.repay_biz_code
		,t.user_id
		,t.periods
		,t.cur_periods
		,t.repay_datetime
		,t.repay_capital
		,t.repay_interest
		,t.payed_amount
		,t.overplus_amount
		,t.overdue_amount
		,t.cur_node_code
		,t.overdue_handler
		,t.overdue_handle_datetime
		,t.overdue_handle_note
		,t.total_fee
		,t.payed_fee
		,t.overdue_deposit
		,t.deposit_way
		,t.should_deposit
		,t.remind_count
		,t.real_repay_amount
		,t.is_repay
		,t.ts_car_amount
		,t.ts_bankcard_number
		,t.ts_bank_name
		,t.ts_subbranch
		,t.tc_apply_note
		,t.remit_amount
		,t.remit_bill_pdf
		,t.take_car_address
		,t.take_datetime
		,t.take_name
		,t.take_location
		,t.take_note
		,t.jour_pdf
		,t.house_pdf
		,t.gua_name
		,t.gua_id_no
		,t.gua_mobile
		,t.gua_now_address
		,t.gua_note
		,t.suggest
		,t.suggest_note
		,t.buy_out_amount
		FROM
		tdh_repay_plan t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	

	<select id="select_repayPlan_count" parameterType="repayPlan"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_repay_plan t
		<include refid="where_condition" />
	</select>
	
	<select id="select_repayPlan_count_byRoleCode" parameterType="repayPlan"
		resultType="java.lang.Long">
		SELECT count(1) FROM (SELECT distinct code FROM tdh_repay_plan t left join tsys_role_node r on t.cur_node_code = r.node_code
		<include refid="where_condition" />) tb
	</select>

	<insert id="insert_repayPlan" parameterType="repayPlan">
		INSERT INTO
		tdh_repay_plan(
		code
		,ref_type
		,repay_biz_code
		,user_id
		,periods
		,cur_periods
		,repay_datetime
		,repay_capital
		,repay_interest
		,payed_amount
		,overplus_amount
		,overdue_amount
		,cur_node_code
		,overdue_handler
		,overdue_handle_datetime
		,overdue_handle_note
		,total_fee
		,payed_fee
		,overdue_deposit
		,deposit_way
		,should_deposit
		,remind_count
		)
		VALUES(
		#{code}
		,#{refType}
		,#{repayBizCode}
		,#{userId}
		,#{periods}
		,#{curPeriods}
		,#{repayDatetime}
		,#{repayCapital}
		,#{repayInterest}
		,#{payedAmount}
		,#{overplusAmount}
		,#{overdueAmount}
		,#{curNodeCode}
		,#{overdueHandler}
		,#{overdueHandleDatetime}
		,#{overdueHandleNote}
		,#{totalFee}
		,#{payedFee}
		,#{overdueDeposit}
		,#{depositWay}
		,#{shouldDeposit}
		,#{remindCount}
		)
	</insert>

	<insert id="insert_repayPlanList" parameterType="List">
		INSERT INTO
		tdh_repay_plan(
		code
		,ref_type
		,repay_biz_code
		,user_id
		,periods
		,cur_periods
		,repay_datetime
		,repay_capital
		,repay_interest
		,payed_amount
		,overplus_amount
		,overdue_amount
		,cur_node_code
		,overdue_handler
		,overdue_handle_datetime
		,overdue_handle_note
		,total_fee
		,payed_fee
		,overdue_deposit
		,deposit_way
		,should_deposit
		,remind_count
		)
		
		VALUES
		
		<foreach collection="list" item="repayPlan" separator=",">
		(
		#{repayPlan.code}
		,#{repayPlan.refType}
		,#{repayPlan.repayBizCode}
		,#{repayPlan.userId}
		,#{repayPlan.periods}
		,#{repayPlan.curPeriods}
		,#{repayPlan.repayDatetime}
		,#{repayPlan.repayCapital}
		,#{repayPlan.repayInterest}
		,#{repayPlan.payedAmount}
		,#{repayPlan.overplusAmount}
		,#{repayPlan.overdueAmount}
		,#{repayPlan.curNodeCode}
		,#{repayPlan.overdueHandler}
		,#{repayPlan.overdueHandleDatetime}
		,#{repayPlan.overdueHandleNote}
		,#{repayPlan.totalFee}
		,#{repayPlan.payedFee}
		,#{repayPlan.overdueDeposit}
		,#{repayPlan.depositWay}
		,#{repayPlan.shouldDeposit}
		,#{repayPlan.remindCount}
		)
		</foreach>
	</insert>
	
	<update id="update_paySuccess" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,payed_amount = #{payedAmount}
		,overplus_amount = #{overplusAmount}
		WHERE code = #{code}
	</update>
	
	<update id="update_payPartSuccess" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		payed_amount = #{payedAmount}
		,overplus_amount = #{overplusAmount}
		WHERE code = #{code}
	</update>

	<update id="update_repayplan_node" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>

	<update id="update_overdue" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="overdue_handle" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,overdue_deposit = #{overdueDeposit}
		,deposit_way = #{depositWay}
		,overdue_handle_note = #{overdueHandleNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_applyTrailer" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,ts_car_amount = #{tsCarAmount}
		,ts_bankcard_number = #{tsBankcardNumber}
		,ts_bank_name  = #{tsBankName}
		,ts_subbranch = #{tsSubbranch}
		,tc_apply_note = #{tcApplyNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_financialMoney" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		remit_amount = #{remitAmount}
		,remit_bill_pdf = #{remitBillPdf}
		WHERE code = #{code}
	</update>
	
	<update id="update_trailerEntry" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		take_car_address = #{takeCarAddress}
		,take_datetime = #{takeDatetime}
		,take_location = #{takeLocation}
		,take_name = #{takeName}
		,take_note = #{takeNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_judicialLitigationEntry" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,buy_out_amount = #{buyOutAmount}
		WHERE code = #{code}
	</update>
	
	<update id="update_qkcsbRedeemApply" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		jour_pdf = #{jourPdf}
		,house_pdf = #{housePdf}
		,gua_name = #{guaName}
		,gua_id_no = #{guaIdNo}
		,gua_mobile = #{guaMobile}
		,gua_now_address = #{guaNowAddress}
		,gua_note = #{guaNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_riskManagerCheck" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		suggest = #{suggest}
		,suggest_note = #{suggestNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_financeApprove" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_repayAmount" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		real_repay_amount = #{realRepayAmount}
		,is_repay = #{isRepay}
		WHERE code = #{code}
	</update>
</mapper>
