<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepayPlanDAO">
	<resultMap id="repayPlan_DB_Result" type="repayPlan">
		<result column="code" property="code" />
		<result column="ref_type" property="refType" />
		<result column="repay_biz_code" property="repayBizCode" />
		<result column="user_id" property="userId" />
		<result column="periods" property="periods" />
		
		<result column="cur_periods" property="curPeriods" />
		<result column="repay_datetime" property="repayDatetime" />
		<result column="repay_capital" property="repayCapital" />
		<result column="repay_interest" property="repayInterest" />
		<result column="payed_amount" property="payedAmount" />
		<result column="overplus_amount" property="overplusAmount" />
		
		<result column="overplus_amount" property="overplusAmount" />
		<result column="overdue_amount" property="overdueAmount" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="overdue_handler" property="overdueHandler" />
		<result column="overdue_handle_datetime" property="overdueHandleDatetime" />
		
		<result column="overdue_handle_note" property="overdueHandleNote" />
		<result column="total_fee" property="totalFee" />
		<result column="payed_fee" property="payedFee" />
		<result column="overdue_deposit" property="overdueDeposit" />
		<result column="overdue_deposit_way" property="overdueDepositWay" />
		
		<result column="repay_is_part" property="repayIsPart" />
		<result column="real_repay_amount" property="realRepayAmount" />
		<result column="remind_count" property="remindCount" />
		<result column="real_replace_repay_amount" property="replaceRealRepayAmount" />
		<result column="replace_is_repay" property="replaceIsRepay" />
		
		<result column="replace_repay_datetime" property="replaceRepayDatetime" />
		<result column="replace_back_repay_amount" property="replaceBackRepayAmount" />
		<result column="replace_back_repay_datetime" property="replaceBackRepayDatetime" />
		<result column="collection_way" property="collectionWay" />
		<result column="collection_target" property="collectionTarget" />
		
		<result column="collection_process" property="collectionProcess" />
		<result column="collection_wish" property="collectionWish" />
		<result column="collection_result" property="collectionResult" />
		<result column="deposit_is_provide" property="depositIsProvide" />
		<result column="collection_note" property="collectionNote" />
		
		<result column="pawnshop_is_redeem" property="pawnshopIsRedeem" />
		<result column="pawnshop_name" property="pawnshopName" />
		<result column="ransom" property="ransom" />
		<result column="ts_car_amount" property="tsCarAmount" />
		<result column="ts_bankcard_number" property="tsBankcardNumber" />
		
		<result column="ts_bank_name" property="tsBankName" />
		<result column="ts_subbranch" property="tsSubbranch" />
		<result column="tc_apply_note" property="tcApplyNote" />
		<result column="remit_datetime" property="remitDatetime" />
		<result column="remit_amount" property="remitAmount" />
		
		<result column="remit_bank_code" property="remitBankCode" />
		<result column="remit_bill_pdf" property="remitBillPdf" />
		<result column="take_car_address" property="takeCarAddress" />
		<result column="take_datetime" property="takeDatetime" />
		<result column="take_name" property="takeName" />
		
		<result column="take_location" property="takeLocation" />
		<result column="take_note" property="takeNote" />
		<result column="deal_result" property="dealResult" />
		<result column="sell_price" property="sellPrice" />
		<result column="deposit" property="deposit" />
		
		<result column="fee_note" property="feeNote" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="refType != null and refType != '' ">
				AND t.ref_type = #{refType}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="repayDatetime != null and repayDatetime != '' ">
				AND t.repay_datetime = #{repayDatetime}
			</if>
			<if test="repayBizCode != null and repayBizCode != '' ">
				AND t.repay_biz_code = #{repayBizCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND r.role_code = #{roleCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="overdueHandler != null and overdueHandler != '' ">
				AND t.codoverdue_handlere = #{overdueHandler}
			</if>
			<if test="repayStartDatetime != null and repayStartDatetime != '' ">
				<![CDATA[AND t.repay_datetime >= #{repayStartDatetime}]]>
			</if>
			<if test="repayEndDatetime != null and repayEndDatetime != '' ">
				<![CDATA[AND t.repay_datetime <= #{repayEndDatetime}]]>
			</if>
			<if test="curNodeCodeList != null and curNodeCodeList.size() != 0 ">
				AND t.cur_node_code in 
                <foreach item="item" index="index" collection="curNodeCodeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	
	<select id="select_repayPlan" parameterType="repayPlan" resultMap="repayPlan_DB_Result">
		SELECT
		t.code
		,t.ref_type
		,t.repay_biz_code
		,t.user_id
		,t.periods
		
		,t.cur_periods
		,t.repay_datetime
		,t.repay_capital
		,t.repay_interest
		,t.payed_amount
		
		,t.overplus_amount
		,t.overdue_amount
		,t.cur_node_code
		,t.overdue_handler
		,t.overdue_handle_datetime
		
		,t.overdue_handle_note
		,t.total_fee
		,t.payed_fee
		,t.overdue_deposit
		,t.overdue_deposit_way
		
		,t.repay_is_part
		,t.real_repay_amount
		,t.remind_count
		,t.real_replace_repay_amount
		,t.replace_is_repay
		
		,t.replace_repay_datetime
		,t.replace_back_repay_amount
		,t.replace_back_repay_datetime
		,t.collection_way
		,t.collection_target
		
		,t.collection_process
		,t.collection_wish
		,t.collection_result
		,t.deposit_is_provide
		,t.collection_note
		
		,t.pawnshop_is_redeem
		,t.pawnshop_name
		,t.ransom
		,t.ts_car_amount
		,t.ts_bankcard_number
		
		,t.ts_bank_name
		,t.ts_subbranch
		,t.tc_apply_note
		,t.remit_datetime
		,t.remit_amount
		
		,t.remit_bank_code
		,t.remit_bill_pdf
		,t.take_car_address
		,t.take_datetime
		,t.take_name
		
		,t.take_location
		,t.take_note
		,t.deal_result
		,t.sell_price
		,t.deposit
		
		,t.fee_note
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdh_repay_plan t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_repayPlan_byRoleCode" parameterType="repayPlan" resultMap="repayPlan_DB_Result">
		SELECT
		t.code
		,t.ref_type
		,t.repay_biz_code
		,t.user_id
		,t.periods
		
		,t.cur_periods
		,t.repay_datetime
		,t.repay_capital
		,t.repay_interest
		,t.payed_amount
		
		,t.overplus_amount
		,t.overdue_amount
		,t.cur_node_code
		,t.overdue_handler
		,t.overdue_handle_datetime
		
		,t.overdue_handle_note
		,t.total_fee
		,t.payed_fee
		,t.overdue_deposit
		,t.overdue_deposit_way
		
		,t.repay_is_part
		,t.real_repay_amount
		,t.remind_count
		,t.real_replace_repay_amount
		,t.replace_is_repay
		
		,t.replace_repay_datetime
		,t.replace_back_repay_amount
		,t.replace_back_repay_datetime
		,t.collection_way
		,t.collection_target
		
		,t.collection_process
		,t.collection_wish
		,t.collection_result
		,t.deposit_is_provide
		,t.collection_note
		
		,t.pawnshop_is_redeem
		,t.pawnshop_name
		,t.ransom
		,t.ts_car_amount
		,t.ts_bankcard_number
		
		,t.ts_bank_name
		,t.ts_subbranch
		,t.tc_apply_note
		,t.remit_datetime
		,t.remit_amount
		
		,t.remit_bank_code
		,t.remit_bill_pdf
		,t.take_car_address
		,t.take_datetime
		,t.take_name
		
		,t.take_location
		,t.take_note
		,t.deal_result
		,t.sell_price
		,t.deposit
		,t.fee_note
		FROM
		tdh_repay_plan t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	

	<select id="select_repayPlan_count" parameterType="repayPlan"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_repay_plan t
		<include refid="where_condition" />
	</select>
	
	<select id="select_repayPlan_count_byRoleCode" parameterType="repayPlan"
		resultType="java.lang.Long">
		SELECT count(1) FROM (SELECT distinct code FROM tdh_repay_plan t left join tsys_role_node r on t.cur_node_code = r.node_code
		<include refid="where_condition" />) tb
	</select>

	<insert id="insert_repayPlan" parameterType="repayPlan">
		INSERT INTO
		tdh_repay_plan(
		code
		,ref_type
		,repay_biz_code
		,user_id
		,periods
		,cur_periods
		,repay_datetime
		,repay_capital
		,repay_interest
		,payed_amount
		,overplus_amount
		,overdue_amount
		,cur_node_code
		,overdue_handler
		,overdue_handle_datetime
		,overdue_handle_note
		,total_fee
		,payed_fee
		,overdue_deposit
		,deposit_way
		,should_deposit
		,remind_count
		,is_repay
		)
		VALUES(
		#{code}
		,#{refType}
		,#{repayBizCode}
		,#{userId}
		,#{periods}
		,#{curPeriods}
		,#{repayDatetime}
		,#{repayCapital}
		,#{repayInterest}
		,#{payedAmount}
		,#{overplusAmount}
		,#{overdueAmount}
		,#{curNodeCode}
		,#{overdueHandler}
		,#{overdueHandleDatetime}
		,#{overdueHandleNote}
		,#{totalFee}
		,#{payedFee}
		,#{overdueDeposit}
		,#{depositWay}
		,#{shouldDeposit}
		,#{remindCount}
		,#{isRepay}
		)
	</insert>

	<insert id="insert_repayPlanList" parameterType="List">
		INSERT INTO
		tdh_repay_plan(
		code
		,ref_type
		,repay_biz_code
		,user_id
		,periods
		,cur_periods
		,repay_datetime
		,repay_capital
		,repay_interest
		,payed_amount
		,overplus_amount
		,overdue_amount
		,cur_node_code
		,overdue_handler
		,overdue_handle_datetime
		,overdue_handle_note
		,total_fee
		,payed_fee
		,overdue_deposit
		,deposit_way
		,should_deposit
		,remind_count
		,is_repay
		)
		
		VALUES
		
		<foreach collection="list" item="repayPlan" separator=",">
		(
		#{repayPlan.code}
		,#{repayPlan.refType}
		,#{repayPlan.repayBizCode}
		,#{repayPlan.userId}
		,#{repayPlan.periods}
		,#{repayPlan.curPeriods}
		,#{repayPlan.repayDatetime}
		,#{repayPlan.repayCapital}
		,#{repayPlan.repayInterest}
		,#{repayPlan.payedAmount}
		,#{repayPlan.overplusAmount}
		,#{repayPlan.overdueAmount}
		,#{repayPlan.curNodeCode}
		,#{repayPlan.overdueHandler}
		,#{repayPlan.overdueHandleDatetime}
		,#{repayPlan.overdueHandleNote}
		,#{repayPlan.totalFee}
		,#{repayPlan.payedFee}
		,#{repayPlan.overdueDeposit}
		,#{repayPlan.depositWay}
		,#{repayPlan.shouldDeposit}
		,#{repayPlan.remindCount}
		,#{repayPlan.isRepay}
		)
		</foreach>
	</insert>
	
	<update id="update_paySuccess" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,payed_amount = #{payedAmount}
		,overplus_amount = #{overplusAmount}
		WHERE code = #{code}
	</update>
	
	<update id="update_payPartSuccess" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		payed_amount = #{payedAmount}
		,overplus_amount = #{overplusAmount}
		WHERE code = #{code}
	</update>

	<update id="update_repayplan_node" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>

	<update id="update_overdue" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,overdue_amount = #{overdueAmount}
		WHERE code = #{code}
	</update>
	
	<update id="overdue_handle" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,overdue_deposit = #{overdueDeposit}
		,overdue_amount = #{overdueAmount}
		,deposit_way = #{depositWay}
		,total_fee = #{totalFee}
		,overdue_handle_note = #{overdueHandleNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_applyTrailer" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,ts_car_amount = #{tsCarAmount}
		,ts_bankcard_number = #{tsBankcardNumber}
		,ts_bank_name  = #{tsBankName}
		,ts_subbranch = #{tsSubbranch}
		,tc_apply_note = #{tcApplyNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_financialMoney" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		remit_amount = #{remitAmount}
		,remit_bill_pdf = #{remitBillPdf}
		WHERE code = #{code}
	</update>
	
	<update id="update_trailerEntry" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		take_car_address = #{takeCarAddress}
		,take_datetime = #{takeDatetime}
		,take_location = #{takeLocation}
		,take_name = #{takeName}
		,take_note = #{takeNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_judicialLitigationEntry" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,buy_out_amount = #{buyOutAmount}
		WHERE code = #{code}
	</update>
	
	<update id="update_qkcsbRedeemApply" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		jour_pdf = #{jourPdf}
		,house_pdf = #{housePdf}
		,gua_name = #{guaName}
		,gua_id_no = #{guaIdNo}
		,gua_mobile = #{guaMobile}
		,gua_now_address = #{guaNowAddress}
		,gua_note = #{guaNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_riskManagerCheck" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		suggest = #{suggest}
		,suggest_note = #{suggestNote}
		WHERE code = #{code}
	</update>
	
	<update id="update_financeApprove" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_payFee" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		payed_fee = #{payedFee}
		WHERE code = #{code}
	</update>
	
	<update id="update_repayAmount" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		real_repay_amount = #{realRepayAmount}
		,is_repay = #{isRepay}
		WHERE code = #{code}
	</update>
	
	<update id="update_tc_Apply" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,pawnshop_is_redeem = #{pawnshopIsRedeem}
		,pawnshop_name = #{pawnshopName}
		,ransom = #{ransom}
		,ts_car_amount = #{tsCarAmount}
		,ts_bankcard_number = #{tsBankcardNumber}
		
		,ts_bank_name = #{tsBankName}
		,ts_subbranch = #{tsSubbranch}
		,tc_apply_note = #{tcApplyNote}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_tc_riskManageCheck" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark]
		WHERE code = #{code}
	</update>
	
	<update id="update_tc_companyManageCheck" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark]
		WHERE code = #{code}
	</update>
	
	<update id="update_tc_riskLeaderCheck" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark]
		WHERE code = #{code}
	</update>

	<update id="update_tc_financeCheck" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark]
		WHERE code = #{code}
	</update>

	<update id="update_tc_sureFK" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,remit_datetime = #{remitDatetime}
		,remit_bank_code = #{remitBankCode}
		,remitBillPdf = #{remitBillPdf}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

	<update id="update_tc_FKInput" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,take_car_address = #{takeCarAddress}
		,take_datetime = #{takeDatetime}
		,take_name = #{takeName}
		,take_location = #{takeLocation}
		,take_note = #{takeNote}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
		
	<update id="update_tc_toHandle" parameterType="repayPlan">
		UPDATE tdh_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,deal_result = #{dealResult}
		,sell_price = #{sellPrice}
		,deposit = #{deposit}
		,fee_note = #{feeNote}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
</mapper>
