<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IReplaceRepayPlanDAO">
	<resultMap id="replaceRepayPlan_DB_Result" type="replaceRepayPlan">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="is_plat_issue" property="isPlatIssue" />
		<result column="take_way" property="takeWay" />
		<result column="defer_days" property="deferDays" />
		
		<result column="apply_reason" property="applyReason" />
		<result column="apply_reason_note" property="applyReasonNote" />
		<result column="risk_note" property="riskNote" />
		<result column="repay_rate" property="repayRate" />
		<result column="repay_date" property="repayDate" />
		
		<result column="repay_bankcard" property="repayBankcard" />
		<result column="repay_bank" property="repayBank" />
		<result column="repay_user" property="repayUser" />
		<result column="repay_bill" property="repayBill" />
		<result column="repay_note" property="repayNote" />
		
		<result column="biz_code" property="bizCode" />
		<result column="replace_apply_code" property="replaceApplyCode" />
		<result column="customer_user_id" property="customerUserId" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="updater" property="updater" />
		
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="customerUserId != null and customerUserId != '' ">
				AND t.customer_user_id = #{customerUserId}
			</if>
		</trim>
	</sql>
	<select id="select_replaceRepayPlan" parameterType="replaceRepayPlan" resultMap="replaceRepayPlan_DB_Result">
		SELECT
		t.code
		,t.type
		,t.is_plat_issue
		,t.take_way
		,t.defer_days
		,t.apply_reason
		,t.apply_reason_note
		,t.risk_note
		,t.repay_rate
		,t.repay_date
		,t.repay_bankcard
		,t.repay_bank
		,t.repay_user
		,t.repay_bill
		,t.repay_note
		,t.biz_code
		,t.replace_apply_code
		,t.customer_user_id
		,t.cur_node_code
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdh_replace_repay_plan t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_replaceRepayPlan_count" parameterType="replaceRepayPlan"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_replace_repay_plan t
		<include refid="where_condition" />
	</select>

	<insert id="insert_replaceRepayPlan" parameterType="replaceRepayPlan">
		INSERT INTO
		tdh_replace_repay_plan(
		code
		,type
		,is_plat_issue
		,take_way
		,defer_days
		,apply_reason
		,apply_reason_note
		,risk_note
		,repay_rate
		,repay_date
		,repay_bankcard
		,repay_bank
		,repay_user
		,repay_bill
		,repay_note
		,biz_code
		,replace_apply_code
		,customer_user_id
		,cur_node_code
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{isPlatIssue}
		,#{takeWay}
		,#{deferDays}
		,#{applyReason}
		,#{applyReasonNote}
		,#{riskNote}
		,#{repayRate}
		,#{repayDate}
		,#{repayBankcard}
		,#{repayBank}
		,#{repayUser}
		,#{repayBill}
		,#{repayNote}
		,#{bizCode}
		,#{replaceApplyCode}
		,#{customerUserId}
		,#{curNodeCode}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_riskManageApprove" parameterType="replaceRepayPlan">
		UPDATE tdh_replace_repay_plan
		SET
		risk_note = #{riskNote}
		,cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_subcompApprove" parameterType="replaceRepayPlan">
		UPDATE tdh_replace_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_riskChiefApprove" parameterType="replaceRepayPlan">
		UPDATE tdh_replace_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_financeApprove" parameterType="replaceRepayPlan">
		UPDATE tdh_replace_repay_plan
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_confirmLoan" parameterType="replaceRepayPlan">
		UPDATE tdh_replace_repay_plan
		SET
		repay_rate = #{repayRate}
		,repay_date = #{repayDate}
		,repay_bankcard = #{repayBankcard}
		,repay_bank = #{repayBank}
		,repay_user = #{repayUser}
		,repay_bill = #{repayBill}
		,repay_note = #{repayNote}
		,cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

</mapper>