<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IReplaceRepayApplyDAO">
	<resultMap id="replaceRepayApply_DB_Result" type="replaceRepayApply">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="amount" property="amount" />
		<result column="biz_code" property="bizCode" />
		<result column="receipt_bank" property="receiptBank" />
		
		<result column="receipt_real_name" property="receiptRealName" />
		<result column="receipt_account" property="receiptAccount" />
		<result column="is_urgent" property="isUrgent" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		
		<result column="apply_note" property="applyNote" />
		<result column="cur_node_code" property="curNodeCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="receiptRealName != null and receiptRealName != '' ">
				AND t.receipt_real_name = #{receiptRealName}
			</if>
			<if test="startDatetime != null and startDatetime != '' ">
				AND t.apply_datetime &gt;= #{startDatetime}
			</if>
			<if test="endDatetime != null and endDatetime != '' ">
				AND t.apply_datetime &lt;= #{endDatetime}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
		</trim>
	</sql>
	<select id="select_replaceRepayApply" parameterType="replaceRepayApply" resultMap="replaceRepayApply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.amount
		,t.biz_code
		,t.receipt_bank
		,t.receipt_real_name
		,t.receipt_account
		,t.is_urgent
		,t.apply_user
		,t.apply_datetime
		,t.apply_note
		,t.cur_node_code
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tdh_replace_repay_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_replaceRepayApply_count" parameterType="replaceRepayApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdh_replace_repay_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_replaceRepayApply" parameterType="replaceRepayApply">
		INSERT INTO
		tdh_replace_repay_apply(
		code
		,type
		,amount
		,biz_code
		,receipt_bank
		,receipt_real_name
		,receipt_account
		,is_urgent
		,apply_user
		,apply_datetime
		,apply_note
		,cur_node_code
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{amount}
		,#{bizCode}
		,#{receiptBank}
		,#{receiptRealName}
		,#{receiptAccount}
		,#{isUrgent}
		,#{applyUser}
		,#{applyDatetime}
		,#{applyNote}
		,#{curNodeCode}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_financeManageApprove" parameterType="replaceRepayApply">
		UPDATE tdh_replace_repay_apply
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_makeDocument" parameterType="replaceRepayApply">
		UPDATE tdh_replace_repay_apply
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
	
	<update id="update_replaceRepayStatus" parameterType="replaceRepayApply">
		UPDATE tdh_replace_repay_apply
		SET
		cur_node_code = #{curNodeCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>

</mapper>