<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepointDetailDAO">
	<resultMap id="repointDetail_DB_Result" type="repointDetail">
		<result column="code" property="code" />
		<result column="type" property="type" />
	    <result column="repoint_code" property="repointCode" />
	    <result column="company_code" property="companyCode" />
	    <result column="company_name" property="companyName" />
		<result column="budget_code" property="budgetCode" />

		<result column="user_name" property="userName" />
		<result column="id_no" property="idNo" />
		<result column="car_dealer_code" property="carDealerCode" />
		<result column="car_dealer_name" property="carDealerName" />
		<result column="car_type" property="carType" />
		
		<result column="loan_amount" property="loanAmount" />
		<result column="bank_rate" property="bankRate" />
		<result column="benchmark_rate" property="benchmarkRate" />
		<result column="fee" property="fee" />
		<result column="use_money_purpose" property="useMoneyPurpose" />
		
		<result column="repoint_amount" property="repointAmount" />
		<result column="account_code" property="accountCode" />
		<result column="account_no" property="accountNo" />
		<result column="open_bank_name" property="openBankName" />
		<result column="account_name" property="accountName" />
		<result column="cur_node_code" property="curNodeCode" />

	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="budgetCode != null and budgetCode != '' ">
				AND t.budget_code = #{budgetCode}
			</if>
			<if test="carDealerCode != null and carDealerCode != '' ">
				AND t.car_dealer_code = #{carDealerCode}
			</if>
			<if test="useMoneyPurpose != null and useMoneyPurpose != '' ">
				AND t.use_money_purpose = #{useMoneyPurpose}
			</if>
			<if test="repointCode != null and repointCode != '' ">
				AND t.repoint_code = #{repointCode}
			</if>			
			<if test="accountCode != null and accountCode != '' ">
				AND t.account_code = #{accountCode}
			</if>
			<if test="accountNo != null and accountNo != '' ">
				AND t.account_no = #{accountNo}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="settleWay != null and settleWay != '' ">
				AND tcd.settle_way = #{settleWay}
			</if>
		</trim>
	</sql>
	<select id="select_repointDetail" parameterType="repointDetail" resultMap="repointDetail_DB_Result">
		SELECT
		t.code
		,t.type
		,t.budget_code
		,t.repoint_code
		,t.company_code
		,t.company_name
		
		,t.user_name
		,t.id_no
		,t.car_dealer_code
		,t.car_dealer_name
		,t.car_type
		
		,t.loan_amount
		,t.bank_rate
		,t.benchmark_rate
		,t.fee
		,t.use_money_purpose
		
		,t.repoint_amount
		,t.account_code
		,t.account_no
		,t.open_bank_name
		,t.account_name
		,t.cur_node_code
		FROM
		tdqt_repoint_detail t inner join tb_car_dealer tcd on t.car_dealer_code=tcd.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	
	<select id="select_repointDetail_byCarDealer" parameterType="repointDetail" resultMap="repointDetail_DB_Result">
		SELECT
		t.account_no
		,t.account_name
		FROM
		tdqt_repoint_detail t group by t.account_no
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="accountNo != null and accountNo != '' ">
				t.${accountNo}
			</if>
		</trim>
	</select>

	<select id="select_repointDetail_count" parameterType="repointDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdqt_repoint_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_repointDetail" parameterType="repointDetail">
		INSERT INTO
		tdqt_repoint_detail(
		code
		,type
		,budget_code
		,repoint_code
		,company_code
		,company_name
		
		,user_name
		,id_no
		,car_dealer_code
		,car_dealer_name
		,car_type
		
		,loan_amount
		,bank_rate
		,benchmark_rate
		,fee
		,use_money_purpose
		
		,repoint_amount
		,account_code
		,account_no
		,open_bank_name
		,account_name
		,cur_node_code
		)
		VALUES(
		#{code}
		,#{type}
		,#{budgetCode}
		,#{repointCode}
		,#{companyCode}
		,#{companyName}
		
		,#{userName}
		,#{idNo}
		,#{carDealerCode}
		,#{carDealerName}
		,#{carType}
		
		,#{loanAmount}
		,#{bankRate}
		,#{benchmarkRate}
		,#{fee}
		,#{useMoneyPurpose}
		
		,#{repointAmount}
		,#{accountCode}
		,#{accountNo}
		,#{openBankName}
		,#{accountName}
		,#{curNodeCode}
		)
	</insert>

	<update id="update_repointDetail" parameterType="repointDetail">
		UPDATE tdqt_repoint_detail
		SET
		budget_code = #{budgetCode}
		,repoint_code = #{repointCode}
		,user_name = #{userName}
		,id_no = #{idNo}
		,car_dealer_code = #{carDealerCode}
		,car_dealer_name = #{carDealerName}
		,company_code = #{companyCode}
		,company_name = #{companyName}
		,car_type = #{carType}
		,loan_amount = #{loanAmount}
		,bank_rate = #{bankRate}
		,benchmark_rate = #{benchmarkRate}
		,fee = #{fee}
		,use_money_purpose = #{useMoneyPurpose}
		,repoint_amount = #{repointAmount}
		,account_code = #{accountCode}
		,account_no = #{accountNo}
		,open_bank_name = #{openBankName}
		,account_name = #{accountName}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_cur_node_code" parameterType="repointDetail">
		UPDATE tdqt_repoint_detail
		SET
		cur_node_code = #{curNodeCode}
		,repoint_code = #{repointCode}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_repointDetail" parameterType="repointDetail">
		DELETE FROM 
		tdqt_repoint_detail  
		WHERE budget_code = #{budgetCode} AND code != '';
	</delete>
	
	<delete id="delete_preRepointDetail" parameterType="repointDetail">
		DELETE FROM 
		tdqt_repoint_detail  
		WHERE budget_code = #{budgetCode} AND type = #{type} AND code != '';
	</delete>
	
	<update id="update_repointDetailType">
		UPDATE tdqt_repoint_detail
		SET
		type = #{type}
		WHERE code = #{code}
	</update>


</mapper>