<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepointDAO">
	<resultMap id="repoint_DB_Result" type="repoint">
		<result column="code" property="code" />
		<result column="team_code" property="teamCode" />
		<result column="biz_code" property="bizCode" />
		<result column="should_amount" property="shouldAmount" />
		<result column="actual_amount" property="actualAmount" />
		
		<result column="account_no" property="accountNo" />
		<result column="bank" property="bank" />
		<result column="subbranch" property="subbranch" />
		<result column="water_bill" property="waterBill" />
		<result column="status" property="status" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="teamCode != null and teamCode != '' ">
				AND t.team_code = #{teamCode}
			</if>
			<if test="bizCode != null and bizCode != '' ">
				AND t.biz_code = #{bizCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_repoint" parameterType="repoint" resultMap="repoint_DB_Result">
		SELECT
		t.code
		,t.team_code
		,t.biz_code
		,t.should_amount
		,t.actual_amount
		,t.account_no
		
		,t.bank
		,t.subbranch
		,t.water_bill
		,t.status
		,t.updater
		
		,t.update_datetime
		,t.remark
		FROM
		tht_repoint t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_repoint_count" parameterType="repoint"
		resultType="java.lang.Long">
		SELECT count(1) FROM tht_repoint t
		<include refid="where_condition" />
	</select>

	<insert id="insert_repoint" parameterType="repoint">
		INSERT INTO
		tht_repoint(
		code
		,team_code
		,biz_code
		,should_amount
		,actual_amount
		
		,account_no
		,bank
		,subbranch
		,water_bill
		,status
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{teamCode}
		,#{bizCode}
		,#{shouldAmount}
		,#{actualAmount}
		
		,#{accountNo}
		,#{bank}
		,#{subbranch}
		,#{waterBill}
		,#{status}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_repoint" parameterType="repoint">
		UPDATE tht_repoint
		SET
		team_code = #{teamCode}
		,biz_code = #{bizCode}
		,should_amount = #{shouldAmount}
		,actual_amount = #{actualAmount}
		,account_no = #{accountNo}
		
		,bank = #{bank}
		,subbranch = #{subbranch}
		,water_bill = #{waterBill}
		,status = #{status}
		,updater = #{updater}
		
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>