<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepointDAO">
	<resultMap id="repoint_DB_Result" type="repoint">
		<result column="code" property="code" />
		<result column="car_dealer_code" property="carDealerCode" />
		<result column="bankcard_code" property="bankcardCode" />
		<result column="total_amount" property="totalAmount" />
		<result column="reason" property="reason" />
		<result column="company_code" property="companyCode" />
		<result column="apply_user_id" property="applyUserId" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="pay_bankcard_code" property="payBankcardCode" />
		<result column="bill_pdf" property="billPdf" />
		<result column="pay_remark" property="payRemark" />
		<result column="settle_type" property="settleType" />
		<result column="cur_node_code" property="curNodeCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				AND t.apply_datetime &gt;= #{applyDatetimeStart}
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				AND t.apply_datetime &lt;= #{applyDatetimeEnd}
			</if>
			<if test="applyUserId != null and applyUserId != '' ">
				AND t.apply_user_id = #{applyUserId}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="curNodeCode != null and curNodeCode != '' ">
				AND t.cur_node_code = #{curNodeCode}
			</if>
		</trim>
	</sql>
	<select id="select_repoint" parameterType="repoint" resultMap="repoint_DB_Result">
		SELECT
		t.code
		,t.car_dealer_code
		,t.bankcard_code
		,t.total_amount
		,t.reason
		,t.company_code
		,t.apply_user_id
		,t.apply_datetime
		,t.pay_datetime
		,t.pay_bankcard_code
		,t.bill_pdf
		,t.pay_remark
		,t.settle_type
		,t.cur_node_code
		FROM
		tdqt_repoint t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_repoint_count" parameterType="repoint"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdqt_repoint t
		<include refid="where_condition" />
	</select>

	<insert id="insert_repoint" parameterType="repoint">
		INSERT INTO
		tdqt_repoint(
		code
		,car_dealer_code
		,bankcard_code
		,total_amount
		,reason
		,company_code
		,apply_user_id
		,apply_datetime
		,pay_datetime
		,pay_bankcard_code
		,bill_pdf
		,pay_remark
		,settle_type
		,cur_node_code
		)
		VALUES(
		#{code}
		,#{carDealerCode}
		,#{bankcardCode}
		,#{totalAmount}
		,#{reason}
		,#{companyCode}
		,#{applyUserId}
		,#{applyDatetime}
		,#{payDatetime}
		,#{payBankcardCode}
		,#{billPdf}
		,#{payRemark}
		,#{settleType}
		,#{curNodeCode}
		)
	</insert>

	<update id="update_repoint" parameterType="repoint">
		UPDATE tdqt_repoint
		SET
		car_dealer_code = #{carDealerCode}
		,bankcard_code = #{bankcardCode}
		,total_amount = #{totalAmount}
		,reason = #{reason}
		,company_code = #{companyCode}
		,apply_user_id = #{applyUserId}
		,apply_datetime = #{applyDatetime}
		,pay_datetime = #{payDatetime}
		,pay_bankcard_code = #{payBankcardCode}
		,bill_pdf = #{billPdf}
		,pay_remark = #{payRemark}
		,settle_type = #{settleType}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="confirm_loan" parameterType="repoint">
		UPDATE tdqt_repoint
		SET
		pay_datetime = #{payDatetime}
		,pay_bankcard_code = #{payBankcardCode}
		,bill_pdf = #{billPdf}
		,pay_remark = #{payRemark}
		,cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_branch_company_manager_approve" parameterType="repoint">
		UPDATE tdqt_repoint
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>
	
	<update id="update_finance_confirm" parameterType="repoint">
		UPDATE tdqt_repoint
		SET
		cur_node_code = #{curNodeCode}
		WHERE code = #{code}
	</update>

</mapper>