<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISaleUserDAO">
	<resultMap id="saleUser_DB_Result" type="saleUser">
		<result column="user_id" property="userId" />
		<result column="type" property="type" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		<result column="photo" property="photo" />
		<result column="login_pwd" property="loginPwd" />
		<result column="login_pwd_strength" property="loginPwdStrength" />
		<result column="real_name" property="realName" />
		<result column="status" property="status" />
		<result column="role_code" property="roleCode" />
		<result column="department_code" property="departmentCode" />
		<result column="create_datetime" property="createDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			
			<if test="keyword != null and keyword != '' ">
				AND t.login_name like "%"#{keyword}"%" OR  t.mobile like "%"#{keyword}"%"
				OR t.real_name like "%"#{realName}"%"
			</if>
			
			
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND t.role_code = #{roleCode}
			</if>
			<if test="departmentCode != null and departmentCode != '' ">
				AND t.department_code = #{departmentCode}
			</if>
			<if test="createDatetime != null and createDatetime != '' ">
				AND t.create_datetime = #{createDatetime}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
		</trim>
	</sql>
	
	<select id="select_saleUser" parameterType="saleUser" resultMap="saleUser_DB_Result">
		SELECT
		user_id
		,type
		,login_name
		,mobile
		,photo
		,login_pwd_strength
		,real_name
		,status
		,role_code
		,department_code
		,create_datetime
		,updater
		,update_datetime
		,remark
		FROM
		tb_sale_user t
		<include refid="where_condition" />
		<!-- order by t.create_datetime desc -->
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_saleUser_count" parameterType="saleUser" resultType="java.lang.Long">
		SELECT count(1) FROM tb_sale_user t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_saleUser" parameterType="saleUser">
		INSERT INTO tb_sale_user(
		user_id
		,type
		,login_name
		,mobile
		,photo
		,login_pwd
		,login_pwd_strength
		,real_name
		,status
		,role_code
		,department_code
		,create_datetime
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{userId}
		,#{type}
		,#{loginName}
		,#{mobile}
		,#{photo}
		,#{loginPwd}
		,#{loginPwdStrength}
		,#{realName}
		,#{status}
		,#{roleCode}
		,#{departmentCode}
		,#{createDatetime}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_login_pwd" parameterType="saleUser">
		UPDATE tb_sale_user
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	
	<update id="update_mobile" parameterType="saleUser">
		UPDATE tb_sale_user
		SET
		login_name = #{mobile}
		,mobile = #{mobile}
		WHERE
		user_id = #{userId}
	</update>
	
	
	<update id="update_photo" parameterType="saleUser">
		UPDATE tb_sale_user
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_status" parameterType="saleUser">
		UPDATE tb_sale_user
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_role" parameterType="saleUser">
		UPDATE tb_sale_user
		SET
		role_code = #{roleCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>	
	
	<update id="update_department" parameterType="saleUser">
		UPDATE tb_sale_user
		SET
		department_code = #{departmentCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>	
</mapper>