<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IScopePeopleDAO">
	<resultMap id="scopePeople_DB_Result" type="scopePeople">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="people_code" property="peopleCode" />
		<result column="ref_code" property="refCode" />
	</resultMap>

	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="refCode != null and refCode != '' ">
				AND t.ref_code = #{refCode}
			</if>
		</trim>
	</sql>

	<select id="select_scopePeople" parameterType="scopePeople"
		resultMap="scopePeople_DB_Result">
		SELECT
		t.id
		,t.type
		,t.people_code
		,t.ref_code
		FROM
		tp_scope_people t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_scopePeople_count"
		parameterType="scopePeople" resultType="java.lang.Long">
		SELECT count(1) FROM tp_scope_people t
		<include refid="where_condition" />
	</select>

	<insert id="insert_scopePeople" parameterType="scopePeople">
		INSERT INTO
		tp_scope_people(
		id
		,type
		,people_code
		,ref_code
		)
		VALUES(
		#{id}
		,#{type}
		,#{peopleCode}
		,#{refCode}
		)
	</insert>

	<insert id="insert_scopePeopleList" parameterType="List">
		INSERT INTO
		tp_scope_people(
		type
		,people_code
		,ref_code
		)
		VALUES
		<foreach collection="list" item="scopePeople" separator=",">
			(
			#{scopePeople.type}
			,#{scopePeople.peopleCode}
			,#{scopePeople.refCode}
			)
		</foreach>
	</insert>
	
</mapper>