<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISocialRelationDAO">
	<resultMap id="SocialRelation_DB_Result" type="socialRelation">
		<result column="code" property="code" />
		<result column="archive_code" property="archiveCode" />
		<result column="real_name" property="realName" />
		<result column="relation" property="relation" />
		<result column="company_name" property="companyName" />
		<result column="post" property="post" />
		<result column="contact" property="contact" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_socialRelation" parameterType="socialRelation" resultMap="SocialRelation_DB_Result">
		SELECT
		t.code
		,t.archive_code
		,t.real_name
		,t.relation
		,t.company_name
		,t.post
		,t.contact
		FROM
		tp_social_relation t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_socialRelation_count" parameterType="socialRelation"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_social_relation t
		<include refid="where_condition" />
	</select>

	<insert id="insert_socialRelation" parameterType="socialRelation">
		INSERT INTO
		tp_social_relation(
		code
		,archive_code
		,real_name
		,relation
		,company_name
		,post
		,contact
		)
		VALUES(
		#{code}
		,#{archiveCode}
		,#{realName}
		,#{relation}
		,#{companyName}
		,#{post}
		,#{contact}
		)
	</insert>

	<update id="update_socialRelation" parameterType="socialRelation">
		UPDATE tp_social_relation
		SET
		archive_code = #{archiveCode}
		,real_name = #{realName}
		,relation = #{relation}
		,company_name = #{companyName}
		,post = #{post}
		,contact = #{contact}
		WHERE code = #{code}
	</update>
	
	<update id="delete_socialRelation" parameterType="socialRelation">
		UPDATE tp_social_relation
		SET
		is_delete = '0' 
		WHERE archive_code = #{archiveCode}
	</update>
	


</mapper>