<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IStorageOutDAO">
	<resultMap id="StorageOut_DB_Result" type="storageOut">
		<result column="code" property="code" />
		<result column="category_code" property="categoryCode" />
		<result column="product_code" property="productCode" />
		<result column="quantity" property="quantity" />
		<result column="price" property="price" />
		
		<result column="total_price" property="totalPrice" />
		<result column="storage_in_code" property="storageInCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="categoryCode != null and categoryCode != '' ">
				AND t.category_code = #{categoryCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_StorageOut" parameterType="storageOut" resultMap="StorageOut_DB_Result">
		SELECT
		t.code
		,t.category_code
		,t.product_code
		,t.quantity
		,t.price
		
		,t.total_price
		,t.storage_in_code
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_storage_out t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_StorageOut_count" parameterType="storageOut"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_storage_out t
		<include refid="where_condition" />
	</select>

	<insert id="insert_StorageOut" parameterType="storageOut">
		INSERT INTO
		tp_storage_out(
		code
		,category_code
		,product_code
		,quantity
		,price
		
		,total_price
		,storage_in_code
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{categoryCode}
		,#{productCode}
		,#{quantity}
		,#{price}
		
		,#{totalPrice}
		,#{storageInCode}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
</mapper>