<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IStorageInDAO">
	<resultMap id="StorageIn_DB_Result" type="storageIn">
		<result column="code" property="code" />
		<result column="category_code" property="categoryCode" />
		<result column="product_code" property="productCode" />
		<result column="quantity" property="quantity" />
		<result column="price" property="price" />
		
		<result column="total_price" property="totalPrice" />
		<result column="valid_date_start" property="validDateStart" />
		<result column="valid_date_end" property="validDateEnd" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="categoryCode != null and categoryCode != '' ">
				AND t.category_code = #{categoryCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_StorageIn" parameterType="storageIn" resultMap="StorageIn_DB_Result">
		SELECT
		t.code
		,t.category_code
		,t.product_code
		,t.quantity
		,t.price
		
		,t.total_price
		,t.valid_date_start
		,t.valid_date_end
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_storage_in t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_StorageIn_count" parameterType="storageIn"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_storage_in t
		<include refid="where_condition" />
	</select>

	<insert id="insert_StorageIn" parameterType="storageIn">
		INSERT INTO
		tp_storage_in(
		code
		,category_code
		,product_code
		,quantity
		,price
		
		,total_price
		,valid_date_start
		,valid_date_end
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{categoryCode}
		,#{productCode}
		,#{quantity}
		,#{price}
		
		,#{totalPrice}
		,#{validDateStart}
		,#{validDateEnd}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_StorageIn" parameterType="StorageIn">
		UPDATE tp_storage_in
		SET
		quantity = #{quantity}
		,total_price = #{totalPrice}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>
</mapper>