<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISuppleSignApplyDAO">
	<resultMap id="suppleSignApply_DB_Result" type="suppleSignApply">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="reason" property="reason" />
		<result column="status" property="status" />
		
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_suppleSignApply" parameterType="suppleSignApply" resultMap="suppleSignApply_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.apply_datetime
		,t.reason
		,t.status
		
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_supple_sign_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_suppleSignApply_count" parameterType="suppleSignApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_supple_sign_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_suppleSignApply" parameterType="suppleSignApply">
		INSERT INTO
		tp_supple_sign_apply(
		code
		,apply_user
		,apply_datetime
		,reason
		,status
		
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{applyDatetime}
		,#{reason}
		,#{status}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_suppleSignApply" parameterType="suppleSignApply">
		UPDATE tp_supple_sign_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>