<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISupplementReasonDAO">
	<resultMap id="supplementReason_DB_Result" type="supplementReason">
		<result column="id" property="id" />
		<result column="logistics_code" property="logisticsCode" />
		<result column="type" property="type" />
		<result column="reason" property="reason" />
		<result column="from_node_code" property="fromNodeCode" />
		<result column="to_node_code" property="toNodeCode" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="is_part_supt" property="isPartSupt" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="logisticsCode != null and logisticsCode != '' ">
				AND t.logistics_code = #{logisticsCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="fromNodeCode != null and fromNodeCode != '' ">
				AND t.from_node_code = #{fromNodeCode}
			</if>
			<if test="toNodeCode != null and toNodeCode != '' ">
				AND t.to_node_code = #{toNodeCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="isPartSupt != null and isPartSupt != '' ">
				AND t.is_part_supt = #{isPartSupt}
			</if>
		</trim>
	</sql>
	<select id="select_supplementReason" parameterType="supplementReason" resultMap="supplementReason_DB_Result">
		SELECT
		t.id
		,t.logistics_code
		,t.type
		,t.reason
		,t.from_node_code
		,t.to_node_code
		,t.status
		,t.create_datetime
		,t.is_part_supt
		FROM
		tdp_supplement_reason t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_supplementReason_count" parameterType="supplementReason"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdp_supplement_reason t
		<include refid="where_condition" />
	</select>

	<insert id="insert_supplementReason" parameterType="supplementReason">
		INSERT INTO
		tdp_supplement_reason(
		id
		,logistics_code
		,type
		,reason
		,from_node_code
		,to_node_code
		,status
		,create_datetime
		,is_part_supt
		)
		VALUES(
		#{id}
		,#{logisticsCode}
		,#{type}
		,#{reason}
		,#{fromNodeCode}
		,#{toNodeCode}
		,#{status}
		,#{createDatetime}
		,#{isPartSupt}
		)
	</insert>

	<update id="update_supplementReason" parameterType="supplementReason">
		UPDATE tdp_supplement_reason
		SET
		is_part_supt = #{isPartSupt}
		WHERE
		id = #{id}	
	</update>
	
	<update id="update_logisticsCode" parameterType="supplementReason">
		UPDATE tdp_supplement_reason
		SET
		logistics_code = #{logisticsCode}
		WHERE
		id = #{id}	
	</update>
	
	<update id="update_reasonStatus" parameterType="supplementReason">
		UPDATE tdp_supplement_reason
		SET
		status = #{status}
		WHERE
		id = #{id}	
	</update>

</mapper>