<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISuppleSignApplyDetailDAO">
	<resultMap id="suppleSignApplyDetail_DB_Result" type="suppleSignApplyDetail">
		<result column="id" property="id" />
		<result column="supply_sign_apply_code" property="supplySignApplyCode" />
		<result column="supple_datetime" property="suppleDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="supplySignApplyCode != null and supplySignApplyCode != '' ">
				AND t.supply_sign_apply_code = #{supplySignApplyCode}
			</if>
		</trim>
	</sql>
	<select id="select_suppleSignApplyDetail" parameterType="suppleSignApplyDetail" resultMap="suppleSignApplyDetail_DB_Result">
		SELECT
		t.id
		,t.supply_sign_apply_code
		,t.supple_datetime
		,t.remark
		FROM
		tp_supple_sign_apply_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_suppleSignApplyDetail_count" parameterType="suppleSignApplyDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_supple_sign_apply_detail t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_suppleSignApplyDetail" parameterType="suppleSignApplyDetail">
		INSERT INTO
		tp_supple_sign_apply_detail(
		id
		,supply_sign_apply_code
		,supple_datetime
		,remark
		)
		VALUES(
		#{id}
		,#{supplySignApplyCode}
		,#{suppleDatetime}
		,#{remark}
		)
	</insert>
</mapper>