<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISYSBizLogDAO">
	<resultMap id="sysBizLog_DB_Result" type="sysBizLog">
		<result column="id" property="id" />
		<result column="parent_order" property="parentOrder" />
		<result column="ref_type" property="refType" />
		<result column="ref_order" property="refOrder" />
		<result column="deal_node" property="dealNode" />
		<result column="deal_note" property="dealNote" />
		<result column="status" property="status" />
		<result column="operate_role" property="operateRole" />
		<result column="operator" property="operator" />
		<result column="operator_name" property="operatorName" />
		<result column="operator_mobile" property="operatorMobile" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="speed_time" property="speedTime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="parentOrder != null and parentOrder != '' ">
				AND t.parent_order = #{parentOrder}
			</if>
			<if test="refType != null and refType != '' ">
				AND t.ref_type = #{refType}
			</if>
			<if test="refOrder != null and refOrder != '' ">
				AND t.ref_order = #{refOrder}
			</if>
			<if test="dealNode != null and dealNode != '' ">
				AND t.deal_node = #{dealNode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="operateRole != null and operateRole != '' ">
				AND t.operate_role = #{operateRole}
			</if>
			<if test="operator != null and operator != '' ">
				AND t.operator = #{operator}
			</if>
			<if test="operatorName != null and operatorName != '' ">
				AND t.operator_name = #{operatorName}
			</if>
			<if test="operatorNameForQuery != null and operatorNameForQuery != '' ">
				AND t.operator_name like "%"#{operatorNameForQuery}"%"
			</if>
			<if test="operatorMobile != null and operatorMobile != '' ">
				AND t.operator_mobile = #{operatorMobile}
			</if>
			<if test="operatorMobileForQuery != null and operatorMobileForQuery != '' ">
				AND t.operator_mobile like "%"#{operatorMobileForQuery}"%"
			</if>
			<if test="startDatetimeStart != null and startDatetimeStart != '' ">
				<![CDATA[AND t.start_datetime >= #{startDatetimeStart}]]>
			</if>
			<if test="endDatetimeEnd != null and endDatetimeEnd != '' ">
				<![CDATA[AND t.end_datetime <= #{endDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_sysBizLog" parameterType="sysBizLog" resultMap="sysBizLog_DB_Result">
		SELECT
		t.id
		,t.parent_order
		,t.ref_type
		,t.ref_order
		,t.deal_node
		,t.deal_note
		,t.status
		,t.operate_role
		,t.operator
		,t.operator_name
		,t.operator_mobile
		,t.start_datetime
		,t.end_datetime
		,t.speed_time
		FROM
		tsys_biz_log t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>
	

	<select id="select_sysBizLog_count" parameterType="sysBizLog"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_biz_log t
		<include refid="where_condition" />
	</select>
	
	<select id="select_sysBizLog_latest" parameterType="sysBizLog" resultMap="sysBizLog_DB_Result">
		SELECT
		t.id
		,t.parent_order
		,t.ref_type
		,t.ref_order
		,t.deal_node
		,t.deal_note
		,t.status
		,t.operate_role
		,t.operator
		,t.operator_name
		,t.operator_mobile
		,t.start_datetime
		,t.end_datetime
		,t.speed_time
		FROM
		tsys_biz_log t where t.id in (select max(id) FROM tsys_biz_log t
		<include refid="where_condition" />)
	</select>

	<insert id="insert_sysBizLog" parameterType="sysBizLog" useGeneratedKeys="true">
		INSERT INTO
		tsys_biz_log(
		id
		,parent_order
		,ref_type
		,ref_order
		,deal_node
		,deal_note
		,status
		,operate_role
		,operator
		,operator_name
		,operator_mobile
		,start_datetime
		,end_datetime
		,speed_time
		)
		VALUES(
		#{id}
		,#{parentOrder}
		,#{refType}
		,#{refOrder}
		,#{dealNode}
		,#{dealNote}
		,#{status}
		,#{operateRole}
		,#{operator}
		,#{operatorName}
		,#{operatorMobile}
		,#{startDatetime}
		,#{endDatetime}
		,#{speedTime}
		)
	</insert>

	<update id="update_sysBizLog" parameterType="sysBizLog">
		UPDATE tsys_biz_log
		SET
		parent_order = #{parentOrder}
		,ref_type = #{refType}
		,ref_order = #{refOrder}
		,deal_node = #{dealNode}
		,deal_note = #{dealNote}
		,status = #{status}
		,operate_role = #{operateRole}
		,operator = #{operator}
		,operator_name = #{operatorName}
		,operator_mobile = #{operatorMobile}
		,start_datetime = #{startDatetime}
		,end_datetime = #{endDatetime}
		,speed_time = #{speedTime}
		WHERE id = #{id}
	</update>
	
	<update id="update_datetime" parameterType="sysBizLog">
		UPDATE tsys_biz_log
		SET
		end_datetime = #{endDatetime}
		,speed_time = #{speedTime}
		WHERE id = #{id}
	</update>
</mapper>