<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ISYSUserDAO">
	<resultMap id="sysUser_DB_Result" type="sysUser">
		<result column="user_id" property="userId" />
		<result column="type" property="type" />
		<result column="photo" property="photo" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		
		<result column="real_name" property="realName" />
		<result column="login_pwd" property="loginPwd" />
		<result column="login_pwd_strength" property="loginPwdStrength" />
		<result column="create_datetime" property="createDatetime" />
		<result column="company_code" property="companyCode" />
		
		<result column="department_code" property="departmentCode" />
		<result column="post_code" property="postCode" />
		<result column="role_code" property="roleCode" />
		<result column="updater" property="updater" />
		<result column="updateDatetime" property="update_datetime" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="loginName != null and loginName != '' ">
				AND t.login_name = #{loginName}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.realName = #{realName}
			</if>
			
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="departmentCode != null and departmentCode != '' ">
				AND t.department_code = #{departmentCode}
			</if>
			<if test="postCode != null and postCode != '' ">
				AND t.post_code = #{postCode}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND t.role_code = #{roleCode}
			</if>
			
			<if test="keyword != null and keyword != '' ">
				AND t.login_name like "%"#{keyword}"%" OR  t.mobile like "%"#{keyword}"%"
			</if>
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime > #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime < #{createDatetimeEnd}]]>
			</if>
			<if test="teamCode != null and teamCode != '' ">
				AND t.team_code = #{teamCode}
			</if>
			<if test="teamName != null and teamName != '' and  teamName='业务团队成员查询'">
				AND t.team_code is not null
			</if>
		</trim>
	</sql>
	
	<select id="select_sysUser" parameterType="sysUser" resultMap="sysUser_DB_Result">
		SELECT
		t.user_id
		,t.type
		,t.photo
		,t.login_name
		,t.mobile
		,t.real_name
		,t.create_datetme
		,t.company_code
		,t.department_code
		,t.post_code
		,t.role_code
		,t.company_code
		,t.department_code
		,t.updater
		,t.update_datetime
		,t.status
		,t.remark
		FROM
		tsys_user t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_sysUser_count" parameterType="sysUser"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_user t
		<include refid="where_condition" />
	</select>

	<insert id="insert_sysUser" parameterType="sysUser">
		INSERT INTO
		tsys_user(
		user_id
		,type
		,photo
		,login_name
		,mobile
		
		,real_name
		,login_pwd
		,login_pwd_strength
		,create_datetme
		,company_code
		
		,department_code
		,post_code
		,role_code
		,updater
		,update_datetime
		
		,status
		,remark
		)
		VALUES(
		#{userId}
		,#{type}
		,#{photo}
		,#{loginName}
		,#{mobile}
		
		,#{realName}
		,#{loginPwd}
		,#{loginPwdStrength}
		,#{createDatetme}
		,#{companyCode}
		
		,#{departmentCode}
		,#{postCode}
		,#{roleCode}
		,#{updater}
		,#{updateDatetime}
		
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_sysUser" parameterType="sysUser">
		UPDATE tsys_user
		SET
		photo = #{photo}
		,login_name = #{loginName}
		,mobile = #{mobile}
		,real_name = #{realName}
		,login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		,create_datetme = #{createDatetme}
		,role_code = #{roleCode}
		,status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
		
	<update id="update_status" parameterType="sysUser">
		UPDATE tsys_user
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE user_id = #{userId}
	</update>


	<update id="update_login_pwd" parameterType="sysUser">
		UPDATE tsys_user
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE
		user_id = #{userId}	
	</update>	

	<update id="update_role" parameterType="sysUser">
		UPDATE tsys_user
		SET
		role_code = #{roleCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE user_id = #{userId}	
	</update>	
	
	<update id="update_post" parameterType="sysUser">
		UPDATE tsys_user
		SET
		post_code = #{postCode}
		,department_code = #{departmentCode}
		,company_code = #{companyCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>	
	
	<update id="update_mobile" parameterType="sysUser">
		UPDATE tsys_user
		SET
		mobile = #{mobile}
		WHERE
		user_id = #{userId}	
	</update>

	<update id="update_sysUser_photo" parameterType="sysUser">
		UPDATE tsys_user
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_team" parameterType="sysUser">
		UPDATE tsys_user
		SET
		team_code = #{teamCode}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE
		user_id = #{userId}	
	</update>	

</mapper>