<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ITableExportDAO">
	<resultMap id="tableExport_DB_Result" type="tableExport">
		<result column="id" property="id" />
		<result column="url" property="url" />
		<result column="operator" property="operator" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="url != null and url != '' ">
				AND t.url = #{url}
			</if>
			<if test="operator != null and operator != '' ">
				AND t.operator = #{operator}
			</if>
		</trim>
	</sql>
	<select id="select_tableExport" parameterType="tableExport" resultMap="tableExport_DB_Result">
		SELECT
		t.id
		,t.url
		,t.operator
		,t.update_datetime
		FROM
		tsys_table_export t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_tableExport_count" parameterType="tableExport"
		resultType="java.lang.Long">
		SELECT count(1) FROM tsys_table_export t
		<include refid="where_condition" />
	</select>

	<insert id="insert_tableExport" parameterType="tableExport">
		INSERT INTO
		tsys_table_export(
		id
		,url
		,operator
		,update_datetime
		)
		VALUES(
		#{id}
		,#{url}
		,#{operator}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_tableExport" parameterType="tableExport">
		UPDATE tsys_table_export
		SET
		url = #{url}
		,operator = #{operator}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>


</mapper>