<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ITotalAdvanceFundDAO">
	<resultMap id="totalAdvanceFund_DB_Result" type="totalAdvanceFund">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="company_code" property="companyCode" />
		<result column="total_advance_fund" property="totalAdvanceFund" />
		<result column="pay_amount" property="payAmount" />
		<result column="make_bill_note" property="makeBillNote" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="pay_bankcard_code" property="payBankcardCode" />
		<result column="bill_pdf" property="billPdf" />
		<result column="pay_note" property="payNote" />
		<result column="collection_amount" property="collectionAmount" />
		<result column="collection_datetime" property="collectionDatetime" />
		<result column="collection_bankcard_code" property="collectionBankcardCode" />
		<result column="collection_bill_pdf" property="collectionBillPdf" />
		<result column="collection_note" property="collectionNote" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_totalAdvanceFund" parameterType="totalAdvanceFund" resultMap="totalAdvanceFund_DB_Result">
		SELECT
		t.code
		,t.type
		,t.company_code
		,t.total_advance_fund
		,t.pay_amount
		,t.make_bill_note
		,t.pay_datetime
		,t.pay_bankcard_code
		,t.bill_pdf
		,t.pay_note
		,t.collection_amount
		,t.collection_datetime
		,t.collection_bankcard_code
		,t.collection_bill_pdf
		,t.collection_note
		,t.updater
		,t.update_datetime
		FROM
		tdq_total_advance_fund t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_totalAdvanceFund_count" parameterType="totalAdvanceFund"
		resultType="java.lang.Long">
		SELECT count(1) FROM tdq_total_advance_fund t
		<include refid="where_condition" />
	</select>

	<insert id="insert_totalAdvanceFund" parameterType="totalAdvanceFund">
		INSERT INTO
		tdq_total_advance_fund(
		code
		,type
		,company_code
		,total_advance_fund
		,pay_amount
		,make_bill_note
		,pay_datetime
		,pay_bankcard_code
		,bill_pdf
		,pay_note
		,collection_amount
		,collection_datetime
		,collection_bankcard_code
		,collection_bill_pdf
		,collection_note
		,updater
		,update_datetime
		)
		VALUES(
		#{code}
		,#{type}
		,#{companyCode}
		,#{totalAdvanceFund}
		,#{payAmount}
		,#{makeBillNote}
		,#{payDatetime}
		,#{payBankcardCode}
		,#{billPdf}
		,#{payNote}
		,#{collectionAmount}
		,#{collectionDatetime}
		,#{collectionBankcardCode}
		,#{collectionBillPdf}
		,#{collectionNote}
		,#{updater}
		,#{updateDatetime}
		)
	</insert>

	<update id="update_totalAdvanceFund" parameterType="totalAdvanceFund">
		UPDATE tdq_total_advance_fund
		SET
		type = #{type}
		,company_code = #{companyCode}
		,total_advance_fund = #{totalAdvanceFund}
		,pay_amount = #{payAmount}
		,make_bill_note = #{makeBillNote}
		,pay_datetime = #{payDatetime}
		,pay_bankcard_code = #{payBankcardCode}
		,bill_pdf = #{billPdf}
		,pay_note = #{payNote}
		,collection_amount = #{collectionAmount}
		,collection_datetime = #{collectionDatetime}
		,collection_bankcard_code = #{collectionBankcardCode}
		,collection_bill_pdf = #{collectionBillPdf}
		,collection_note = #{collectionNote}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE code = #{code}
	</update>


</mapper>