<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ITransferPositionApplyDAO">
	<resultMap id="transferPositionApply_DB_Result" type="transferPositionApply">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="new_department" property="newDepartment" />
		<result column="new_position" property="newPosition" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="reason" property="reason" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="newDepartment != null and newDepartment != '' ">
				AND t.new_department = #{newDepartment}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime > #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime < #{applyDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	<select id="select_transferPositionApply" parameterType="transferPositionApply" resultMap="transferPositionApply_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.apply_datetime
		,t.new_department
		,t.new_position
		,t.start_datetime
		,t.end_datetime
		,t.reason
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_transfer_position_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_transferPositionApply_count" parameterType="transferPositionApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_transfer_position_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_transferPositionApply" parameterType="transferPositionApply">
		INSERT INTO
		tp_transfer_position_apply(
		code
		,apply_user
		,apply_datetime
		,new_department
		,new_position
		,start_datetime
		,end_datetime
		,reason
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{applyDatetime}
		,#{newDepartment}
		,#{newPosition}
		,#{startDatetime}
		,#{endDatetime}
		,#{reason}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_transferPositionApply" parameterType="transferPositionApply">
		UPDATE tp_transfer_position_apply
		SET
		apply_user = #{applyUser}
		,apply_datetime = #{applyDatetime}
		,new_department = #{newDepartment}
		,new_position = #{newPosition}
		,start_datetime = #{startDatetime}
		,end_datetime = #{endDatetime}
		,reason = #{reason}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_transferPositionApplyStatus" parameterType="transferPositionApply">
		UPDATE tp_transfer_position_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>