<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ITravelApplyDetailDAO">
	<resultMap id="travelApplyDetail_DB_Result" type="travelApplyDetail">
		<result column="travel_apply_code" property="travelApplyCode" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="total_hour" property="totalHour" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="travelApplyCode != null and travelApplyCode != '' ">
				AND t.travel_apply_code = #{travelApplyCode}
			</if>
		</trim>
	</sql>
	<select id="select_travelApplyDetail" parameterType="travelApplyDetail" resultMap="travelApplyDetail_DB_Result">
		SELECT
		t.travel_apply_code
		,t.start_datetime
		,t.end_datetime
		,t.total_hour
		,t.remark
		FROM
		tp_travel_apply_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_travelApplyDetail_count" parameterType="travelApplyDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_travel_apply_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_travelApplyDetail" parameterType="travelApplyDetail">
		INSERT INTO
		tp_travel_apply_detail(
		travel_apply_code
		,start_datetime
		,end_datetime
		,total_hour
		,remark
		)
		VALUES(
		#{travelApplyCode}
		,#{startDatetime}
		,#{endDatetime}
		,#{totalHour}
		,#{remark}
		)
	</insert>
</mapper>