<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ITravelApplyDAO">
	<resultMap id="travelApply_DB_Result" type="travelApply">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="total_hour" property="totalHour" />
		<result column="reason" property="reason" />
		<result column="pdf" property="pdf" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="startDatetime != null and startDatetime != '' ">
				AND t.apply_datetime &gt;= #{startDatetime}
			</if>
			<if test="endDatetime != null and endDatetime != '' ">
				AND t.apply_datetime &lt;= #{endDatetime}
			</if>
		</trim>
	</sql>
	<select id="select_travelApply" parameterType="travelApply" resultMap="travelApply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.apply_user
		,t.apply_datetime
		,t.total_hour
		,t.reason
		,t.pdf
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tp_travel_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_travelApply_count" parameterType="travelApply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_travel_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_travelApply" parameterType="travelApply">
		INSERT INTO
		tp_travel_apply(
		code
		,type
		,apply_user
		,apply_datetime
		,total_hour
		,reason
		,pdf
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{type}
		,#{applyUser}
		,#{applyDatetime}
		,#{totalHour}
		,#{reason}
		,#{pdf}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_travelApply" parameterType="travelApply">
		UPDATE tp_travel_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>