<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IUserDAO">
	<resultMap id="user_DB_Result" type="user">
		<result column="user_id" property="userId" />
		<result column="photo" property="photo" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		<result column="login_pwd" property="loginPwd" />
		<result column="login_pwd_strength" property="loginPwdStrength" />
		<result column="create_datetime" property="createDatetime" />
		<result column="role_code" property="roleCode" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="loginName != null and loginName != '' ">
				AND t.login_name = #{loginName}
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>
			<if test="roleCode != null and roleCode != '' ">
				AND t.role_code = #{roleCode}
			</if>
			
			<if test="keyword != null and keyword != '' ">
				AND t.login_name like "%"#{keyword}"%" OR  t.mobile like "%"#{keyword}"%"
			</if>
			
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime > #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime < #{createDatetimeEnd}]]>
			</if>
		</trim>
	</sql>
	
	<select id="select_user" parameterType="user" resultMap="user_DB_Result">
		SELECT
		t.user_id
		,t.photo
		,t.login_name
		,t.mobile
		,t.create_datetme
		,t.role_code
		,t.status
		,t.remark
		FROM
		tht_user t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_user_count" parameterType="user"
		resultType="java.lang.Long">
		SELECT count(1) FROM tht_user t
		<include refid="where_condition" />
	</select>

	<insert id="insert_user" parameterType="user">
		INSERT INTO
		tht_user(
		user_id
		,photo
		,login_name
		,mobile
		,login_pwd
		,login_pwd_strength
		,create_datetme
		,role_code
		,status
		,remark
		)
		VALUES(
		#{userId}
		,#{photo}
		,#{loginName}
		,#{mobile}
		,#{loginPwd}
		,#{loginPwdStrength}
		,#{createDatetme}
		,#{roleCode}
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_user" parameterType="user">
		UPDATE tht_user
		SET
		photo = #{photo}
		,login_name = #{loginName}
		,mobile = #{mobile}
		,login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		,create_datetme = #{createDatetme}
		,role_code = #{roleCode}
		,status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
		
	<update id="update_status" parameterType="user">
		UPDATE tht_user
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE user_id = #{userId}
	</update>


	<update id="update_login_pwd" parameterType="user">
		UPDATE tht_user
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>	

	<update id="update_role" parameterType="user">
		UPDATE tht_user
		SET
		 role_code = #{roleCode}
		 ,updater = #{updater}
		 ,updater_datetime = #{updaterDatetime}
		 ,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>	
	
		
	<update id="update_mobile" parameterType="user">
		UPDATE tht_user
		SET
		mobile = #{mobile}
		WHERE
		user_id = #{userId}	
	</update>


	<update id="update_user_photo" parameterType="user">
		UPDATE tht_user
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>

</mapper>