<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IUserDAO">
	<resultMap id="user_DB_Result" type="user">
		<result column="user_id" property="userId" />
		<result column="kind" property="kind" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		<result column="photo" property="photo" />
		<result column="nickname" property="nickname" />
		<result column="login_pwd" property="loginPwd" />
		<result column="login_pwd_strength" property="loginPwdStrength" />
		<result column="user_referee" property="userReferee" />
		<result column="referee_mobile" property="refereeMobile" />
		<result column="trade_pwd" property="tradePwd" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		<result column="real_name" property="realName" />
		<result column="status" property="status" />
		<result column="sign" property="sign" />
		<result column="sign_datetime" property="signDatetime" />
		<result column="total_green_count" property="totalGreenCount" />
		<result column="total_yellow_count" property="totalYellowCount" />
		<result column="total_red_count" property="totalRedCount" />
		<result column="total_black_count" property="totalBlackCount" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="kind != null and kind != '' ">
				AND t.kind = #{kind}
			</if>
			<if test="loginName != null and loginName != '' ">
				AND t.login_name = #{loginName}
			</if>
			<if test="loginNameForQuery != null and loginNameForQuery != '' ">
				AND t.login_name like "%"#{loginNameForQuery}"%"
			</if>
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="mobileForQuery != null and mobileForQuery != '' ">
				AND t.mobile like "%"#{mobileForQuery}"%"
			</if>
			<if test="photo != null and photo != '' ">
				AND t.photo = #{photo}
			</if>
			<if test="nickname != null and nickname != '' ">
				AND t.nickname = #{nickname}
			</if>
			<if test="nicknameForQuery != null and nicknameForQuery != '' ">
				AND t.nickname like "%"#{nicknameForQuery}"%"
			</if>
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>
			<if test="loginPwdStrength != null and loginPwdStrength != '' ">
				AND t.login_pwd_strength = #{loginPwdStrength}
			</if>
			<if test="userReferee != null and userReferee != '' ">
				AND t.user_referee = #{userReferee}
			</if>
			<if test="refereeMobile != null and refereeMobile != '' ">
				AND t.referee_mobile = #{refereeMobile}
			</if>
			<if test="tradePwd != null and tradePwd != '' ">
				AND t.trade_pwd = #{tradePwd}
			</if>
			<if test="tradePwdStrength != null and tradePwdStrength != '' ">
				AND t.trade_pwd_strength = #{tradePwdStrength}
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="realNameForQuery != null and realNameForQuery != '' ">
				AND t.real_name like "%"#{realNameForQuery}"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="sign != null and sign != '' ">
				AND t.sign = #{sign}
			</if>
			<if test="createDatetime != null and createDatetime != '' ">
				AND t.create_datetime = #{createDatetime}
			</if>
			<if test="remark != null and remark != '' ">
				AND t.remark = #{remark}
			</if>
			
		</trim>
	</sql>
	
	<select id="select_user" parameterType="user" resultMap="user_DB_Result">
		SELECT
		user_id
		,kind
		,login_name
		,mobile
		,photo
		,nickname
		,login_pwd_strength
		,user_referee
		,referee_mobile
		,trade_pwd_strength
		,id_kind
		,id_no
		,real_name
		,status
		,sign
		,sign_datetime
		,total_green_count
		,total_yellow_count
		,total_red_count
		,total_black_count
		,create_datetime
		,remark
		FROM
		tstd_user t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_user_count" parameterType="user" resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_user" parameterType="user">
		INSERT INTO tstd_user(
		user_id
		,kind
		,login_name
		,mobile
		,photo
		,nickname
		,login_pwd
		,login_pwd_strength
		,user_referee
		,referee_mobile
		,trade_pwd
		,trade_pwd_strength
		,id_kind
		,id_no
		,real_name
		,status
		,sign
		,sign_datetime
		,total_green_count
		,total_yellow_count
		,total_red_count
		,total_black_count
		,create_datetime
		,remark
		)
		VALUES(
		#{userId}
		,#{kind}
		,#{loginName}
		,#{mobile}
		,#{photo}
		,#{nickname}
		,#{loginPwd}
		,#{loginPwdStrength}
		,#{userReferee}
		,#{refereeMobile}
		,#{tradePwd}
		,#{tradePwdStrength}
		,#{idKind}
		,#{idNo}
		,#{realName}
		,#{status}
		,#{sign}
		,#{signDatetime}
		,#{totalGreenCount}
		,#{totalYellowCount}
		,#{totalRedCount}
		,#{totalBlackCount}
		,#{createDatetime}
		,#{remark}
		)
	</insert>
	
	<update id="update_login_pwd" parameterType="user">
		UPDATE tstd_user
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_trade_pwd" parameterType="user">
		UPDATE tstd_user
		SET
		 trade_pwd = #{tradePwd}
		,trade_pwd_strength = #{tradePwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_mobile" parameterType="user">
		UPDATE tstd_user
		SET
		login_name = #{mobile}
		,mobile = #{mobile}
		WHERE
		user_id = #{userId}
	</update>
	
	<update id="update_nickname" parameterType="user">
		UPDATE tstd_user
		SET
		 nickname = #{nickname}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_photo" parameterType="user">
		UPDATE tstd_user
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_status" parameterType="user">
		UPDATE tstd_user
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_green_sign" parameterType="user">
		UPDATE tstd_user
		SET
		sign = #{sign}
		,sign = #{signDatetime}
		,total_green_count = #{totalGreenCount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_yellow_sign" parameterType="user">
		UPDATE tstd_user
		SET
		sign = #{sign}
		,sign = #{signDatetime}
		,total_yellow_count = #{totalYellowCount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_red_sign" parameterType="user">
		UPDATE tstd_user
		SET
		sign = #{sign}
		,sign = #{signDatetime}
		,total_red_count = #{totalRedCount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_black_sign" parameterType="user">
		UPDATE tstd_user
		SET
		sign = #{sign}
		,sign = #{signDatetime}
		,total_black_count = #{totalBlackCount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		WHERE
		user_id = #{userId}	
	</update>
	
	
</mapper>