<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IUserRelationDAO">
	
	<resultMap id="userRelation_DB_Result" type="userRelation">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="to_user" property="toUser" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="toUser != null and toUser != '' ">
				AND t.to_user = #{toUser}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_userRelation" parameterType="userRelation" resultMap="userRelation_DB_Result">
		SELECT 
		t.code
		,t.user_id
		,t.to_user
		,t.status
		,t.type
		,t.update_datetime
		,t.company_code
		,t.system_code
		FROM
		tstd_user_relation t
		<include refid="where_condition" />
		ORDER BY t.code DESC
	</select>

	<select id="select_userRelation_count" parameterType="userRelation"
		resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user_relation t
		<include refid="where_condition" />
	</select>

	
	<insert id="insert_userRelation" parameterType="userRelation">
		INSERT INTO
		tstd_user_relation(
		code
		,user_id
		,to_user
	    ,type
		,status
		,update_datetime
		,system_code
		)
		VALUES(
		#{code}
		,#{userId}
		,#{toUser}
		,#{type}
		,#{status}
		,#{updateDatetime}
		,#{systemCode}
		)
	</insert>
	
	<delete id="delete_userRelation" parameterType="userRelation">
		DELETE FROM
		tstd_user_relation
		WHERE user_id = #{userId} AND to_user = #{toUser} AND type = #{type}
	</delete>
	
	<update id="update_userRelationStatus" parameterType="userRelation">
		UPDATE tstd_user_relation
		SET
		status= #{status}
		,update_datetime= #{updateDatetime}
		WHERE user_id = #{userId} AND to_user = #{toUser} AND type = #{type}
	</update>
	
</mapper>
