<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IUserSettingsDAO">

    <resultMap id="UserSettings_DB_Result" type="com.cdkj.coin.domain.UserSettings">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="value" property="value"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
    </resultMap>

    <sql id="where_condition">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null and id != '' ">
                AND t.id = #{id}
            </if>
            <if test="userId != null and userId != '' ">
                AND t.user_id = #{userId}
            </if>
            <if test="type != null and type != '' ">
                AND t.type = #{type}
            </if>
        </trim>
    </sql>

    <select id="select_UserSettings" parameterType="com.cdkj.coin.domain.UserSettings"
            resultMap="UserSettings_DB_Result">
        SELECT
        t.id
        ,t.user_id
        ,t.type
        ,t.value
        ,t.create_datetime
        ,t.update_datetime
        FROM
        tstd_user_settings t
        <include refid="where_condition"/>
        <trim prefix="ORDER BY ">
            <if test="order != null and order != '' ">
                t.${order}
            </if>
        </trim>
    </select>

    <select id="select_UserSettings_count" parameterType="com.cdkj.coin.domain.UserSettings"
            resultType="java.lang.Long">
        SELECT count(1) FROM tstd_user_settings t
        <include refid="where_condition"/>
    </select>

    <insert id="insert_UserSettings" parameterType="com.cdkj.coin.domain.UserSettings">
        INSERT INTO
            tstd_user_settings (
                id
                , user_id
                , type
                , value
                , create_datetime
                , update_datetime
            )
        VALUES (
            #{id}
            , #{userId}
            , #{type}
            , #{value}
            , #{createDatetime}
            , #{updateDatetime}
        )
    </insert>

    <update id="update_UserSettings" parameterType="com.cdkj.coin.domain.UserSettings">
        UPDATE tstd_user_settings
        SET
            user_id           = #{userId}
            , type            = #{type}
            , value           = #{value}
            , create_datetime = #{createDatetime}
            , update_datetime = #{updateDatetime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.cdkj.coin.domain.UserSettings">
        DELETE FROM tstd_user_settings
        WHERE user_id = #{userId} and type = #{type}
    </delete>


</mapper>