<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IWelfareUserDAO">
	<resultMap id="WelfareUser_DB_Result" type="WelfareUser">
		<result column="code" property="code" />
		<result column="welfare_code" property="welfareCode" />
		<result column="user_id" property="userId" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="welfareCode != null and welfareCode != '' ">
				AND t.welfare_code = #{welfareCode}
			</if>
		</trim>
	</sql>
	<select id="select_WelfareUser" parameterType="WelfareUser" resultMap="WelfareUser_DB_Result">
		SELECT
		t.code
		,t.welfare_code
		,t.user_id
		,t.remark
		FROM
		tp_welfare_user t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_WelfareUser_count" parameterType="WelfareUser"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_welfare_user t
		<include refid="where_condition" />
	</select>

	<insert id="insert_WelfareUser" parameterType="WelfareUser">
		INSERT INTO
		tp_welfare_user(
		code
		,welfare_code
		,user_id
		,remark
		)
		VALUES(
		#{code}
		,#{welfareCode}
		,#{userId}
		,#{remark}
		)
	</insert>


</mapper>