<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IWorkExperienceDAO">
	<resultMap id="workExperience_DB_Result" type="workExperience">
		<result column="code" property="code" />
		<result column="parent_code" property="parentCode" />
		<result column="start_datetime" property="startDatetime" />
		<result column="end_datetime" property="endDatetime" />
		<result column="company_name" property="companyName" />
		
		<result column="position" property="position" />
		<result column="leave_reason" property="leaveReason" />
		<result column="prover" property="prover" />
		<result column="prover_mobile" property="proverMobile" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
		</trim>
	</sql>
	<select id="select_workExperience" parameterType="workExperience" resultMap="workExperience_DB_Result">
		SELECT
		t.code
		,t.parent_code
		,t.start_datetime
		,t.end_datetime
		,t.company_name
		
		,t.position
		,t.leave_reason
		,t.prover
		,t.prover_mobile
		FROM
		tp_work_experience t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_workExperience_count" parameterType="workExperience"
		resultType="java.lang.Long">
		SELECT count(1) FROM tp_work_experience t
		<include refid="where_condition" />
	</select>

	<insert id="insert_workExperience" parameterType="workExperience">
		INSERT INTO
		tp_work_experience(
		code
		,parent_code
		,start_datetime
		,end_datetime
		,company_name
		
		,position
		,leave_reason
		,prover
		,prover_mobile
		)
		VALUES(
		#{code}
		,#{parentCode}
		,#{startDatetime}
		,#{endDatetime}
		,#{companyName}
		
		,#{position}
		,#{leaveReason}
		,#{prover}
		,#{proverMobile}
		)
	</insert>
</mapper>