<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	
	<bean id="sysUserBO" class="com.cdkj.loan.bo.impl.SYSUserBOImpl">
		<property name="paginableDAO" ref="sysUserDAOImpl" />
	</bean>
	
	<bean id="addressBO" class="com.cdkj.loan.bo.impl.AddressBOImpl">
		<property name="paginableDAO" ref="addressDAOImpl"/>
	</bean>	
	
	<bean id="blacklistBO" class="com.cdkj.loan.bo.impl.BlacklistBOImpl">
		<property name="paginableDAO" ref="blacklistDAOImpl"/>
	</bean>
	
	<bean id="userRelationBO" class="com.cdkj.loan.bo.impl.UserRelationBOImpl">
		<property name="paginableDAO" ref="userRelationDAOImpl" />
	</bean>
	
	<bean id="sysMenuBO" class="com.cdkj.loan.bo.impl.SYSMenuBOImpl">
		<property name="paginableDAO" ref="sysMenuDAOImpl"/>
	</bean>
	
	<bean id="sysRoleBO" class="com.cdkj.loan.bo.impl.SYSRoleBOImpl">
		<property name="paginableDAO" ref="sysRoleDAOImpl"/>
	</bean>
	
	<bean id="sysMenuRoleBO" class="com.cdkj.loan.bo.impl.SYSMenuRoleBOImpl">
		<property name="paginableDAO" ref="sysMenuRoleDAOImpl"/>
	</bean>

	<bean id="cNavigateBO" class="com.cdkj.loan.bo.impl.CNavigateBOImpl">
		<property name="paginableDAO" ref="cNavigateDAOImpl"/>
	</bean>
	
	<bean id="accountBO" class="com.cdkj.loan.bo.impl.AccountBOImpl">
		<property name="paginableDAO" ref="accountDAOImpl" />
	</bean>
	<bean id="jourBO" class="com.cdkj.loan.bo.impl.JourBOImpl">
		<property name="paginableDAO" ref="jourDAOImpl" />
	</bean>
	
	<bean id="exchangeCurrencyBO" class="com.cdkj.loan.bo.impl.ExchangeCurrencyBOImpl">
		<property name="paginableDAO" ref="exchangeCurrencyDAOImpl"/>
	</bean>

	<bean id="chargeBO" class="com.cdkj.loan.bo.impl.ChargeBOImpl">
		<property name="paginableDAO" ref="chargeDAOImpl"/>
	</bean>	
	
	<bean id="withdrawBO" class="com.cdkj.loan.bo.impl.WithdrawBOImpl">
		<property name="paginableDAO" ref="withdrawDAOImpl"/>
	</bean>	
	
	<bean id="hlOrderBO" class="com.cdkj.loan.bo.impl.HLOrderBOImpl">
		<property name="paginableDAO" ref="hlOrderDAOImpl" />
	</bean>
	
	<bean id="baofooWithholdBO" class="com.cdkj.loan.bo.impl.BaofooWithholdBOImpl">
		<property name="paginableDAO" ref="baofooWithholdDAOImpl" />
	</bean>

	<bean id="sysDictBO" class="com.cdkj.loan.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>	
	
	<bean id="sysConfigBO" class="com.cdkj.loan.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>	
	
	<bean id="brandBO" class="com.cdkj.loan.bo.impl.BrandBOImpl">
		<property name="paginableDAO" ref="brandDAOImpl" />
	</bean>
	<bean id="userBO" class="com.cdkj.loan.bo.impl.UserBOImpl">
		<property name="paginableDAO" ref="userDAOImpl"/>
	</bean>	
	<bean id="carBO" class="com.cdkj.loan.bo.impl.CarBOImpl">
		<property name="paginableDAO" ref="carDAOImpl"/>
	</bean>	
	<bean id="seriesBO" class="com.cdkj.loan.bo.impl.SeriesBOImpl">
		<property name="paginableDAO" ref="seriesDAOImpl"/>
	</bean>	
	<bean id="carOrderBO" class="com.cdkj.loan.bo.impl.CarOrderBOImpl">
		<property name="paginableDAO" ref="carOrderDAOImpl"/>
	</bean>	
	
	<bean id="categoryBO" class="com.cdkj.loan.bo.impl.CategoryBOImpl">
		<property name="paginableDAO" ref="categoryDAOImpl" />
	</bean>
	
	<bean id="productBO" class="com.cdkj.loan.bo.impl.ProductBOImpl">
		<property name="paginableDAO" ref="productDAOImpl"/>
	</bean>	
	
	<bean id="orderBO" class="com.cdkj.loan.bo.impl.OrderBOImpl">
		<property name="paginableDAO" ref="orderDAOImpl"/>
	</bean>	
	
	<bean id="productOrderBO" class="com.cdkj.loan.bo.impl.ProductOrderBOImpl">
		<property name="paginableDAO" ref="productOrderDAOImpl"/>
	</bean>
	
	<bean id="loanOrderBO" class="com.cdkj.loan.bo.impl.LoanOrderBOImpl">
		<property name="paginableDAO" ref="loanOrderDAOImpl"/>
	</bean>
	
	<bean id="repayBizBO" class="com.cdkj.loan.bo.impl.RepayBizBOImpl">
		<property name="paginableDAO" ref="repayBizDAOImpl"/>
	</bean>
	
	<bean id="repayPlanBO" class="com.cdkj.loan.bo.impl.RepayPlanBOImpl">
		<property name="paginableDAO" ref="repayPlanDAOImpl"/>
	</bean>
	
	<bean id="costBO" class="com.cdkj.loan.bo.impl.CostBOImpl">
		<property name="paginableDAO" ref="costDAOImpl"/>
	</bean>
	
	<bean id="remindLogBO" class="com.cdkj.loan.bo.impl.RemindLogBOImpl">
		<property name="paginableDAO" ref="remindLogDAOImpl"/>
	</bean>
	
	<bean id="bankcardBO" class="com.cdkj.loan.bo.impl.BankcardBOImpl">
		<property name="paginableDAO" ref="bankcardDAOImpl"/>
	</bean>
	
	<bean id="departmentBO" class="com.cdkj.loan.bo.impl.DepartmentBOImpl">
		<property name="paginableDAO" ref="departmentDAOImpl"/>
	</bean>
	
	<bean id="channelBankBO" class="com.cdkj.loan.bo.impl.ChannelBankBOImpl">
		<property name="paginableDAO" ref="channelBankDAOImpl"/>
	</bean>
	
	<bean id="reqBudgetBO" class="com.cdkj.loan.bo.impl.ReqBudgetBOImpl">
		<property name="paginableDAO" ref="reqBudgetDAOImpl"/>
	</bean>
	
	<bean id="sysNodeBO" class="com.cdkj.loan.bo.impl.SYSNodeBOImpl">
		<property name="paginableDAO" ref="sysNodeDAOImpl"/>
	</bean>
	
</beans>
