<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	
	<bean id="sysUserBO" class="com.cdkj.loan.bo.impl.SYSUserBOImpl">
		<property name="paginableDAO" ref="sysUserDAOImpl" />
	</bean>
	
	<bean id="addressBO" class="com.cdkj.loan.bo.impl.AddressBOImpl">
		<property name="paginableDAO" ref="addressDAOImpl"/>
	</bean>	
	
	<bean id="blacklistBO" class="com.cdkj.loan.bo.impl.BlacklistBOImpl">
		<property name="paginableDAO" ref="blacklistDAOImpl"/>
	</bean>
	
	<bean id="userRelationBO" class="com.cdkj.loan.bo.impl.UserRelationBOImpl">
		<property name="paginableDAO" ref="userRelationDAOImpl" />
	</bean>
	
	<bean id="sysMenuBO" class="com.cdkj.loan.bo.impl.SYSMenuBOImpl">
		<property name="paginableDAO" ref="sysMenuDAOImpl"/>
	</bean>
	
	<bean id="sysRoleBO" class="com.cdkj.loan.bo.impl.SYSRoleBOImpl">
		<property name="paginableDAO" ref="sysRoleDAOImpl"/>
	</bean>
	
	<bean id="sysMenuRoleBO" class="com.cdkj.loan.bo.impl.SYSMenuRoleBOImpl">
		<property name="paginableDAO" ref="sysMenuRoleDAOImpl"/>
	</bean>

	<bean id="cNavigateBO" class="com.cdkj.loan.bo.impl.CNavigateBOImpl">
		<property name="paginableDAO" ref="cNavigateDAOImpl"/>
	</bean>
	
	<bean id="accountBO" class="com.cdkj.loan.bo.impl.AccountBOImpl">
		<property name="paginableDAO" ref="accountDAOImpl" />
	</bean>
	<bean id="jourBO" class="com.cdkj.loan.bo.impl.JourBOImpl">
		<property name="paginableDAO" ref="jourDAOImpl" />
	</bean>
	
	<bean id="exchangeCurrencyBO" class="com.cdkj.loan.bo.impl.ExchangeCurrencyBOImpl">
		<property name="paginableDAO" ref="exchangeCurrencyDAOImpl"/>
	</bean>

	<bean id="chargeBO" class="com.cdkj.loan.bo.impl.ChargeBOImpl">
		<property name="paginableDAO" ref="chargeDAOImpl"/>
	</bean>	
	
	<bean id="withdrawBO" class="com.cdkj.loan.bo.impl.WithdrawBOImpl">
		<property name="paginableDAO" ref="withdrawDAOImpl"/>
	</bean>	
	
	<bean id="hlOrderBO" class="com.cdkj.loan.bo.impl.HLOrderBOImpl">
		<property name="paginableDAO" ref="hlOrderDAOImpl" />
	</bean>
	
	<bean id="baofooWithholdBO" class="com.cdkj.loan.bo.impl.BaofooWithholdBOImpl">
		<property name="paginableDAO" ref="baofooWithholdDAOImpl" />
	</bean>

	<bean id="sysDictBO" class="com.cdkj.loan.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>	
	
	<bean id="sysConfigBO" class="com.cdkj.loan.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>	
	
	<bean id="brandBO" class="com.cdkj.loan.bo.impl.BrandBOImpl">
		<property name="paginableDAO" ref="brandDAOImpl" />
	</bean>
	<bean id="userBO" class="com.cdkj.loan.bo.impl.UserBOImpl">
		<property name="paginableDAO" ref="userDAOImpl"/>
	</bean>	
	<bean id="saleUserBO" class="com.cdkj.loan.bo.impl.SaleUserBOImpl">
		<property name="paginableDAO" ref="saleUserDAOImpl"/>
	</bean>	
	<bean id="carBO" class="com.cdkj.loan.bo.impl.CarBOImpl">
		<property name="paginableDAO" ref="carDAOImpl"/>
	</bean>	
	<bean id="seriesBO" class="com.cdkj.loan.bo.impl.SeriesBOImpl">
		<property name="paginableDAO" ref="seriesDAOImpl"/>
	</bean>	
	<bean id="carOrderBO" class="com.cdkj.loan.bo.impl.CarOrderBOImpl">
		<property name="paginableDAO" ref="carOrderDAOImpl"/>
	</bean>	
	
	<bean id="categoryBO" class="com.cdkj.loan.bo.impl.CategoryBOImpl">
		<property name="paginableDAO" ref="categoryDAOImpl" />
	</bean>
	
	<bean id="productBO" class="com.cdkj.loan.bo.impl.ProductBOImpl">
		<property name="paginableDAO" ref="productDAOImpl"/>
	</bean>	
	
	<bean id="orderBO" class="com.cdkj.loan.bo.impl.OrderBOImpl">
		<property name="paginableDAO" ref="orderDAOImpl"/>
	</bean>	
	
	<bean id="productOrderBO" class="com.cdkj.loan.bo.impl.ProductOrderBOImpl">
		<property name="paginableDAO" ref="productOrderDAOImpl"/>
	</bean>
	
	<bean id="repayBizBO" class="com.cdkj.loan.bo.impl.RepayBizBOImpl">
		<property name="paginableDAO" ref="repayBizDAOImpl"/>
	</bean>
	
	<bean id="repayPlanBO" class="com.cdkj.loan.bo.impl.RepayPlanBOImpl">
		<property name="paginableDAO" ref="repayPlanDAOImpl"/>
	</bean>
	
	<bean id="costBO" class="com.cdkj.loan.bo.impl.CostBOImpl">
		<property name="paginableDAO" ref="costDAOImpl"/>
	</bean>
	
	<bean id="remindLogBO" class="com.cdkj.loan.bo.impl.RemindLogBOImpl">
		<property name="paginableDAO" ref="remindLogDAOImpl"/>
	</bean>
	
	<bean id="bankcardBO" class="com.cdkj.loan.bo.impl.BankcardBOImpl">
		<property name="paginableDAO" ref="bankcardDAOImpl"/>
	</bean>
	
	<bean id="departmentBO" class="com.cdkj.loan.bo.impl.DepartmentBOImpl">
		<property name="paginableDAO" ref="departmentDAOImpl"/>
	</bean>
	
	<bean id="channelBankBO" class="com.cdkj.loan.bo.impl.ChannelBankBOImpl">
		<property name="paginableDAO" ref="channelBankDAOImpl"/>
	</bean>
	
	<bean id="reqBudgetBO" class="com.cdkj.loan.bo.impl.ReqBudgetBOImpl">
		<property name="paginableDAO" ref="reqBudgetDAOImpl"/>
	</bean>
	
	<bean id="roleNodeBO" class="com.cdkj.loan.bo.impl.RoleNodeBOImpl">
		<property name="paginableDAO" ref="roleNodeDAOImpl"/>
	</bean>
	
	<bean id="nodeBO" class="com.cdkj.loan.bo.impl.NodeBOImpl">
		<property name="paginableDAO" ref="nodeDAOImpl"/>
	</bean>
	
	<bean id="nodeFlowBO" class="com.cdkj.loan.bo.impl.NodeFlowBOImpl">
		<property name="paginableDAO" ref="nodeFlowDAOImpl"/>
	</bean>
	
	<bean id="sysBizLogBO" class="com.cdkj.loan.bo.impl.SYSBizLogBOImpl">
		<property name="paginableDAO" ref="sysBizLogDAOImpl"/>
	</bean>
	

	<bean id="creditUserBO" class="com.cdkj.loan.bo.impl.CreditUserBOImpl">
		<property name="paginableDAO" ref="creditUserDAOImpl"/>
	</bean>
	
    <bean id="creditBO" class="com.cdkj.loan.bo.impl.CreditBOImpl">
		<property name="paginableDAO" ref="creditDAOImpl"/>
	</bean>

	<bean id="insuranceCompanyBO" class="com.cdkj.loan.bo.impl.InsuranceCompanyBOImpl">
		<property name="paginableDAO" ref="insuranceCompanyDAOImpl"/>
	</bean>
	
	<bean id="collectBankcardBO" class="com.cdkj.loan.bo.impl.CollectBankcardBOImpl">
		<property name="paginableDAO" ref="collectBankcardDAOImpl"/>
	</bean>
	
	<bean id="carDealerBO" class="com.cdkj.loan.bo.impl.CarDealerBOImpl">
		<property name="paginableDAO" ref="carDealerDAOImpl"/>
	</bean>
	
	<bean id="carDealerProtocolBO" class="com.cdkj.loan.bo.impl.CarDealerProtocolBOImpl">
		<property name="paginableDAO" ref="carDealerProtocolDAOImpl"/>
	</bean>
	
	<bean id="gpsBO" class="com.cdkj.loan.bo.impl.GpsBOImpl">
		<property name="paginableDAO" ref="gpsDAOImpl"/>
	</bean>
	
	<bean id="budgetOrderBO" class="com.cdkj.loan.bo.impl.BudgetOrderBOImpl">
		<property name="paginableDAO" ref="budgetOrderDAOImpl"/>
	</bean>
	
	<bean id="areaBO" class="com.cdkj.loan.bo.impl.AreaBOImpl">
		<property name="paginableDAO" ref="areaDAOImpl"/>
	</bean>
	
	<bean id="provinceBO" class="com.cdkj.loan.bo.impl.ProvinceBOImpl">
		<property name="paginableDAO" ref="provinceDAOImpl"/>
	</bean>
	
	<bean id="bankBO" class="com.cdkj.loan.bo.impl.BankBOImpl">
		<property name="paginableDAO" ref="bankDAOImpl"/>
	</bean>
	
	<bean id="bankSubbranchBO" class="com.cdkj.loan.bo.impl.BankSubbranchBOImpl">
		<property name="paginableDAO" ref="bankSubbranchDAOImpl"/>
	</bean>
	
	<bean id="logisticsBO" class="com.cdkj.loan.bo.impl.LogisticsBOImpl">
		<property name="paginableDAO" ref="logisticsDAOImpl"/>
	</bean>
	
	<bean id="supplementReasonBO" class="com.cdkj.loan.bo.impl.SupplementReasonBOImpl">
		<property name="paginableDAO" ref="supplementReasonDAOImpl"/>
	</bean>
	
	<bean id="gpsApplyBO" class="com.cdkj.loan.bo.impl.GpsApplyBOImpl">
		<property name="paginableDAO" ref="gpsApplyDAOImpl"/>
	</bean>
	
	<bean id="budgetOrderFeeBO" class="com.cdkj.loan.bo.impl.BudgetOrderFeeBOImpl">
		<property name="paginableDAO" ref="budgetOrderFeeDAOImpl"/>
	</bean>
	
	<bean id="overdueMenuBO" class="com.cdkj.loan.bo.impl.OverdueMenuBOImpl">
		<property name="paginableDAO" ref="overdueMenuDAOImpl"/>
	</bean>
	
	<bean id="noticeBO" class="com.cdkj.loan.bo.impl.NoticeBOImpl">
		<property name="paginableDAO" ref="noticeDAOImpl"/>
	</bean>
	
	<bean id="regimeBO" class="com.cdkj.loan.bo.impl.RegimeBOImpl">
		<property name="paginableDAO" ref="regimeDAOImpl"/>
	</bean>
	
	<bean id="compCategoryBO" class="com.cdkj.loan.bo.impl.CompCategoryBOImpl">
		<property name="paginableDAO" ref="compCategoryDAOImpl"/>
	</bean>
	
	<bean id="compProductBO" class="com.cdkj.loan.bo.impl.CompProductBOImpl">
		<property name="paginableDAO" ref="compProductDAOImpl"/>
	</bean>
	

	<bean id="archiveBO" class="com.cdkj.loan.bo.impl.ArchiveBOImpl">
		<property name="paginableDAO" ref="archiveDAOImpl"/>
	</bean>
	
	<bean id="socialRelationBO" class="com.cdkj.loan.bo.impl.SocialRelationBOImpl">
		<property name="paginableDAO" ref="socialRelationDAOImpl"/>
	</bean>
	
	<bean id="archiveLocationBO" class="com.cdkj.loan.bo.impl.ArchiveLocationBOImpl">
		<property name="paginableDAO" ref="archiveLocationDAOImpl"/>
	</bean>

	<bean id="recruitApplyBO" class="com.cdkj.loan.bo.impl.RecruitApplyBOImpl">
		<property name="paginableDAO" ref="recruitApplyDAOImpl"/>
	</bean>
	
	<bean id="employApplyBO" class="com.cdkj.loan.bo.impl.EmployApplyBOImpl">
		<property name="paginableDAO" ref="employApplyDAOImpl"/>
	</bean>
	
	<bean id="entryApplyBO" class="com.cdkj.loan.bo.impl.EntryApplyBOImpl">
		<property name="paginableDAO" ref="entryApplyDAOImpl"/>
	</bean>
	
	<bean id="storageInBO" class="com.cdkj.loan.bo.impl.StorageInBOImpl">
		<property name="paginableDAO" ref="storageInDAOImpl"/>

	</bean>
	
	<bean id="storageOutBO" class="com.cdkj.loan.bo.impl.StorageOutBOImpl">
		<property name="paginableDAO" ref="storageOutDAOImpl"/>
	</bean>
	
	<bean id="leaveApplyBO" class="com.cdkj.loan.bo.impl.LeaveApplyBOImpl">
		<property name="paginableDAO" ref="leaveApplyDAOImpl"/>
	</bean>
		
	<bean id="contractBO" class="com.cdkj.loan.bo.impl.ContractBOImpl">
		<property name="paginableDAO" ref="contractDAOImpl"/>
	</bean>
	

	<bean id="overtimeApplyBO" class="com.cdkj.loan.bo.impl.OvertimeApplyBOImpl">
		<property name="paginableDAO" ref="overtimeApplyDAOImpl"/>
	</bean>
	
	<bean id="travelApplyBO" class="com.cdkj.loan.bo.impl.TravelApplyBOImpl">
		<property name="paginableDAO" ref="travelApplyDAOImpl"/>
	</bean>
	
	<bean id="travelApplyDetailBO" class="com.cdkj.loan.bo.impl.TravelApplyDetailBOImpl">
		<property name="paginableDAO" ref="travelApplyDetailDAOImpl"/>
	</bean>
	<bean id="convertApplyBO" class="com.cdkj.loan.bo.impl.ConvertApplyBOImpl">
		<property name="paginableDAO" ref="convertApplyDAOImpl"/>
	</bean>
	
	<bean id="probationAssessBO" class="com.cdkj.loan.bo.impl.ProbationAssessBOImpl">
		<property name="paginableDAO" ref="probationAssessDAOImpl"/>
	</bean>
	
	<bean id="assertApplyBO" class="com.cdkj.loan.bo.impl.AssertApplyBOImpl">
		<property name="paginableDAO" ref="assertApplyDAOImpl"/>
	</bean>
	
	<bean id="assertGoodsBO" class="com.cdkj.loan.bo.impl.AssertGoodsBOImpl">
		<property name="paginableDAO" ref="assertGoodsDAOImpl"/>
	</bean>
	
	<bean id="assertUserBO" class="com.cdkj.loan.bo.impl.AssertUserBOImpl">
		<property name="paginableDAO" ref="assertUserDAOImpl"/>
	</bean>
	
	<bean id="transferPositionApplyBO" class="com.cdkj.loan.bo.impl.TransferPositionApplyBOImpl">
		<property name="paginableDAO" ref="transferPositionApplyDAOImpl"/>
	</bean>
	
	<bean id="suppleSignApplyBO" class="com.cdkj.loan.bo.impl.SuppleSignApplyBOImpl">
		<property name="paginableDAO" ref="suppleSignApplyDAOImpl"/>
	</bean>
	
	<bean id="suppleSignApplyDetailBO" class="com.cdkj.loan.bo.impl.SuppleSignApplyDetailBOImpl">
		<property name="paginableDAO" ref="suppleSignApplyDetailDAOImpl"/>
	</bean>
	
	<bean id="feeAdvanceApplyBO" class="com.cdkj.loan.bo.impl.FeeAdvanceApplyBOImpl">
		<property name="paginableDAO" ref="feeAdvanceApplyDAOImpl"/>
	</bean>
	
	<bean id="askForApplyBO" class="com.cdkj.loan.bo.impl.AskForApplyBOImpl">
		<property name="paginableDAO" ref="askForApplyDAOImpl"/>
	</bean>
	
	<bean id="carBreakBO" class="com.cdkj.loan.bo.impl.CarBreakBOImpl">
		<property name="paginableDAO" ref="carBreakDAOImpl"/>
	</bean>
	
	<bean id="welfareApplyBO" class="com.cdkj.loan.bo.impl.WelfareApplyBOImpl">
		<property name="paginableDAO" ref="welfareApplyDAOImpl"/>
	</bean>
	

	<bean id="bizTeamBO" class="com.cdkj.loan.bo.impl.BizTeamBOImpl">
		<property name="paginableDAO" ref="bizTeamDAOImpl"/>
	</bean>
	<bean id="scopePeopleBO" class="com.cdkj.loan.bo.impl.ScopePeopleBOImpl">
		<property name="paginableDAO" ref="scopePeopleDAOImpl"/>
	</bean>
	
	<bean id="noticeReadBO" class="com.cdkj.loan.bo.impl.NoticeReadBOImpl">
		<property name="paginableDAO" ref="noticeReadDAOImpl"/>

	</bean>
	
	<bean id="dayRestBO" class="com.cdkj.loan.bo.impl.DayRestBOImpl">
		<property name="paginableDAO" ref="dayRestDAOImpl"/>
	</bean>
	
	
	<bean id="loanCsBO" class="com.cdkj.loan.bo.impl.LoanCsBOImpl">
		<property name="paginableDAO" ref="loanCsDAOImpl"/>
	</bean>
	
	<bean id="replaceRepayApplyBO" class="com.cdkj.loan.bo.impl.ReplaceRepayApplyBOImpl">
		<property name="paginableDAO" ref="replaceRepayApplyDAOImpl"/>
	</bean>
	
	<bean id="replaceRepayPlanBO" class="com.cdkj.loan.bo.impl.ReplaceRepayPlanBOImpl">
		<property name="paginableDAO" ref="replaceRepayPlanDAOImpl"/>
	</bean>
	
	<bean id="repointDetailBO" class="com.cdkj.loan.bo.impl.RepointDetailBOImpl">
		<property name="paginableDAO" ref="repointDetailDAOImpl"/>
	</bean>
	
	<bean id="advanceFundBO" class="com.cdkj.loan.bo.impl.AdvanceFundBOImpl">
		<property name="paginableDAO" ref="advanceFundDAOImpl"/>
	</bean>
	


	<bean id="judgeBO" class="com.cdkj.loan.bo.impl.JudgeBOImpl">
		<property name="paginableDAO" ref="judgeDAOImpl"/>
	</bean>
	
	<bean id="totalAdvanceFundBO" class="com.cdkj.loan.bo.impl.TotalAdvanceFundBOImpl">
		<property name="paginableDAO" ref="totalAdvanceFundDAOImpl"/>
	</bean>
	
	<bean id="repointBO" class="com.cdkj.loan.bo.impl.RepointBOImpl">
		<property name="paginableDAO" ref="repointDAOImpl"/>
	</bean>
	
	<bean id="contractImportBO" class="com.cdkj.loan.bo.impl.ContractImportBOImpl">
		<property name="paginableDAO" ref="contractImportDAOImpl"/>
	</bean>
	
	<bean id="overdueTreatmentBO" class="com.cdkj.loan.bo.impl.OverdueTreatmentBOImpl">
		<property name="paginableDAO" ref="overdueTreatmentDAOImpl"/>
	</bean>

</beans>
